Repository ampproject/amp-wp, pull requests merged in 2019-12, with the labels that each got.

#3863 Restrict paired browsing to when dev mode is enabled
  includes/class-amp-theme-support.php
  includes/templates/amp-paired-browsing.php
  includes/validation/class-amp-validation-manager.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#3839 Register new post type
  amp.php
  assets/src/edit-story/index.js
  assets/src/edit-story/panels/shared.js
  assets/src/edit-story/style.css
  includes/admin/class-amp-admin-pointers.php
  includes/admin/class-amp-post-meta-box.php
  includes/admin/class-amp-story-templates.php
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/class-amp-post-type-support.php
  includes/class-amp-story-legacy-post-type.php
  includes/class-amp-story-media.php
  includes/class-amp-story-post-type.php
  includes/class-amp-theme-support.php
  includes/edit-story.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/sanitizers/class-amp-story-export-sanitizer.php
  includes/templates/embed-amp-story.php
  includes/templates/single-amp_story.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-meta-box.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-story-media.php
  tests/php/test-class-amp-story-post-type.php
  tests/php/test-class-amp-story-templates.php
  tests/php/validation/test-class-amp-validation-manager.php
  webpack.config.js
Labels: Stories, cla: yes

#3866 Bundle common font files for externalizing data: URLs
  assets/fonts/genericons.woff
  assets/fonts/nonbreakingspaceoverride.woff
  assets/fonts/nonbreakingspaceoverride.woff2
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#3879 Return allowed KSES tags if not an array
  includes/class-amp-story-post-type.php
Labels: cla: yes

#3874 Prevent `wpautop()` from modifying Twitter embed
  includes/embeds/class-amp-twitter-embed-handler.php
  tests/php/test-amp-twitter-embed.php
Labels: cla: yes

#3881 Show plugin name when listing incompatible plugins
  includes/validation/class-amp-validation-manager.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#3115 Stop pinning amp-carousel at v0.1 so that v0.2 can be used
  includes/amp-helper-functions.php
Labels: Size: XS, cla: yes

#3880 Bump stylesheet cache group after change to bundle common font files for externalizing data: URLs
  includes/sanitizers/class-amp-style-sanitizer.php
Labels: cla: yes

#3678 Remove handling of Jetpack shortcodes
  includes/embeds/class-amp-dailymotion-embed.php
  includes/embeds/class-amp-gfycat-embed-handler.php
  includes/embeds/class-amp-hulu-embed-handler.php
  includes/embeds/class-amp-imgur-embed-handler.php
  includes/embeds/class-amp-instagram-embed.php
  includes/embeds/class-amp-issuu-embed-handler.php
  includes/embeds/class-amp-soundcloud-embed.php
  includes/embeds/class-amp-twitter-embed-handler.php
  includes/embeds/class-amp-vimeo-embed.php
  includes/embeds/class-amp-youtube-embed-handler.php
  tests/php/test-amp-dailymotion-embed.php
  tests/php/test-amp-instagram-embed.php
  tests/php/test-amp-soundcloud-embed.php
  tests/php/test-amp-twitter-embed.php
  tests/php/test-amp-vimeo-embed.php
  tests/php/test-class-amp-vimeo-embed-handler.php
  tests/php/test-class-amp-youtube-embed-handler.php
Labels: cla: yes

#3877 Prioritize twentytwenty inline CSS
  composer.json
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/src/PrivateAccess.php
  tests/php/test-amp-carousel.php
  tests/php/test-amp-img-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-amp-tag-and-attribute-sanitizer-private-methods.php
  tests/php/test-class-amp-cli-validation-command.php
  tests/php/test-class-amp-comments-sanitizer.php
  tests/php/test-class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-theme-support.php
Labels: CSS, Sanitizers, Type: Bug, cla: yes

#3837 Allow deleting Pages/elements.
  assets/src/edit-story/app/story/actions/useAddBlankPage.js
  assets/src/edit-story/app/story/actions/useDeleteCurrentPage.js
  assets/src/edit-story/app/story/actions/useDeleteSelectedElements.js
  assets/src/edit-story/app/story/storyProvider.js
  assets/src/edit-story/components/canvas/addpage/index.js
  assets/src/edit-story/components/canvas/carrousel/index.js
  assets/src/edit-story/components/canvas/meta/index.js
  assets/src/edit-story/components/inspector/index.js
  assets/src/edit-story/panels/actions.js
  assets/src/edit-story/panels/index.js
Labels: Stories, cla: yes

#3843 Media Upload Button
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/components/library/libraryLayout.js
  assets/src/edit-story/components/library/libraryProvider.js
  assets/src/edit-story/components/library/mediaLibrary.js
  assets/src/edit-story/components/uploadButton/index.js
  includes/class-amp-story-post-type.php
Labels: Stories, cla: yes

#3915 Test/one moveable
  assets/src/edit-story/components/canvas/page.js
  assets/src/edit-story/components/movable-element/index.js
  assets/src/edit-story/components/movable/index.js
  assets/src/edit-story/elements/image.js
  assets/src/edit-story/elements/text.js
Labels: cla: yes

#3780 Improve validating sanitizer with context for why element/attribute is invalid
  assets/src/block-validation/components/validation-error-message/index.js
  assets/src/block-validation/components/validation-error-message/test/index.js
  bin/amphtml-update.py
  includes/sanitizers/class-amp-audio-sanitizer.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/class-amp-rule-spec.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/sanitizers/class-amp-video-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  tests/php/test-amp-img-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-amp-tag-and-attribute-sanitizer-private-methods.php
  tests/php/test-class-amp-base-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#3921 Add missing src directory to build
  Gruntfile.js
Labels: Type: Bug, cla: yes

#3912 Eliminate JS scroll fix for Twenty Twenty theme
  assets/src/admin/paired-browsing/app.js
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: cla: yes

#3884 Improvements for Moveable
  assets/src/edit-story/app/story/actions/useSetPropertiesById.js
  assets/src/edit-story/app/story/storyProvider.js
  assets/src/edit-story/components/canvas/page.js
  assets/src/edit-story/components/movable/index.js
  assets/src/edit-story/elements/image.js
  assets/src/edit-story/elements/square.js
  assets/src/edit-story/elements/text.js
Labels: Stories, cla: yes

#3926 Fix tests after security fix in WP 5.3.1 (r46896)
  tests/php/test-class-amp-story-post-type.php
Labels: cla: yes

#3908 Add video element
  assets/src/edit-story/elements/index.js
  assets/src/edit-story/elements/video.js
Labels: Stories, cla: no

#3804 Adding in-place editing with RTE
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/components/canvas/canvasLayout.js
  assets/src/edit-story/components/canvas/canvasProvider.js
  assets/src/edit-story/components/canvas/element.js
  assets/src/edit-story/components/canvas/index.js
  assets/src/edit-story/components/canvas/page.js
  assets/src/edit-story/components/canvas/useEditingElement.js
  assets/src/edit-story/components/library/mediaLibrary.js
  assets/src/edit-story/components/library/textLibrary.js
  assets/src/edit-story/components/movable/index.js
  assets/src/edit-story/elements/image.js
  assets/src/edit-story/elements/image/display.js
  assets/src/edit-story/elements/image/edit.js
  assets/src/edit-story/elements/image/index.js
  assets/src/edit-story/elements/image/util.js
  assets/src/edit-story/elements/index.js
  assets/src/edit-story/elements/shared.js
  assets/src/edit-story/elements/square/display.js
  assets/src/edit-story/elements/square/index.js
  assets/src/edit-story/elements/text.js
  assets/src/edit-story/elements/text/display.js
  assets/src/edit-story/elements/text/edit.js
  assets/src/edit-story/elements/text/index.js
  assets/src/edit-story/elements/text/util.js
  assets/src/edit-story/elements/video/display.js
  assets/src/edit-story/elements/video/index.js
  assets/src/edit-story/panels/index.js
  assets/src/edit-story/panels/scale.js
  assets/src/edit-story/panels/text.js
  assets/src/edit-story/theme.js
  assets/src/edit-story/utils/getCaretCharacterOffsetWithin.js
  assets/src/edit-story/utils/useCombinedRefs.js
  assets/src/edit-story/utils/useDoubleClick.js
  assets/src/edit-story/utils/useFunctionState.js
  package-lock.json
  package.json
Labels: Group: Stories Editing, Stories, Type: Enhancement, cla: yes

#3898 Serve back JSON exclusively in amp_validate requests
  includes/class-amp-theme-support.php
  includes/cli/class-amp-cli-validation-command.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-base-sanitizer.php
  tests/php/test-class-amp-cli-validation-command.php
  tests/php/test-class-amp-options-manager.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#3907 Media library
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/components/canvas/page.js
  assets/src/edit-story/components/library/libraryProvider.js
  assets/src/edit-story/components/library/mediaLibrary.js
  assets/src/edit-story/components/uploadButton/index.js
  assets/src/edit-story/elements/video/display.js
  assets/src/edit-story/elements/video/index.js
  assets/src/edit-story/theme.js
Labels: Stories, cla: no

#3940 For images, don't raise a validation error for loading="lazy" or decoding="async"
  includes/sanitizers/class-amp-img-sanitizer.php
  tests/php/test-amp-img-sanitizer.php
Labels: cla: yes

#3941 Remove `loading=lazy` attribute from iframes
  includes/sanitizers/class-amp-iframe-sanitizer.php
  tests/php/test-amp-iframe-sanitizer.php
Labels: cla: yes

#3928 Include admin-bar script deps in dev mode (e.g. hoverintent-js)
  includes/class-amp-theme-support.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#3911 PoC: Insertion and editing of full-bleed components
  assets/src/edit-story/components/canvas/page.js
  assets/src/edit-story/components/movable/index.js
  assets/src/edit-story/constants.js
  assets/src/edit-story/elements/image/display.js
  assets/src/edit-story/elements/image/edit.js
  assets/src/edit-story/elements/image/index.js
  assets/src/edit-story/elements/image/util.js
  assets/src/edit-story/elements/shared.js
  assets/src/edit-story/panels/fullbleed.js
  assets/src/edit-story/panels/index.js
  assets/src/edit-story/panels/position.js
  assets/src/edit-story/panels/rotationAngle.js
  assets/src/edit-story/panels/scale.js
  assets/src/edit-story/panels/shared.js
  assets/src/edit-story/panels/size.js
Labels: Stories, cla: yes

#3956 Catch unfiltered requests when testing Crowsignal embed
  tests/php/test-amp-crowdsignal-embed-handler.php
Labels: cla: yes

#3952 Try/ini aspect ratio
  assets/src/edit-story/components/library/mediaLibrary.js
Labels: cla: yes

#3954 Handle sanitization of security, marginwidth & marginheight iframe attributes
  includes/sanitizers/class-amp-iframe-sanitizer.php
  tests/php/test-amp-iframe-sanitizer.php
Labels: cla: yes

#3871 Save page elements
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/story/actions/useSavePost.js
  assets/src/edit-story/app/story/effects/useLoadStory.js
  assets/src/edit-story/app/story/storyProvider.js
  assets/src/edit-story/components/header/buttons.js
  assets/src/edit-story/components/header/headerLayout.js
  assets/src/edit-story/style.css
  includes/class-amp-autoloader.php
  includes/class-amp-story-post-type.php
  includes/rest-api/class-amp-rest-stories-controller.php
Labels: Stories, cla: yes

#3876 Saving AMP HTML to post_content
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/story/actions/useSavePost.js
  assets/src/edit-story/elements/image/index.js
  assets/src/edit-story/elements/image/save.js
  assets/src/edit-story/elements/shared.js
  assets/src/edit-story/elements/square/index.js
  assets/src/edit-story/elements/square/save.js
  assets/src/edit-story/elements/text/index.js
  assets/src/edit-story/elements/text/save.js
  assets/src/edit-story/elements/video/index.js
  assets/src/edit-story/elements/video/save.js
  assets/src/edit-story/utils/getPercentageFromPixels.js
  includes/class-amp-story-legacy-post-type.php
  includes/class-amp-story-post-type.php
  includes/rest-api/class-amp-rest-stories-controller.php
  includes/templates/single-amp-story.php
  includes/templates/single-legacy-amp-story.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
Labels: Stories, cla: yes

#3962 Fix Moveable CSS conflict for rotation angle
  assets/src/edit-story/components/movable/index.js
Labels: cla: yes

#3972 Fix php linting issues.
  includes/class-amp-story-post-type.php
  includes/validation/class-amp-validation-manager.php
Labels: Stories, cla: yes

#3758 Add AMP_DOM_Document & meta tag sanitizer
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/class-amp-theme-support.php
  includes/embeds/class-amp-facebook-embed.php
  includes/embeds/class-amp-gallery-embed.php
  includes/embeds/class-amp-instagram-embed.php
  includes/embeds/class-amp-twitter-embed-handler.php
  includes/sanitizers/class-amp-audio-sanitizer.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-block-sanitizer.php
  includes/sanitizers/class-amp-comments-sanitizer.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/sanitizers/class-amp-dev-mode-sanitizer.php
  includes/sanitizers/class-amp-embed-sanitizer.php
  includes/sanitizers/class-amp-form-sanitizer.php
  includes/sanitizers/class-amp-gallery-block-sanitizer.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/class-amp-link-sanitizer.php
  includes/sanitizers/class-amp-meta-sanitizer.php
  includes/sanitizers/class-amp-nav-menu-dropdown-sanitizer.php
  includes/sanitizers/class-amp-nav-menu-toggle-sanitizer.php
  includes/sanitizers/class-amp-o2-player-sanitizer.php
  includes/sanitizers/class-amp-playbuzz-sanitizer.php
  includes/sanitizers/class-amp-script-sanitizer.php
  includes/sanitizers/class-amp-story-export-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/sanitizers/class-amp-video-sanitizer.php
  includes/sanitizers/trait-amp-noscript-fallback.php
  includes/templates/class-amp-content-sanitizer.php
  includes/utils/class-amp-dom-utils.php
  includes/validation/class-amp-validation-manager.php
  src/Component/Carousel.php
  src/Dom/Document.php
  src/Dom/ElementList.php
  tests/php/stubs.php
  tests/php/test-amp-analytics-options.php
  tests/php/test-amp-carousel.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp-script-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-amp-twitter-embed.php
  tests/php/test-class-amp-base-sanitizer.php
  tests/php/test-class-amp-comments-sanitizer.php
  tests/php/test-class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-dom-document.php
  tests/php/test-class-amp-dom-utils.php
  tests/php/test-class-amp-link-sanitizer.php
  tests/php/test-class-amp-meta-sanitizer.php
  tests/php/test-class-amp-nav-menu-toggle-sanitizer.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-dom-element-list.php
  tests/php/test-tag-and-attribute-sanitizer.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Sanitizers, Type: Bug, cla: yes

#3886 Integrate with Site Health
  amp.php
  includes/admin/functions.php
  includes/deprecated.php
  includes/options/class-amp-options-manager.php
  src/Admin/SiteHealth.php
  tests/php/test-class-amp-post-type-support.php
  tests/php/test-class-site-health.php
Labels: cla: yes

#3995 Update develop after 1.4.2
  bin/tag-built.sh
  contributing/engineering.md
  readme.md
  readme.txt
Labels: cla: yes

#3999 Fix comma in content.
  assets/src/edit-story/app/story/actions/useSavePost.js
Labels: Stories, cla: yes

#4003 Fix conversion of forms with relative action URLs
  includes/sanitizers/class-amp-form-sanitizer.php
  tests/php/test-amp-form-sanitizer.php
Labels: Sanitizers, Type: Bug, cla: yes

#3953 Keep ratio property: edit panels and moveable
  assets/src/edit-story/components/movable/index.js
  assets/src/edit-story/elements/image/edit.js
  assets/src/edit-story/panels/shared.js
  assets/src/edit-story/panels/size.js
Labels: Stories, cla: yes

#4006 Tiny fix: set a max height and overflow on the inspector
  assets/src/edit-story/app/layout/index.js
  assets/src/edit-story/components/inspector/index.js
Labels: cla: yes

#3728 Validate height, width & layout attributes
  .travis.yml
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/embeds/class-amp-core-block-handler.php
  includes/embeds/class-amp-facebook-embed.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-layout-sanitizer.php
  includes/sanitizers/class-amp-rule-spec.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/sanitizers/class-amp-video-sanitizer.php
  includes/validation/class-amp-css-length.php
  tests/php/test-amp-facebook-embed.php
  tests/php/test-amp-gallery-embed.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp-iframe-sanitizer.php
  tests/php/test-amp-layout-sanitizer.php
  tests/php/test-amp-video-sanitizer.php
  tests/php/test-class-amp-base-sanitizer.php
  tests/php/test-class-amp-core-block-handler.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes
