Repository ampproject/amp-wp, pull requests merged in 2019-05, with the labels that each got.

#2227 Add 'View AMP' link to admin bar in Reader mode; add admin bar item for non-admin users
  amp.php
  includes/amp-helper-functions.php
  includes/validation/class-amp-validation-manager.php
  tests/test-amp-helper-functions.php
  tests/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#2197 Adjust page alignment in carousel
  assets/src/components/editor-carousel/index.js
Labels: AMP-Stories, cla: yes

#2239 Let CTA block default to center alignment
  assets/src/blocks/amp-story-cta/index.js
Labels: AMP-Stories, cla: yes

#2238 Add default value for focalPoint
  assets/src/blocks/amp-story-page/edit.js
Labels: AMP-Stories, cla: yes

#2242 Hide Block Manager option
  assets/css/amp-editor-story-blocks.css
Labels: AMP-Stories, cla: yes

#2241 Force Fixed Toolbar
  assets/css/amp-editor-story-blocks.css
  assets/src/amp-story-editor-blocks.js
Labels: AMP-Stories, [AMP-Stories] Editing features, [AMP-Stories] Navigation UI, cla: yes

#2240 Improve video poster image handling
  assets/src/blocks/amp-story-page/edit.css
  assets/src/blocks/amp-story-page/edit.js
Labels: AMP-Stories, cla: yes

#2244 Draggable Block Navigation
  assets/src/blocks/amp-story-page/edit.css
  assets/src/components/block-navigation/edit.css
  assets/src/components/block-navigation/index.js
  assets/src/components/block-navigation/item.js
  assets/src/components/reorderer/index.js
  assets/src/components/reorderer/item.js
Labels: AMP-Stories, cla: yes

#2256 Allow Custom HTML block in stories for sake of resolving block validation errors
  assets/src/constants.js
Labels: AMP-Stories, cla: yes

#2249 Force pages to have full height when reordering
  assets/src/components/reorderer/edit.css
Labels: AMP-Stories, cla: yes

#2264 Move setting caption out of render method.
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/index.js
Labels: AMP-Stories, cla: yes

#2262 Fix broken CSS.
  assets/css/amp-editor-story-blocks.css
Labels: AMP-Stories, cla: yes

#2250 Fix not resized image appearing very small in the frontend
  assets/css/amp-stories-frontend.css
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/index.js
Labels: AMP-Stories, cla: yes

#2267 Fix auto font size displaying larger than the Text block area.
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2246 Add transform for Text block to prevent error when pasting
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/blocks/amp-story-text/index.js
Labels: AMP-Stories, cla: yes

#2260 Account for escaped chars in CSS class names
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: cla: yes

#2196 Fix rotation + animation conflict.
  assets/css/amp-stories-frontend.css
  assets/src/stories-editor/helpers/index.js
  includes/admin/class-amp-story-templates.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/title-page.html
  includes/templates/story-templates/travel-cta.html
  includes/templates/story-templates/travel-tip.html
  tests/test-tag-and-attribute-sanitizer.php
Labels: AMP-Stories, cla: yes

#2271 Use block editor at all times for stories
  includes/class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#2269 Use postcss-themes where applicable
  assets/src/components/rotatable-box/edit.css
  assets/src/components/template-inserter/edit.css
Labels: AMP-Stories, cla: yes

#2272 Open documentation link in new tab/window
  includes/options/class-amp-options-menu.php
Labels: AMP-Stories, cla: yes

#1925 Remove obsolete Jetpack and WPCOM files
  Gruntfile.js
  amp.php
  jetpack-helper.php
  wpcom-helper.php
  wpcom/shortcodes.php
Labels: cla: yes

#2278 Fix background opacity.
  assets/src/common/helpers/index.js
  assets/src/common/helpers/test/getBackgroundColorWithOpacity.js
  assets/src/stories-editor/blocks/amp-story-page/test/__snapshots__/index.js.snap
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/travel-tip.html
Labels: cla: yes

#2273 Allow dragging rotated, unselected blocks
  assets/src/components/block-mover/draggable.js
  assets/src/components/block-mover/index.js
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/components/rotatable-box/edit.css
  assets/src/components/rotatable-box/index.js
  assets/src/components/story-block-drop-zone.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2266 Hide the block inserter and the shortcuts when reordering pages
  assets/src/components/inserter/index.js
  assets/src/components/shortcuts/index.js
Labels: AMP-Stories, cla: yes

#2270 AMP Stories -> Stories
  includes/admin/class-amp-admin-pointers.php
  includes/class-amp-story-post-type.php
  includes/options/class-amp-options-menu.php
Labels: AMP-Stories, cla: yes

#2255 Prevent video block from causing AMP validation errors in stories
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/components/higher-order/with-video-poster-image-notice.js
  assets/src/components/index.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/index.js
  bin/amphtml-update.py
  includes/sanitizers/class-amp-allowed-tags-generated.php
Labels: AMP-Stories, cla: yes

#2290 Fix templates' validation errors.
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/title-page.html
  includes/templates/story-templates/travel-tip.html
Labels: AMP-Stories, cla: yes

#2292 Speed up PHPCS
  phpcs.xml
Labels: [Type] Enhancement, cla: yes

#2297 Update amphtml to 1905021827420
  includes/sanitizers/class-amp-allowed-tags-generated.php
  tests/test-class-amp-theme-support.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#2299 Prevent using video icon as poster when no featured image assigned
  assets/src/stories-editor/blocks/amp-story-page/edit.js
Labels: AMP-Stories, cla: yes

#2245 Address AMP Stories embed and Latest Stories styling issues
  assets/css/amp-story-card.css
  includes/class-amp-story-post-type.php
  tests/test-class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#2295 Hide alignment controls and video toggles
  assets/css/amp-stories.css
  assets/src/stories-editor/blocks/amp-story-page/edit.css
  assets/src/stories-editor/index.js
Labels: AMP-Stories, [AMP-Stories] Editing features, cla: yes

#2303 Fix block navigation label class name to correct styling
  assets/src/components/block-navigation/index.js
Labels: AMP-Stories, [AMP-Stories] Navigation UI, [Type] Bug, cla: yes

#2293 Use more unescaped Unicode to prevent escaped characters from appearing
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-comments-sanitizer.php
Labels: cla: yes

#2308 Patch test_add_block_source_comments for Gutenberg 5.7 update
  tests/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#2243 Prevent themes from overriding font sizes in stories
  assets/src/stories-editor/helpers/index.js
  includes/class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#2320 Fix background color opacity edge case
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2285 Refactoring and improving validation error handling
  assets/src/amp-validation/amp-validated-url-post-edit-screen.js
  assets/src/amp-validation/amp-validated-urls-index.js
  assets/src/amp-validation/amp-validation-detail-toggle.js
  assets/src/block-editor/amp-block-validation.js
  assets/src/block-editor/amp-editor-blocks.js
  assets/src/block-editor/blocks/amp-brid-player/index.js
  assets/src/block-editor/blocks/amp-ima-video/index.js
  assets/src/block-editor/blocks/amp-jwplayer/index.js
  assets/src/block-editor/blocks/amp-o2-player/index.js
  assets/src/block-editor/blocks/amp-ooyala-player/index.js
  assets/src/block-editor/blocks/amp-reach-player/index.js
  assets/src/block-editor/blocks/amp-springboard-player/index.js
  assets/src/block-editor/blocks/amp-timeago/index.js
  assets/src/block-editor/constants.js
  assets/src/block-editor/helpers/index.js
  assets/src/block-editor/index.js
  assets/src/block-editor/plugins/amp-toggle.js
  assets/src/block-editor/store/index.js
  assets/src/block-editor/store/selectors.js
  assets/src/block-editor/store/test/selectors.js
  assets/src/block-validation/constants.js
  assets/src/block-validation/helpers/index.js
  assets/src/block-validation/index.js
  assets/src/block-validation/store/actions.js
  assets/src/block-validation/store/index.js
  assets/src/block-validation/store/reducer.js
  assets/src/block-validation/store/selectors.js
  assets/src/block-validation/store/test/actions.js
  assets/src/block-validation/store/test/reducer.js
  assets/src/block-validation/store/test/selectors.js
  assets/src/common/constants.js
  assets/src/components/font-family-picker/index.js
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/components/higher-order/with-validation-error-notice.js
  assets/src/components/index.js
  assets/src/components/layout-controls.js
  assets/src/components/media-placeholder.js
  assets/src/components/validation-error-message.js
  assets/src/stories-editor/helpers/index.js
  includes/admin/class-amp-editor-blocks.php
  includes/admin/class-amp-post-meta-box.php
  includes/class-amp-story-post-type.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  tests/test-class-amp-editor-blocks.php
  tests/test-class-amp-meta-box.php
  tests/validation/test-class-amp-validated-url-post-type.php
  tests/validation/test-class-amp-validation-manager.php
  webpack.config.js
Labels: AMP-Stories, cla: yes, validation-errors

#2279 Move block positioning to block sidebar.
  assets/images/bring-forward.svg
  assets/images/bring-front.svg
  assets/images/send-back.svg
  assets/images/send-backwards.svg
  assets/src/components/block-mover/edit.css
  assets/src/components/block-mover/icons.js
  assets/src/components/block-mover/index.js
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/test/getBlockOrderDescription.js
Labels: AMP-Stories, cla: yes

#2319 Check that required classes/functions have not been disabled
  amp.php
Labels: cla: yes

#2331 Fix assigning incorrect attributes to image block.
  assets/src/block-editor/helpers/index.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2268 Replace `WP_DEBUG` constant with individual constants
  includes/class-amp-http.php
  includes/class-amp-theme-support.php
  tests/test-class-amp-http.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes

#2328 Account for toggleClass when obtaining used class names for tree shaking
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: cla: yes, css

#2329 Greatly simplify createSkeletonTemplate
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, [AMP-Stories] Templates, cla: yes

#2336 Bring back tooltips for story controls
  assets/src/components/template-inserter/edit.css
Labels: AMP-Stories, cla: yes

#2338 Fix Latest Stories block styling; prevent registering block when Stories not enabled
  assets/src/block-editor/blocks/amp-latest-stories/edit.js
  assets/src/block-editor/index.js
  includes/admin/class-amp-editor-blocks.php
  includes/class-amp-story-post-type.php
  tests/test-class-amp-editor-blocks.php
  tests/test-class-amp-meta-box.php
Labels: AMP-Stories, cla: yes

#2296 Improve text block size handling
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/components/with-meta-block-edit.js
  assets/src/stories-editor/blocks/amp-story-post-author/edit.css
  assets/src/stories-editor/blocks/amp-story-post-date/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/index.js
  assets/src/stories-editor/blocks/amp-story-text/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/blocks/amp-story-text/index.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2351 Fix properties for setting image width and height.
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2355 Add the Latest Stories data hook
  includes/class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#2310 Fix resizing for rotated blocks
  assets/src/block-editor/helpers/index.js
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/components/resizable-box/edit.css
  assets/src/components/resizable-box/index.js
  assets/src/stories-editor/blocks/amp-story-page/edit.css
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/test/getBlockPositioning.js
  assets/src/stories-editor/helpers/test/getResizedWidthAndHeight.js
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/title-page.html
  includes/templates/story-templates/travel-cta.html
  includes/templates/story-templates/travel-tip.html
Labels: AMP-Stories, cla: yes

#2364 Do not try to download Chromium by default
  .travis.yml
Labels: AMP-Stories, cla: yes

#2352 Fix dragging after resizing / rotation
  assets/src/components/higher-order/with-amp-story-settings.js
Labels: AMP-Stories, cla: yes

#2360 Further FE/Editor disparity improvements
  assets/css/amp-stories.css
  assets/src/stories-editor/helpers/index.js
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/title-page.html
Labels: AMP-Stories, cla: yes

#2363 Update packages and fix tests
  .gitignore
  .travis.yml
  Gruntfile.js
  assets/src/admin/amp-admin-pointer.js
  assets/src/admin/amp-validation-tooltips.js
  assets/src/block-validation/store/selectors.js
  assets/src/block-validation/store/test/selectors.js
  assets/src/classic-editor/amp-post-meta-box.js
  assets/src/components/animation-order-picker.js
  assets/src/components/font-family-picker/index.js
  assets/src/components/font-family-picker/test/__snapshots__/index.js.snap
  assets/src/components/font-family-picker/test/index.js
  assets/src/components/preview-picker/index.js
  assets/src/stories-editor/blocks/amp-story-text/test/index.js
  assets/src/stories-editor/helpers/test/getBlockOrderDescription.js
  assets/src/stories-editor/store/test/reducer.js
  bin/phpcbf.sh
  includes/admin/class-amp-editor-blocks.php
  includes/admin/class-amp-post-meta-box.php
  includes/class-amp-story-post-type.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  package-lock.json
  package.json
  patches/@wordpress+dependency-extraction-webpack-plugin+1.0.0.patch
  tests/test-class-amp-editor-blocks.php
  tests/test-class-amp-meta-box.php
  tests/unit/__mocks__/amp-stories-fonts.js
  tests/unit/setup-globals.js
  tests/validation/test-class-amp-validation-manager.php
  webpack.config.js
Labels: AMP-Stories, cla: yes

#2368 Increase default minimum block height for meta blocks
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2369 Don't export the Latest Stories data in the AMP Story editor
  includes/class-amp-story-post-type.php
  tests/test-class-amp-meta-box.php
Labels: AMP-Stories, cla: yes

#2348 Staticize emoji images in AMP pages instead of just removing emoji handling
  .travis.yml
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-img-sanitizer.php
  tests/test-amp-img-sanitizer.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes

#2375 Remove temp patch for dependency-extraction-webpack-plugin
  package-lock.json
  package.json
  patches/@wordpress+dependency-extraction-webpack-plugin+1.0.0.patch
Labels: AMP-Stories, cla: yes

#2343 Keep content in skeleton templates
  assets/css/amp-editor-story-blocks.css
  assets/src/components/editor-carousel/index.js
  assets/src/components/template-inserter/index.js
  assets/src/components/with-meta-block-edit.js
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2337 Improve styling for CTA warnings
  assets/css/amp-stories.css
  assets/src/components/editor-carousel/edit.css
Labels: AMP-Stories, cla: yes

#2365 Fix odd behavior when transforming Text to List block
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/index.js
Labels: cla: yes

#2378 Fix console error for Text block onReplace
  assets/src/stories-editor/blocks/amp-story-text/edit.js
Labels: AMP-Stories, cla: yes

#2383 Improve block navigation position
  assets/src/components/block-navigation/edit.css
  assets/src/components/editor-carousel/edit.css
Labels: AMP-Stories, cla: yes

#2396 Improve meta block height calculation
  assets/src/stories-editor/blocks/amp-story-post-author/edit.css
  assets/src/stories-editor/blocks/amp-story-post-date/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2395 Update min and max font sizes to match amp-fit-text
  assets/src/common/constants.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2346 Introduce stylesheet prioritization when determining which to concatenate
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
  tests/test-class-amp-options-manager.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes, css

#2399 Adjust style for font calculation.
  assets/css/amp-editor-story-blocks.css
  assets/src/stories-editor/blocks/amp-story-post-author/edit.css
  assets/src/stories-editor/blocks/amp-story-post-date/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.css
Labels: AMP-Stories, cla: yes

#2400 Only allow pan- animations for images
  assets/src/components/animation-controls.js
Labels: AMP-Stories, [AMP-Stories] Playback, cla: yes

#2398 Merge amp-editor-blocks into amp-block-editor
  assets/css/amp-block-editor.css
  assets/css/amp-stories-editor.css
  assets/css/amp-stories.css
  assets/src/block-editor/amp-editor-blocks.js
  assets/src/block-editor/helpers/index.js
  assets/src/block-editor/index.js
  includes/admin/class-amp-editor-blocks.php
  includes/admin/class-amp-post-meta-box.php
  includes/class-amp-story-post-type.php
  tests/test-class-amp-editor-blocks.php
  webpack.config.js
Labels: cla: yes

#2385 Change image size while resizing.
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/components/resizable-box/edit.css
  assets/src/components/resizable-box/index.js
Labels: AMP-Stories, cla: yes

#2405 Remove admin-bar class name from body when admin bar element removed due to excessive CSS
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: cla: yes, css

#2414 Remove timeago.js in favor of Moment.js
  assets/src/block-editor/blocks/amp-timeago/index.js
  package-lock.json
  package.json
Labels: [Priority] Low, cla: yes, gutenberg

#1929 Add first-party support for Crowdsignal poll/survey oEmbeds
  bin/create-embed-test-post.php
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/embeds/class-amp-crowdsignal-embed-handler.php
  phpcs.xml
  tests/test-amp-crowdsignal-embed-handler.php
  wpcom/class-amp-polldaddy-embed.php
Labels: cla: yes

#1873 Add core theme support for Twenty Fourteen
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: cla: yes

#2423 Remove requirement that curl multi functions exist
  amp.php
Labels: cla: yes

#2407 Add theme compat for Twenty Ten, Twenty Eleven, and Twenty Twelve
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/validation/class-amp-validation-manager.php
Labels: cla: yes

#2420 Improve validation of the nodes in the head
  includes/sanitizers/class-amp-script-sanitizer.php
  includes/utils/class-amp-dom-utils.php
  tests/test-amp-script-sanitizer.php
  tests/test-class-amp-dom-utils.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#2428 Improve video block style to match resizing.
  assets/css/amp-stories-editor.css
  assets/css/amp-stories-frontend.css
Labels: AMP-Stories, cla: yes

#2429 Change block sidebar calculation to work for smaller screens
  assets/src/components/block-navigation/edit.css
Labels: cla: yes

#2408 Update Travis CI configuration
  .dev-lib
  .travis.yml
  composer.json
  composer.lock
  tests/e2e/jest.config.js
  tests/test-amp-style-sanitizer.php
  tests/test-class-amp-service-worker.php
  tests/test-class-amp-story-post-type.php
  tests/unit/jest.config.js
Labels: cla: yes

#2433 Apply animation to the outer wrapper and rotation to inner element
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2416 Fix resizing and minimum limits
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/components/resizable-box/index.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2417 Improve styling of AMP admin screen and AMP admin menu item
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
Labels: cla: yes

#2444 Use shorthand Fragment syntax everywhere
  assets/src/block-editor/blocks/amp-brid-player/index.js
  assets/src/block-editor/blocks/amp-ima-video/index.js
  assets/src/block-editor/blocks/amp-jwplayer/index.js
  assets/src/block-editor/blocks/amp-latest-stories/edit.js
  assets/src/block-editor/blocks/amp-o2-player/index.js
  assets/src/block-editor/blocks/amp-ooyala-player/index.js
  assets/src/block-editor/blocks/amp-reach-player/index.js
  assets/src/block-editor/blocks/amp-springboard-player/index.js
  assets/src/block-editor/blocks/amp-timeago/index.js
  assets/src/block-editor/helpers/index.js
  assets/src/block-editor/plugins/amp-toggle.js
  assets/src/components/animation-controls.js
  assets/src/components/block-navigation/item.js
  assets/src/components/block-preview-label.js
  assets/src/components/editor-carousel/index.js
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/components/higher-order/with-call-to-action-validation.js
  assets/src/components/higher-order/with-featured-image-notice.js
  assets/src/components/higher-order/with-page-number.js
  assets/src/components/higher-order/with-story-featured-image-notice.js
  assets/src/components/higher-order/with-validation-error-notice.js
  assets/src/components/higher-order/with-video-poster-image-notice.js
  assets/src/components/layout-controls.js
  assets/src/components/pre-publish-panel.js
  assets/src/components/reorderer/item.js
  assets/src/components/story-controls/index.js
  assets/src/components/validation-error-message.js
  assets/src/components/with-meta-block-edit.js
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/blocks/amp-story-text/edit.js
Labels: cla: yes

#2446 Disable changing font size if the element doesn't have height/width.
  assets/src/stories-editor/helpers/index.js
Labels: AMP-Stories, cla: yes

#2452 Improve detection for theme being installed in unit test
  tests/test-amp-style-sanitizer.php
Labels: cla: yes

#2451 Enforce unique constraints from validator
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#2443 Ensure CTA block being last
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/helpers/index.js
Labels: cla: yes

#2458 Ensure respecting limits for amp-fit-text, too.
  assets/src/components/resizable-box/index.js
Labels: AMP-Stories, cla: yes

#2460 Hide video overflow in the editor.
  assets/css/amp-stories-editor.css
Labels: AMP-Stories, cla: yes

#2461 Update release instructions to include more details
  contributing.md
Labels: cla: yes

#2462 Add missing prop types
  .eslintrc
  assets/src/stories-editor/blocks/amp-story-page/edit.js
Labels: AMP-Stories, cla: yes

#2463 Fix CSS with stylelint
  .stylelintignore
  .stylelintrc.json
  .travis.yml
  assets/css/admin-tables.css
  assets/css/amp-customizer.css
  assets/css/amp-default.css
  assets/css/amp-post-meta-box.css
  assets/css/amp-stories-editor.css
  assets/css/amp-stories-frontend.css
  assets/css/amp-stories.css
  assets/css/amp-story-card.css
  assets/css/amp-validation-error-taxonomy.css
  assets/css/amp-validation-single-error-url.css
  assets/css/amp-validation-tooltips.css
  assets/src/components/block-navigation/edit.css
  assets/src/components/editor-carousel/edit.css
  assets/src/components/reorderer/edit.css
  assets/src/components/resizable-box/edit.css
  assets/src/components/rotatable-box/edit.css
  assets/src/components/story-controls/edit.css
  assets/src/components/template-inserter/edit.css
  assets/src/stories-editor/blocks/amp-story-cta/edit.css
  assets/src/stories-editor/blocks/amp-story-page/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.css
Labels: cla: yes

#2468 Add amp_story_supports_landscape filter for initial opt-in to landscape support for stories
  includes/templates/single-amp_story.php
Labels: AMP-Stories, cla: yes

#2469 Add Tag and Category taxonomies to Stories
  includes/class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#2459 Improve behavior for selected blocks
  assets/src/components/rotatable-box/edit.css
  assets/src/stories-editor/blocks/amp-story-page/edit.css
Labels: AMP-Stories, cla: yes

#2481 Keep rotation for skeleton template. Add vertical template.
  assets/images/story-templates/rome.png
  assets/src/components/template-inserter/edit.css
  assets/src/stories-editor/helpers/index.js
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/travel-vertical.html
Labels: AMP-Stories, cla: yes

#2483 Adjust title block's font weight.
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
Labels: AMP-Stories, cla: yes

#2478 Add color options to CTA block
  assets/css/amp-stories-editor.css
  assets/css/amp-stories.css
  assets/src/components/higher-order/with-amp-story-settings.js
  assets/src/components/template-inserter/index.js
  assets/src/components/with-wrapper-props.js
  assets/src/stories-editor/blocks/amp-story-cta/edit.css
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
  assets/src/stories-editor/blocks/amp-story-cta/index.js
  assets/src/stories-editor/blocks/amp-story-cta/save.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/travel-cta.html
Labels: AMP-Stories, cla: yes

#2485 Improve page borders
  assets/src/components/editor-carousel/index.js
  assets/src/stories-editor/blocks/amp-story-page/edit.css
Labels: [AMP-Stories] Navigation UI, [AMP-Stories] Templates, cla: yes

#2434 Measure Code Coverage
  .dev-lib
  .travis.yml
  Gruntfile.js
  amp.php
  codecov.yml
  tests/unit/jest.config.js
  tests/validation/test-class-amp-validated-url-post-type.php
  tests/validation/test-class-amp-validation-error-taxonomy.php
Labels: cla: yes
