Repository ampproject/amp-wp, pull requests merged in 2019-11, with the labels that each got.

#3683 Replace deprecated WP_Admin_Bar::add_menu() with WP_Admin_Bar::add_node()
  includes/amp-helper-functions.php
Labels: cla: yes

#3681 Remove maximum-scale=1 and user-scalable=no from Reader template meta viewport
  templates/html-start.php
Labels: Accessibility, cla: yes

#3690 Remove obsolete meta viewport properties from v0.3 back-compat template
  back-compat/templates-v0-3/single.php
Labels: cla: yes

#3661 Check if element is not in top toolbar.
  assets/src/stories-editor/components/higher-order/with-context-menu.js
Labels: AMP Stories, cla: yes

#3698 Omit `mozallowfullscreen` & `webkitallowfullscreen` when sanitizing iframe
  includes/sanitizers/class-amp-iframe-sanitizer.php
  tests/php/test-amp-iframe-sanitizer.php
Labels: cla: yes

#3682 Fix DOM exception "Not Found Error" when cleaning up after invalid attribute removal
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validation-manager.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: P0, Type: Bug, cla: yes

#3697 Add AMP on protected posts
  includes/class-amp-post-type-support.php
  includes/templates/class-amp-post-template.php
  tests/php/test-class-amp-post-type-support.php
Labels: cla: yes

#3703 Escape instances of unescapeed output in AMP settings screen code
  includes/options/class-amp-options-manager.php
Labels: cla: yes

#3358 Improve handling of YouTube embeds
  includes/class-amp-autoloader.php
  includes/embeds/class-amp-base-embed-handler.php
  includes/embeds/class-amp-dailymotion-embed.php
  includes/embeds/class-amp-instagram-embed.php
  includes/embeds/class-amp-soundcloud-embed.php
  includes/embeds/class-amp-vimeo-embed.php
  includes/embeds/class-amp-vine-embed.php
  includes/embeds/class-amp-youtube-embed-handler.php
  phpcs.xml
  tests/php/test-amp-youtube-embed.php
  tests/php/test-class-amp-youtube-embed-handler.php
Labels: cla: yes

#3706 Remove amp_validate query var from Validated URL 'View' row action
  includes/validation/class-amp-validated-url-post-type.php
Labels: cla: yes

#3707 Fix failing E2E tests
  tests/e2e/config/bootstrap.js
  tests/e2e/specs/stories-editor/resizing.js
Labels: cla: yes

#3708 Fix identifying sources for validation errors coming child themes
  includes/validation/class-amp-validation-manager.php
Labels: cla: yes

#3323 Add an 'AMP Preview' button to the block editor
  assets/css/src/amp-block-editor.css
  assets/images/amp-black-icon.svg
  assets/src/block-editor/components/amp-preview.js
  assets/src/block-editor/components/index.js
  assets/src/block-editor/constants.js
  assets/src/block-editor/helpers/index.js
  assets/src/block-editor/helpers/test/renderPreviewButton.js
  assets/src/block-editor/index.js
  assets/src/block-editor/store/selectors.js
  assets/src/block-editor/store/test/selectors.js
  includes/admin/class-amp-post-meta-box.php
  tests/php/test-class-amp-meta-box.php
Labels: cla: yes

#3676 Allow right click for meta blocks
  assets/src/stories-editor/blocks/amp-story-post-author/edit.css
  assets/src/stories-editor/blocks/amp-story-post-date/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
  assets/src/stories-editor/components/with-meta-block-edit.js
Labels: AMP Stories, Type: Bug, cla: yes

#3709 Fix summarizing error sources both parent theme and child theme
  includes/validation/class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
Labels: cla: yes

#3717 Include text content of style element in validation error
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
Labels: cla: yes

#3718 Story bug fixes for 1.4.1
  assets/src/stories-editor/blocks/amp-story-post-author/edit.css
  assets/src/stories-editor/blocks/amp-story-post-date/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
  assets/src/stories-editor/components/higher-order/with-context-menu.js
  assets/src/stories-editor/components/with-meta-block-edit.js
Labels: AMP Stories, cla: yes

#3715 Default to the homepage for the AMP Customizer menu item
  includes/admin/functions.php
Labels: cla: yes

#3720 Add missing space after sentence
  includes/validation/class-amp-validated-url-post-type.php
Labels: cla: yes

#3721 Tidy up validation error details
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
Labels: cla: yes

#3723 Conditionally run E2E tests
  bin/local-env/run-e2e-tests.js
  package-lock.json
  package.json
Labels: cla: yes

#3722 Improve display of validation errors for scripts
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
Labels: cla: yes

#3727 Use length property instead of PHP≥7.2 count() method on DOMNodeList
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: cla: yes

#3749 Fix expected image name after upstream change
  tests/e2e/specs/stories-editor/featured-image-automatically-set.js
Labels: AMP Stories, Type: Bug, Type: Upstream Bug, cla: yes

#3732 Remove duplicate script entries
  tests/php/test-class-amp-theme-support.php
Labels: Sanitizers, Type: Enhancement, cla: yes

#1753 Provide a placeholder element for Twitter embeds
  includes/class-amp-autoloader.php
  includes/embeds/class-amp-twitter-embed-handler.php
  tests/php/test-amp-twitter-embed.php
Labels: Group: Embeds, Size: XS, cla: yes

#3757 Update project management board references.
  contributing/project-management.md
Labels: cla: yes

#3705 Remove scripts for components that were not detected in output buffer
  bin/amphtml-update.py
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-class-amp-theme-support.php
Labels: Sanitizers, Type: Enhancement, cla: yes

#3790 Fix expanded menu when screen width is <1000px for Twenty Twenty theme
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: cla: yes

#3782 Ignore test utils from code coverage
  tests/js/jest.config.js
Labels: cla: yes

#3797 Ensure Stories preview in e2e tests meets minimum viewport requirements.
  tests/e2e/utils/open-preview-page.js
Labels: AMP Stories (obsolete), cla: yes

#3781 Pass entire Reader mode templates through post-processor
  .travis.yml
  amp.php
  includes/amp-helper-functions.php
  includes/amp-post-template-functions.php
  includes/class-amp-theme-support.php
  includes/deprecated.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/templates/class-amp-content.php
  includes/templates/class-amp-post-template.php
  includes/templates/reader-template-loader.php
  templates/featured-image.php
  templates/html-end.php
  templates/html-start.php
  tests/php/test-amp-analytics-options.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp-render-post.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#3796 Use white-space:pre-wrap on pre tags to prevent overflowing container
  assets/css/src/amp-validation-single-error-url.css
Labels: cla: yes

#3793 Improve error messages when validation requests fail
  includes/options/class-amp-options-manager.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
Labels: cla: yes

#3815 Optimize is_amp_allowed_attribute checking for reference points
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#3659 Enable captions on Gallery shortcodes
  bin/build-plugin-zip.sh
  composer.json
  contributing/engineering.md
  includes/embeds/class-amp-gallery-embed.php
  includes/sanitizers/class-amp-gallery-block-sanitizer.php
  phpcs.xml
  src/Component/CaptionedSlide.php
  src/Component/Carousel.php
  src/Component/DOMElementList.php
  src/Component/HasCaption.php
  tests/php/test-amp-carousel.php
  tests/php/test-amp-gallery-embed.php
  tests/php/test-class-amp-gallery-block-sanitizer.php
  tests/php/test-dom-element-list.php
Labels: cla: yes

#3798 Basic implementation of react-moveable npm package for dragging, resizing, rotating
  assets/src/edit-story/components/canvas/page.js
  assets/src/edit-story/components/library/mediaLibrary.js
  assets/src/edit-story/components/library/shapeLibrary.js
  assets/src/edit-story/components/library/textLibrary.js
  assets/src/edit-story/elements/image.js
  assets/src/edit-story/elements/shared.js
  assets/src/edit-story/elements/square.js
  assets/src/edit-story/elements/text.js
  assets/src/edit-story/panels/index.js
  assets/src/edit-story/panels/position.js
  assets/src/edit-story/panels/rotationAngle.js
  assets/src/edit-story/panels/size.js
  package-lock.json
  package.json
Labels: Stories, cla: yes

#3823 For a Gallery block with a lightbox, allow viewing multiple images in the lightbox
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-gallery-block-sanitizer.php
  tests/php/test-class-amp-gallery-block-sanitizer.php
Labels: cla: yes

#3841 Update react-moveable
  package-lock.json
  package.json
Labels: Stories, cla: yes

#3847 Pull the built `block-libray` package from Gutenberg SVN
  .dev-lib
Labels: cla: yes

#3656 Add paired browsing interface
  .eslintrc
  assets/src/admin/paired-browsing/app.css
  assets/src/admin/paired-browsing/app.js
  assets/src/admin/paired-browsing/client.js
  includes/class-amp-theme-support.php
  includes/templates/amp-paired-browsing.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
  tests/php/validation/test-class-amp-validation-manager.php
  webpack.config.js
Labels: cla: yes
