Repository ampproject/amp-wp, pull requests merged in 2019-03, with the labels that each got.

#1885 [AMP Stories] Font Selection
  .babelrc
  .eslintrc
  assets/css/amp-editor-story-blocks.css
  assets/css/amp-stories.css
  assets/images/font-names/arimo.svg
  assets/images/font-names/lato.svg
  assets/images/font-names/lora.svg
  assets/images/font-names/merriweather.svg
  assets/images/font-names/montserrat.svg
  assets/images/font-names/noto-sans.svg
  assets/images/font-names/open-sans-condensed.svg
  assets/images/font-names/open-sans.svg
  assets/images/font-names/oswald.svg
  assets/images/font-names/playfair-display.svg
  assets/images/font-names/pt-sans-narrow.svg
  assets/images/font-names/pt-sans.svg
  assets/images/font-names/pt-serif.svg
  assets/images/font-names/raleway.svg
  assets/images/font-names/roboto-condensed.svg
  assets/images/font-names/roboto-slab.svg
  assets/images/font-names/roboto.svg
  assets/images/font-names/slabo-27.svg
  assets/images/font-names/source-sans-pro.svg
  assets/images/font-names/ubuntu.svg
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story/edit.js
  assets/src/blocks/amp-story/index.js
  assets/src/components/animation-controls.js
  assets/src/components/font-family-picker.js
  assets/src/components/index.js
  assets/src/components/with-amp-story-settings.js
  assets/src/components/with-animation-controls.js
  assets/src/constants.js
  assets/src/helpers.js
  includes/class-amp-story-post-type.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/templates/single-amp_story.php
  package-lock.json
  package.json
  tests/test-amp-style-sanitizer.php
  webpack.config.js
Labels: AMP-Stories, [AMP-Stories] Editing features, cla: yes

#1913 Add noscript iframe fallbacks for amp-iframe for no-JS browsers
  includes/sanitizers/class-amp-audio-sanitizer.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/class-amp-video-sanitizer.php
  tests/test-amp-audio-converter.php
  tests/test-amp-iframe-sanitizer.php
  tests/test-amp-img-sanitizer.php
  tests/test-amp-script-sanitizer.php
  tests/test-amp-video-sanitizer.php
Labels: cla: yes

#1917 [AMP Stories] Remove all blocks that aren't whitelisted
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story/edit.js
  assets/src/components/with-amp-story-settings.js
  assets/src/components/with-animation-controls.js
  assets/src/constants.js
Labels: cla: yes

#1904 [AMP Stories] Animation Order
  assets/css/amp-editor-story-blocks.css
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story/edit.js
  assets/src/components/animation-controls.js
  assets/src/components/animation-order-picker.js
  assets/src/components/font-family-picker.js
  assets/src/components/index.js
  assets/src/components/with-animation-controls.js
  assets/src/components/with-attributes.js
  assets/src/stores/amp-story.js
  includes/class-amp-story-post-type.php
Labels: AMP-Stories, [AMP-Stories] Playback, cla: yes

#1923 Bump 'Tested up to' in readme.txt to WordPress 5.1
  readme.md
  readme.txt
Labels: cla: yes

#1930 Fix invoking is_amp_endpoint() when there is no WP_Query
  includes/amp-helper-functions.php
  tests/test-amp-helper-functions.php
Labels: cla: yes

#1934 Prevent serving AMP for post embeds
  includes/amp-helper-functions.php
  tests/test-amp-helper-functions.php
Labels: [Type] Bug, cla: yes

#1937 [AMP Stories] Fix: restore amp-story-page ID attribute
  assets/src/blocks/amp-story/index.js
Labels: cla: yes

#1938 Account for ambiguity in matching templates by incorporating template priority order from core
  .gitignore
  Gruntfile.js
  composer.lock
  includes/class-amp-theme-support.php
  tests/test-class-amp-theme-support.php
Labels: [Type] Bug, cla: yes

#1942 Add renovate.json config so Renovate will continue to run
  renovate.json
Labels: cla: yes

#1916 AMP Latest Stories dynamic block
  assets/css/amp-blocks.css
  assets/css/amp-editor-blocks.css
  assets/js/amp-editor-blocks.js
  assets/src/blocks/amp-latest-stories/edit.js
  assets/src/blocks/amp-latest-stories/index.js
  assets/src/blocks/index.js
  includes/admin/class-amp-editor-blocks.php
  includes/class-amp-story-post-type.php
  tests/test-class-amp-editor-blocks.php
  tests/test-class-amp-story-post-type.php
Labels: cla: yes

#1918 Take text length into account for determining semantics
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/get-tag-name.js
  package-lock.json
  package.json
Labels: AMP-Stories, [AMP-Stories] Autosmartness, cla: yes

#1951 Update allowed tags/attributes from spec in amphtml v1903070012530
  includes/sanitizers/class-amp-allowed-tags-generated.php
  readme.md
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#1952 [AMP Stories] Update WordPress npm packages
  .babelrc
  Gruntfile.js
  assets/js/amp-admin-pointer.js
  assets/js/amp-block-validation.js
  assets/js/amp-customize-controls.js
  assets/js/amp-editor-blocks.js
  assets/js/amp-validated-url-post-edit-screen.js
  assets/src/amp-validation-detail-toggle.js
  assets/src/blocks/amp-brid-player/index.js
  assets/src/blocks/amp-ima-video/index.js
  assets/src/blocks/amp-jwplayer/index.js
  assets/src/blocks/amp-latest-stories/edit.js
  assets/src/blocks/amp-mathml/index.js
  assets/src/blocks/amp-o2-player/index.js
  assets/src/blocks/amp-ooyala-player/index.js
  assets/src/blocks/amp-reach-player/index.js
  assets/src/blocks/amp-springboard-player/index.js
  assets/src/blocks/amp-story/edit.js
  assets/src/blocks/amp-story/index.js
  assets/src/blocks/amp-timeago/index.js
  assets/src/blocks/index.js
  assets/src/blocks/stories.js
  assets/src/blocks/utils.js
  assets/src/stores/amp-story.js
  assets/src/wp-dom-ready.js
  assets/src/wp-i18n.js
  package-lock.json
  package.json
Labels: AMP-Stories-Extension, cla: yes, gutenberg

#1944 Enable AMP stories to be embedded in posts
  assets/css/amp-story-card.css
  includes/admin/class-amp-editor-blocks.php
  includes/class-amp-story-post-type.php
  includes/templates/embed-amp-story.php
  tests/test-class-amp-editor-blocks.php
  tests/test-class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#1922 [AMP Stories] Extended Page Editor Controls
  assets/css/amp-editor-story-blocks.css
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story/edit.js
  assets/src/components/block-navigation.js
  assets/src/components/editor-carousel/block-preview.js
  assets/src/components/editor-carousel/drop-zone.js
  assets/src/components/editor-carousel/index.js
  assets/src/components/editor-carousel/indicator.js
  assets/src/components/editor-carousel/reorderer-item.js
  assets/src/components/editor-carousel/reorderer.js
  assets/src/components/index.js
  assets/src/components/story-controls.js
  assets/src/components/with-active-page-state.js
  assets/src/components/with-animation-controls.js
  assets/src/components/with-attributes.js
  assets/src/components/with-block-name.js
  assets/src/components/with-has-selected-inner-block.js
  assets/src/components/with-page-number.js
  assets/src/components/with-parent-block.js
  assets/src/components/with-wrapper-props.js
  assets/src/helpers.js
  assets/src/stores/amp-story.js
  assets/src/stores/amp-story/actions.js
  assets/src/stores/amp-story/index.js
  assets/src/stores/amp-story/reducer.js
  assets/src/stores/amp-story/selectors.js
Labels: AMP-Stories, Sprint 2, [AMP-Stories] Navigation UI, cla: yes

#1947 [AMP Stories] Add shortcuts to header toolbar
  assets/css/amp-editor-story-blocks.css
  assets/src/amp-story-editor-blocks.js
  assets/src/components/index.js
  assets/src/components/shortcuts.js
  assets/src/components/with-animation-controls.js
Labels: AMP-Stories, Sprint 2, [AMP-Stories] Navigation UI, cla: yes

#1957 Fix JS console errors when unregistering blocks that aren't registered
  assets/js/amp-editor-blocks.js
Labels: cla: yes

#1962 [AMP Stories] Add color settings to text block
  assets/css/amp-stories.css
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/index.js
  includes/class-amp-story-post-type.php
  package.json
Labels: AMP-Stories, Sprint 2, [AMP-Stories] Editing features, cla: yes

#1959 Fix tree shaking for dynamically-added class names
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: cla: yes

#1968 Remove unused param, fix undefined variable, improve indentation
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/templates/class-amp-content-sanitizer.php
Labels: cla: yes

#1953 [AMP Stories] Allow dragging and dropping elements within Page
  assets/css/amp-editor-story-blocks.css
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story/edit.js
  assets/src/components/block-mover/README.md
  assets/src/components/block-mover/block-draggable.js
  assets/src/components/block-mover/drag-handle.js
  assets/src/components/block-mover/draggable.js
  assets/src/components/block-mover/icons.js
  assets/src/components/block-mover/ignore-nested-events.js
  assets/src/components/block-mover/index.js
  assets/src/components/editor-carousel/index.js
  assets/src/components/index.js
  assets/src/components/story-block-drop-zone.js
  assets/src/components/with-amp-story-settings.js
  assets/src/components/with-is-reordering.js
  assets/src/components/with-selected-block.js
  assets/src/components/with-story-block-drop-zone.js
  assets/src/components/with-wrapper-props.js
  assets/src/constants.js
  assets/src/helpers.js
Labels: AMP-Stories, cla: yes

#1980 [AMP-Stories] Improve block navigation, transitions, and background media
  assets/css/amp-editor-story-blocks.css
  assets/src/blocks/amp-story/edit.js
Labels: AMP-Stories, cla: yes

#1976 Fix warning triggered when filtering kses allowed attributes
  includes/admin/class-amp-editor-blocks.php
Labels: cla: yes

#1956 Fix conversion of Facebook embeds
  includes/embeds/class-amp-facebook-embed.php
  tests/test-amp-facebook-embed.php
Labels: cla: yes

#1981 [AMP Stories] Add maybe flushing rewrite rules.
  includes/class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#1983 [AMP Stories] Avoid .htaccess changes when flushing rewrite rules.
  includes/class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#1988 Animation order: only show valid options
  assets/src/components/with-animation-controls.js
  assets/src/stores/amp-story/index.js
  assets/src/stores/amp-story/reducer.js
  assets/src/stores/amp-story/selectors.js
Labels: AMP-Stories, [AMP-Stories] Playback, cla: yes

#1986 Ensure newly supported theme support arguments do not trigger a warning
  includes/class-amp-theme-support.php
Labels: cla: yes

#1987 Work around edge case combination of PHP 7.2+ with old ICU version
  includes/class-amp-http.php
Labels: cla: yes

#1989 Improve tag name determination
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story-text/get-tag-name.js
  assets/src/blocks/amp-story-text/index.js
  assets/src/helpers.js
Labels: AMP-Stories, [AMP-Stories] Autosmartness, cla: yes

#1972 [AMP Stories] Ability to resize text block.
  assets/css/amp-editor-story-blocks.css
  assets/css/amp-stories.css
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/index.js
  assets/src/components/block-mover/drag-handle.js
  assets/src/components/block-mover/index.js
  assets/src/components/story-block-drop-zone.js
  assets/src/helpers.js
Labels: AMP-Stories, [AMP-Stories] Editing features, cla: yes

#1992 Add PHP Extension dependencies to composer.json
  composer.json
  composer.lock
Labels: cla: yes

#1996 [AMP Stories] Fix autocomplete for Text block.
  assets/src/blocks/amp-story-text/edit.js
Labels: cla: yes

#1997 Use JSON_UNESCAPED_UNICODE for schema.org JSON data
  includes/amp-helper-functions.php
Labels: cla: yes

#1970 Add Slide Duration Options
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story/constants.js
  assets/src/blocks/amp-story/edit.js
  assets/src/blocks/amp-story/index.js
  assets/src/components/animation-controls.js
  assets/src/components/with-animation-controls.js
  assets/src/constants.js
  assets/src/helpers.js
  assets/src/stores/amp-story/actions.js
  assets/src/stores/amp-story/index.js
  assets/src/stores/amp-story/reducer.js
  assets/src/stores/amp-story/selectors.js
Labels: AMP-Stories, [AMP-Stories] Playback, cla: yes

#2004 Update allowed tags/attributes from spec in amphtml 1903141753530
  bin/amphtml-update.py
  includes/sanitizers/class-amp-allowed-tags-generated.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#2001 [AMP Stories] Stylesheets handling.
  includes/class-amp-story-post-type.php
  includes/templates/single-amp_story.php
Labels: cla: yes

#2009 Make IDs unique in cloned elements for sticky nav menu
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: cla: yes

#2017 Prevent tree-shaking class names for amp-geo when component on page
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: cla: yes

#1960 Add ability to filter the normalized image URL used for dimension extraction
  includes/utils/class-amp-image-dimension-extractor.php
  tests/test-amp-image-dimension-extractor.php
Labels: cla: yes

#2018 Add support for Archives widget block when displaying as dropdown
  .dev-lib
  includes/embeds/class-amp-core-block-handler.php
  tests/test-class-amp-core-block-handler.php
Labels: cla: yes

#2015 [AMP Stories] Match FE and editor view
  assets/css/amp-editor-story-blocks.css
  assets/css/amp-stories-frontend.css
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/index.js
  assets/src/components/block-navigation.js
  assets/src/constants.js
  includes/class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#1998 Set featured image if none exists, based on adding other images
  amp.php
  assets/images/story-fallback-poster.jpg
  assets/js/amp-block-validation.js
  assets/src/amp-block-editor.js
  assets/src/amp-story-editor-blocks.js
  assets/src/components/get-featured-image-notice.js
  assets/src/components/get-pre-publish-notice.js
  assets/src/components/index.js
  assets/src/components/with-edit-featured-image.js
  assets/src/components/with-pre-publish-notice.js
  assets/src/components/with-story-featured-image-notice.js
  assets/src/helpers.js
  includes/admin/class-amp-post-meta-box.php
  includes/class-amp-story-post-type.php
  includes/templates/single-amp_story.php
  webpack.config.js
Labels: AMP-Stories, cla: no

#2000 [AMP Stories] JS Build Tooling Optimizations
  .browserslistrc
  .gitignore
  .stylelintrc.json
  Gruntfile.js
  assets/src/amp-blocks.js
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-brid-player/index.js
  assets/src/blocks/amp-ima-video/index.js
  assets/src/blocks/amp-jwplayer/index.js
  assets/src/blocks/amp-latest-stories/index.js
  assets/src/blocks/amp-mathml/index.js
  assets/src/blocks/amp-o2-player/index.js
  assets/src/blocks/amp-ooyala-player/index.js
  assets/src/blocks/amp-reach-player/index.js
  assets/src/blocks/amp-springboard-player/index.js
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/index.js
  assets/src/blocks/amp-story/index.js
  assets/src/blocks/amp-timeago/index.js
  assets/src/blocks/index.js
  assets/src/blocks/stories.js
  assets/src/components/animation-controls.js
  assets/src/components/animation-order-picker.js
  assets/src/components/editor-carousel/index.js
  assets/src/components/font-family-picker.js
  assets/src/components/index.js
  assets/src/components/preview-picker/index.js
  assets/src/components/preview-picker/style.css
  assets/src/utils.js
  includes/class-amp-story-post-type.php
  package-lock.json
  package.json
  postcss.config.js
  webpack.config.js
Labels: AMP-Stories, cla: yes, gutenberg

#2037 Remove stray semicolon in AMP_Analytics_Options_Submenu
  includes/options/class-amp-analytics-options-submenu.php
Labels: [Type] Bug, administration, cla: yes
