Repository ampproject/amp-wp, pull requests merged in 2019-04, with the labels that each got.

#2027 Update install-wp-tests.sh
  bin/install-wp-tests.sh
Labels: cla: yes

#2031 Allow cropping of the AMP Story featured image
  assets/src/amp-story-editor-blocks.js
  assets/src/components/index.js
  assets/src/components/with-cropped-featured-image.js
  assets/src/components/with-pre-publish-notice.js
  assets/src/components/with-story-featured-image-notice.js
  assets/src/helpers.js
  includes/class-amp-story-post-type.php
  includes/templates/single-amp_story.php
Labels: cla: yes

#2029 [AMP Stories] Add template Inserter
  assets/css/amp-editor-story-blocks.css
  assets/images/add-template.svg
  assets/images/amp-story-page-icon.svg
  assets/images/reorder.svg
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story-text/index.js
  assets/src/blocks/amp-story/index.js
  assets/src/components/block-preview.js
  assets/src/components/editor-carousel/reorderer-item.js
  assets/src/components/index.js
  assets/src/components/story-controls.js
  assets/src/components/template-inserter/index.js
  assets/src/constants.js
  assets/src/plugins/template-menu-item.js
Labels: cla: yes

#2043 [AMP Stories] Add alignment option to text block
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/index.js
Labels: AMP-Stories, [AMP-Stories] Editing features, cla: yes

#2051 Consider element attributes when determining if an parent element is empty and can be removed
  .dev-lib
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/test-class-amp-core-block-handler.php
  tests/test-tag-and-attribute-sanitizer.php
  tests/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#1261 Install service worker to cache AMP CDN assets, cache Google Fonts, and cache images (following AMP by Example)
  .dev-lib
  .eslintrc
  amp.php
  assets/js/amp-block-validation.js
  assets/js/amp-service-worker-runtime-precaching.js
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/class-amp-service-worker.php
  includes/class-amp-theme-support.php
  phpunit.xml
  tests/test-amp-helper-functions.php
  tests/test-class-amp-service-worker.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes, pwa

#2046 [AMP Stories] Add overlay settings to Page
  assets/src/blocks/amp-story/edit.js
  assets/src/blocks/amp-story/index.js
  assets/src/helpers.js
Labels: cla: yes

#2052 Improve preview in Block Navigation
  assets/src/components/animation-order-picker.js
  assets/src/components/block-navigation.js
  assets/src/components/block-preview-label.js
  assets/src/components/index.js
Labels: AMP-Stories, [AMP-Stories] Navigation UI, cla: yes

#2055 [AMP Stories] Optional rounded corners for Text and Image block
  assets/css/amp-stories.css
  assets/src/amp-story-editor-blocks.js
Labels: AMP-Stories, [AMP-Stories] Editing features, cla: yes

#2054 [AMP Stories] Hide all block insertion points
  assets/css/amp-editor-story-blocks.css
Labels: cla: yes

#2049 [AMP Stories] Text Block: fix <br> showing as plain text.
  assets/src/blocks/amp-story-text/edit.js
  includes/class-amp-story-post-type.php
Labels: AMP-Stories, [AMP-Stories] Editing features, cla: yes

#2036 Definitively fix issues with images in AMP not visually matching non-AMP version
  assets/css/amp-default.css
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  templates/style.php
  tests/test-amp-img-sanitizer.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes

#2068 [AMP Stories] Add "Tip" block style for Text Block.
  assets/css/amp-stories.css
  assets/src/amp-story-editor-blocks.js
Labels: cla: yes

#2063 [AMP Stories] Reordering UI improvements
  assets/css/amp-editor-story-blocks.css
  assets/src/components/story-controls.js
Labels: cla: yes

#2059 Discontinue showing theme support admin pointer in 1.1
  includes/admin/class-amp-admin-pointer.php
  tests/test-class-amp-admin-pointer.php
Labels: cla: yes

#2070 Fix PHP notice for undefined theme support arg for service_worker
  includes/class-amp-service-worker.php
Labels: cla: yes

#2071 Fix printing of PHP upgrade notice
  amp.php
Labels: cla: yes

#2074 Add missing amp-install-serviceworker script in classic mode
  includes/class-amp-service-worker.php
Labels: cla: yes

#2034 Rebrand Classic as Reader mode and Paired as Transitional mode; add Exit Reader Mode link
  amp.php
  includes/admin/class-amp-admin-pointer.php
  includes/admin/class-amp-editor-blocks.php
  includes/amp-helper-functions.php
  includes/class-amp-cli.php
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/settings/class-amp-customizer-design-settings.php
  includes/templates/class-amp-post-template.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
  readme.md
  readme.txt
  templates/header-bar.php
  templates/style.php
  tests/test-amp-helper-functions.php
  tests/test-class-amp-cli.php
  tests/test-class-amp-gallery-block-sanitizer.php
  tests/test-class-amp-meta-box.php
  tests/test-class-amp-options-manager.php
  tests/test-class-amp-theme-support.php
  tests/validation/test-class-amp-validation-manager.php
  wp-assets/screenshot-1.png
  wp-assets/screenshot-10.png
  wp-assets/screenshot-2.png
  wp-assets/screenshot-3.png
  wp-assets/screenshot-4.png
  wp-assets/screenshot-5.png
  wp-assets/screenshot-6.png
  wp-assets/screenshot-7.png
  wp-assets/screenshot-8.png
  wp-assets/screenshot-9.png
Labels: changelogged, cla: yes

#2075 Bump v1.1-beta1
  amp.php
  readme.md
Labels: cla: yes

#2079 Expand externalization of data: URLs in @font-face rules
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: cla: yes

#1993 [AMP Stories] Add Call to Action support
  assets/css/amp-editor-story-blocks.css
  assets/css/amp-stories.css
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story-cta/edit.js
  assets/src/blocks/amp-story-cta/index.js
  assets/src/blocks/amp-story/edit.js
  assets/src/blocks/amp-story/index.js
  assets/src/components/block-navigation.js
  assets/src/components/index.js
  assets/src/components/shortcuts.js
  assets/src/components/with-amp-story-settings.js
  assets/src/components/with-call-to-action-validation.js
  assets/src/constants.js
  assets/src/helpers.js
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/class-amp-story-post-type.php
  includes/sanitizers/class-amp-story-sanitizer.php
  includes/validation/class-amp-validation-manager.php
  tests/test-amp-story-sanitizer.php
Labels: AMP-Stories, UX, [AMP-Stories] Editing features, cla: yes

#2081 [AMP Stories] Reverse Bring Forward / Send Backward Logic
  assets/src/components/block-mover/index.js
  assets/src/components/block-navigation.js
Labels: AMP-Stories, [AMP-Stories] Navigation UI, cla: yes

#2066 [AMP Stories] Add opacity to Text block
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/index.js
  assets/src/helpers.js
Labels: AMP-Stories, cla: yes

#2089 Improve description of the native and transitional template modes
  includes/options/class-amp-options-menu.php
Labels: cla: yes

#2090 Prevent placeholder blocks for audio and image from causing validation errors
  includes/embeds/class-amp-core-block-handler.php
  tests/test-class-amp-core-block-handler.php
Labels: cla: yes

#2093 Prevent setting a featured image automatically if one exists
  assets/src/components/with-edit-featured-image.js
Labels: AMP-Stories, cla: yes

#2094 Update icon for Call to Action block
  assets/images/call-to-action.svg
  assets/src/blocks/amp-story-cta/index.js
Labels: AMP-Stories, [AMP-Stories] Editing features, cla: yes

#2083 [AMP Stories] Fix style for Text Block when using amp-fit-text
  assets/css/amp-stories.css
  assets/src/blocks/amp-story-text/edit.css
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/index.js
Labels: cla: yes

#2095 [AMP Stories] Fix classNames not being read from saved content.
  assets/src/amp-story-editor-blocks.js
  assets/src/helpers.js
Labels: AMP-Stories, cla: yes

#2100 Use RawHTML to mimic RichText.Content behavior
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/index.js
  includes/class-amp-story-post-type.php
Labels: cla: yes

#2101 [AMP Stories] Re-add missing CTA block CSS
  assets/src/blocks/amp-story-cta/edit.css
  assets/src/blocks/amp-story-cta/edit.js
Labels: AMP-Stories, cla: yes

#2099 [AMP Stories] Improve template reorderer preview
  assets/src/components/reorderer/edit.css
Labels: AMP-Stories, cla: yes

#2104 Adjust positioning of the 'Background Media' image on the front-end
  assets/css/amp-stories.css
  assets/src/blocks/amp-story-page/index.js
Labels: AMP-Stories, cla: yes

#2105 [AMP Stories] Improve page borders/outline
  assets/src/blocks/amp-story-page/edit.css
Labels: AMP-Stories, cla: yes

#2073 [AMP Stories] Adjust quote style to match templates
  assets/css/amp-editor-story-blocks.css
  assets/css/amp-stories-frontend.css
  assets/css/amp-stories.css
  assets/images/quote-black.svg
  assets/images/quote-white.svg
  assets/src/amp-story-editor-blocks.js
Labels: cla: yes

#2014 [WIP] [AMP Stories] Block Rotation
  assets/css/amp-editor-story-blocks.css
  assets/src/amp-story-editor-blocks.js
  assets/src/components/block-mover/edit.css
  assets/src/components/block-mover/index.js
  assets/src/components/index.js
  assets/src/components/rotatable-box/edit.css
  assets/src/components/rotatable-box/index.js
  assets/src/components/with-amp-story-settings.js
  assets/src/components/with-rotatable-box.js
  assets/src/components/with-wrapper-props.js
  assets/src/helpers.js
  package.json
Labels: AMP-Stories, [AMP-Stories] Editing features, cla: yes

#2106 Override inserter in header toolbar with custom implementation
  assets/src/components/block-types-list/index.js
  assets/src/components/editor-carousel/edit.css
  assets/src/components/index.js
  assets/src/components/inserter-list-item/index.js
  assets/src/components/inserter/index.js
  assets/src/components/inserter/menu.js
  assets/src/helpers.js
  package.json
Labels: AMP-Stories, [AMP-Stories] Editing features, [AMP-Stories] Navigation UI, cla: yes

#2108 Update to WPCS 2.1.0 and fix errors
  composer.json
  composer.lock
  includes/class-amp-http.php
  includes/class-amp-theme-support.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  tests/test-amp-helper-functions.php
  tests/test-class-amp-theme-support.php
  tests/validation/test-class-amp-validated-url-post-type.php
Labels: cla: yes

#2107 Prevent adding noscript fallbacks for AMP components inside AMP Stories
  includes/class-amp-story-post-type.php
  includes/sanitizers/class-amp-audio-sanitizer.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/class-amp-video-sanitizer.php
  tests/test-amp-audio-converter.php
  tests/test-amp-iframe-sanitizer.php
  tests/test-amp-img-sanitizer.php
  tests/test-amp-video-sanitizer.php
Labels: AMP-Stories, cla: yes

#2097 [AMP Stories] Meta Blocks (Title, Author, Date)
  assets/css/amp-editor-story-blocks.css
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story-cta/edit.js
  assets/src/blocks/amp-story-cta/index.js
  assets/src/blocks/amp-story-post-author/edit.css
  assets/src/blocks/amp-story-post-author/index.js
  assets/src/blocks/amp-story-post-date/edit.css
  assets/src/blocks/amp-story-post-date/index.js
  assets/src/blocks/amp-story-post-title/edit.css
  assets/src/blocks/amp-story-post-title/index.js
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/index.js
  assets/src/components/index.js
  assets/src/components/resizable-box/edit.css
  assets/src/components/resizable-box/index.js
  assets/src/components/with-amp-story-settings.js
  assets/src/components/with-animation-controls.js
  assets/src/components/with-meta-block-edit.js
  assets/src/components/with-parent-block.js
  assets/src/components/with-rotatable-box.js
  assets/src/components/with-wrapper-props.js
  assets/src/constants.js
  assets/src/helpers.js
  assets/src/plugins/template-menu-item.js
  includes/class-amp-story-post-type.php
  package.json
Labels: AMP-Stories, [AMP-Stories] Editing features, cla: yes

#2080 Add tree shaking for attribute-extant selectors
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: cla: yes

#2119 [AMP Stories] Prevent glitch when inserting images
  assets/css/amp-editor-story-blocks.css
Labels: AMP-Stories, [AMP-Stories] Navigation UI, [Type] Bug, cla: yes

#2118 [AMP Stories] Further improve block navigation
  assets/src/components/block-navigation/edit.css
  assets/src/components/block-navigation/index.js
  assets/src/components/block-preview-label.js
Labels: AMP-Stories, [AMP-Stories] Navigation UI, cla: yes

#2120 Make sure inner blocks have higher z-index than pages
  assets/src/blocks/amp-story-page/edit.css
Labels: AMP-Stories, [AMP-Stories] Editing features, cla: yes

#2116 Add links to docs from mode descriptions
  includes/options/class-amp-options-menu.php
Labels: cla: yes

#2125 Bump 1.1-beta2
  amp.php
Labels: changelogged, cla: yes

#2128 Prevent JS error when selecting an animation type for a block
  assets/src/components/block-preview-label.js
Labels: AMP-Stories, cla: yes

#2122 Hide block alignment buttons from images in AMP Stories
  assets/src/blocks/amp-story-page/edit.css
Labels: cla: yes

#2130 Prevent erroneously converting form selector to amp-form
  includes/sanitizers/class-amp-form-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: [Type] Bug, cla: yes

#2131 Add sanitizer arg to prevent noscript fallbacks; preemptively remove disallowed attributes from fallback
  includes/class-amp-autoloader.php
  includes/sanitizers/class-amp-audio-sanitizer.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/class-amp-video-sanitizer.php
  includes/sanitizers/trait-amp-noscript-fallback.php
  phpcs.xml
  tests/test-amp-audio-converter.php
  tests/test-amp-iframe-sanitizer.php
  tests/test-amp-img-sanitizer.php
  tests/test-amp-video-sanitizer.php
Labels: cla: yes

#2129 Update amphtml to v1904021746450
  includes/sanitizers/class-amp-allowed-tags-generated.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#2134 Fix compatibility with PWA v0.1 by checking if constant exists
  includes/amp-helper-functions.php
  tests/test-amp-helper-functions.php
Labels: cla: yes

#2135 Add link to ecosystem page on AMP settings screen
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
Labels: cla: yes

#2138 Bump 1.1.0
  amp.php
  bin/verify-version-consistency.php
  package-lock.json
  readme.md
  readme.txt
Labels: cla: yes

#2143 Allow AMP Stories to work in Reader mode
  includes/class-amp-story-post-type.php
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-menu.php
  includes/validation/class-amp-validation-manager.php
Labels: AMP-Stories, cla: yes

#2142 [AMP Stories] Remove postcss.config.js from build
  Gruntfile.js
Labels: AMP-Stories, cla: yes

#2141 Fix link to outdated wiki page for AMP analytics
  includes/options/views/class-amp-analytics-options-submenu-page.php
Labels: cla: yes

#2140 Fix some more i18n strings and placeholders
  includes/class-amp-comment-walker.php
  includes/class-amp-service-worker.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
Labels: cla: yes

#2077 [AMP Stories] Fix the AMP Story embed and Latest Stories styling
  assets/css/amp-editor-blocks.css
  assets/css/amp-story-card.css
  includes/class-amp-story-post-type.php
  includes/templates/embed-amp-story.php
  tests/test-class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#2148 Introduce admin pointers for AMP Stories
  includes/admin/class-amp-admin-pointer.php
  includes/admin/class-amp-admin-pointers.php
  includes/admin/functions.php
  includes/class-amp-autoloader.php
  includes/options/class-amp-options-menu.php
  tests/test-class-amp-admin-pointer.php
Labels: AMP-Stories, cla: yes

#2147 Require Gutenberg plugin for now and link to installation
  includes/class-amp-story-post-type.php
  includes/options/class-amp-options-menu.php
Labels: AMP-Stories, cla: yes

#2048 [AMP Stories] Default templates.
  amp.php
  assets/css/amp-editor-story-blocks.css
  assets/css/amp-stories.css
  assets/images/story-templates/cta-bg.png
  assets/images/story-templates/cta-image.png
  assets/images/story-templates/quote-bg.png
  assets/images/story-templates/quote-image.png
  assets/images/story-templates/title-bg.png
  assets/images/story-templates/travel-tip.png
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story-page/edit.css
  assets/src/blocks/amp-story-text/index.js
  assets/src/components/editor-carousel/edit.css
  assets/src/components/reorderer/edit.css
  assets/src/components/template-inserter/edit.css
  assets/src/components/template-inserter/index.js
  assets/src/components/with-wrapper-props.js
  assets/src/helpers.js
  assets/src/plugins/.gitkeep
  assets/src/temporarily-disabled-plugins/template-menu-item.js
  includes/admin/class-amp-story-templates.php
  includes/admin/functions.php
  includes/class-amp-autoloader.php
  includes/options/class-amp-options-manager.php
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/title-page.html
  includes/templates/story-templates/travel-cta.html
  includes/templates/story-templates/travel-tip.html
  includes/templates/story-templates/travel-vertical.html
  tests/test-class-amp-options-manager.php
  tests/test-class-amp-story-templates.php
Labels: cla: yes

#2150 Use optimized JPEGs instead of PNGs for demo images
  assets/images/story-templates/cta-bg.jpg
  assets/images/story-templates/cta-bg.png
  assets/images/story-templates/cta-image.jpg
  assets/images/story-templates/cta-image.png
  assets/images/story-templates/quote-bg.jpg
  assets/images/story-templates/quote-bg.png
  assets/images/story-templates/quote-image.png
  assets/images/story-templates/title-bg.jpg
  assets/images/story-templates/title-bg.png
  assets/images/story-templates/travel-tip.jpg
  assets/images/story-templates/travel-tip.png
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/title-page.html
  includes/templates/story-templates/travel-cta.html
  includes/templates/story-templates/travel-tip.html
Labels: AMP-Stories, cla: yes

#2152 Fix first_child_tag_name_oneof constraint to only apply if first child exists
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#2153 Prevent sending 304 Not Modified responses during development
  includes/class-amp-theme-support.php
Labels: cla: yes

#2149 Fix broken tooltips on validation list tables
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
Labels: cla: yes

#2158 Prevent wp_targeted_link_rel() from corrupting JSON in amp_validation_error term_description
  includes/validation/class-amp-validated-url-post-type.php
  tests/validation/test-class-amp-validated-url-post-type.php
Labels: cla: yes

#2164 [AMP Stories] Remove adding text and color settings incorrectly
  assets/src/components/with-amp-story-settings.js
  assets/src/constants.js
Labels: cla: yes

#2163 [AMP Stories] Fix accuracy of resizing and drag-drop
  assets/src/blocks/amp-story-page/edit.css
  assets/src/components/block-navigation/edit.css
  assets/src/components/editor-carousel/index.js
  assets/src/constants.js
Labels: cla: yes

#2167 [AMP Stories] Remove image caption by default.
  assets/css/amp-stories-frontend.css
  assets/src/components/with-amp-story-settings.js
Labels: AMP-Stories, cla: yes

#2170 Release 1.1.1
  amp.php
  bin/tag-built.sh
  contributing.md
  readme.md
  readme.txt
Labels: cla: yes

#2174 [AMP Stories] Fix displaying a saved AMP Story as unsaved when loading
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story-page/edit.js
  assets/src/components/block-navigation/index.js
  assets/src/components/editor-carousel/index.js
  assets/src/components/inserter/menu.js
  assets/src/components/reorderer/index.js
  assets/src/components/shortcuts.js
  assets/src/components/with-active-page-state.js
  assets/src/components/with-amp-story-settings.js
  assets/src/components/with-attributes.js
  assets/src/components/with-block-name.js
  assets/src/components/with-call-to-action-validation.js
  assets/src/components/with-edit-featured-image.js
  assets/src/components/with-has-selected-inner-block.js
  assets/src/components/with-page-number.js
  assets/src/components/with-selected-block.js
  assets/src/helpers.js
  assets/src/stores/amp-story/reducer.js
  assets/src/temporarily-disabled-plugins/template-menu-item.js
Labels: cla: yes

#2183 Add curl as required extension; refactor how dependency errors are communicated
  amp.php
  composer.json
  composer.lock
  tests/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#2182 [AMP Stories] Fix CSS for reorderer clone.
  assets/src/components/reorderer/edit.css
Labels: AMP-Stories, cla: yes

#2166 [AMP Stories] Make resizing responsive.
  assets/css/amp-stories-frontend.css
  assets/src/components/resizable-box/edit.css
  assets/src/helpers.js
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/travel-cta.html
Labels: AMP-Stories, cla: yes

#2173 [AMP Stories] Fix recursion bug.
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/index.js
Labels: AMP-Stories, cla: yes

#2192 [AMP Stories] Remove duplicate animation controls.
  assets/src/components/with-amp-story-settings.js
Labels: AMP-Stories, cla: yes

#2195 [AMP Stories] Fix styling for title, author, date blocks.
  assets/src/blocks/amp-story-post-author/edit.css
  assets/src/blocks/amp-story-post-date/edit.css
  assets/src/blocks/amp-story-post-title/edit.css
  assets/src/components/resizable-box/edit.css
Labels: AMP-Stories, cla: yes

#2193 [AMP Stories] Ensure unit when saving animation.
  assets/src/constants.js
  assets/src/helpers.js
Labels: AMP-Stories, cla: yes

#2190 Remove intl from required extensions
  amp.php
  composer.json
  composer.lock
Labels: cla: yes

#2206 Change <Button> to <a>, to work around a console warning
  assets/src/components/template-inserter/index.js
Labels: cla: yes

#2117 [AMP Stories] Re-render components when switching back from code editor
  assets/src/amp-story-editor-blocks.js
  assets/src/components/shortcuts.js
  assets/src/helpers.js
Labels: AMP-Stories, [AMP-Stories] Navigation UI, cla: yes

#2208 Revert PHP version error message translation string from #2183
  amp.php
Labels: cla: yes

#2225 Simplify what's passed to withSelect, thanks to K Adam's suggestion
  assets/src/components/with-edit-featured-image.js
Labels: cla: yes

#2207 Inject width/height attributes into video elements from the Video block
  assets/js/amp-editor-blocks.js
  includes/embeds/class-amp-core-block-handler.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  includes/sanitizers/class-amp-video-sanitizer.php
  tests/test-class-amp-core-block-handler.php
Labels: cla: yes

#2209 Improve handling of layout for images
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  tests/test-amp-img-sanitizer.php
Labels: cla: yes
