Repository ampproject/amp-wp, pull requests merged in 2019-07, with the labels that each got.

#2713 Update AMP_Image_Dimension_Extractor_Extract_Test to reference files on amp-wp.org
  tests/test-amp-image-dimension-extractor.php
Labels: cla: yes

#2664 Show CTA block in Block Navigation
  assets/src/stories-editor/components/block-navigation/edit.css
  assets/src/stories-editor/components/block-navigation/index.js
  assets/src/stories-editor/components/block-navigation/item.js
Labels: AMP Stories, cla: yes

#2717 Add missing prop type for block name
  assets/src/stories-editor/components/block-navigation/item.js
Labels: AMP Stories, cla: yes

#2716 Group tests with external HTTP requests
  .travis.yml
  phpunit.xml
  tests/test-amp-image-dimension-extractor.php
Labels: cla: yes

#2718 Ensure wp_print_service_workers() unhooked in head and footer
  includes/class-amp-service-worker.php
Labels: cla: yes

#2723 Fix an issue with the story background image not being downsized
  includes/class-amp-story-post-type.php
Labels: cla: yes

#2712 Improve handling of iframes: handle same-origin URLs and convert 100% width to fixed-height
  includes/amp-helper-functions.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  tests/test-amp-iframe-sanitizer.php
  tests/test-amp-script-sanitizer.php
  tests/test-amp-video-sanitizer.php
  tests/test-class-amp-base-sanitizer.php
Labels: Sanitizers, cla: yes

#2722 Improve Soundcloud embed: support playlists, preserve visual/height params, include fallback content
  includes/embeds/class-amp-soundcloud-embed.php
  tests/test-amp-soundcloud-embed.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes

#2711 Add support for portrait featured images in non-AMP Story posts
  assets/src/block-editor/index.js
  assets/src/common/components/featured-image-select-media-frame.js
  assets/src/common/components/with-cropped-featured-image.js
  assets/src/common/constants.js
  assets/src/common/helpers/index.js
  assets/src/common/helpers/test/getAspectRatioType.js
  assets/src/common/helpers/test/getMinimumFeaturedImageDimensions.js
  assets/src/common/helpers/test/getMinimumPortraitFeaturedImageDimensions.js
Labels: cla: yes

#2695 Fix and consolidate some of the i18n strings
  assets/src/block-editor/blocks/amp-brid-player/edit.js
  assets/src/block-editor/blocks/amp-ima-video/edit.js
  assets/src/block-editor/blocks/amp-jwplayer/edit.js
  assets/src/block-editor/blocks/amp-latest-stories/index.js
  assets/src/block-editor/blocks/amp-o2-player/edit.js
  assets/src/block-editor/blocks/amp-ooyala-player/edit.js
  assets/src/block-editor/blocks/amp-reach-player/edit.js
  assets/src/block-editor/blocks/amp-springboard-player/edit.js
  assets/src/block-editor/blocks/amp-timeago/edit.js
  assets/src/block-editor/helpers/index.js
  assets/src/block-validation/components/higher-order/with-validation-error-notice.js
  assets/src/stories-editor/blocks/amp-story-cta/index.js
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/blocks/amp-story-post-date/index.js
  assets/src/stories-editor/blocks/amp-story-text/index.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/inserter/index.js
  assets/src/stories-editor/components/inserter/menu.js
  includes/admin/class-amp-admin-pointers.php
  includes/class-amp-story-post-type.php
  includes/sanitizers/class-amp-form-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
Labels: cla: yes

#2726 Make image placeholders draggable
  Gruntfile.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
Labels: AMP Stories, cla: yes

#2725 Increase specificity of [data-block] selector
  assets/src/stories-editor/blocks/amp-story-page/edit.css
Labels: AMP Stories, [Type] Bug, cla: yes

#2748 Update/babel plugin proposal object rest spread
  package-lock.json
  package.json
Labels: [Type] Infrastructure, cla: yes

#2740 Latest Stories: Filter out stories without featured image
  assets/src/block-editor/blocks/amp-latest-stories/edit.js
Labels: cla: yes

#2739 Improve wrapping callbacks for validation sourcing and guard against infinite recursion when sourcing callbacks
  includes/class-amp-autoloader.php
  includes/validation/class-amp-validation-callback-wrapper.php
  includes/validation/class-amp-validation-manager.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#2742 Determined tag name should not influence user font size
  assets/src/stories-editor/blocks/amp-story-text/edit.js
Labels: cla: yes

#2744 Change block dimensions when text outgrows current one
  assets/src/stories-editor/blocks/amp-story-post-author/edit.css
  assets/src/stories-editor/blocks/amp-story-post-date/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/components/with-meta-block-edit.js
  assets/src/stories-editor/helpers/index.js
Labels: cla: yes

#2754 Ensure AMP customizer gets initialized in Reader mode
  includes/admin/functions.php
  includes/settings/class-amp-customizer-design-settings.php
Labels: cla: yes

#2766 Make main plugin file parseable on PHP 5.2+
  amp.php
Labels: [Priority] Low, [Type] Bug, cla: yes

#2776 Convert 100% width Facebook widgets to fixed-height layout
  includes/embeds/class-amp-facebook-embed.php
  tests/php/test-amp-facebook-embed.php
Labels: cla: yes

#2778 Style fixes for upstream updates
  assets/css/amp-stories-editor.css
  assets/src/stories-editor/components/reorderer/edit.css
  assets/src/stories-editor/components/with-wrapper-props.js
Labels: AMP Stories, [Integration] Gutenberg, cla: yes

#2793 Fix conversion of CSS selectors when HTML tag maps to multiple AMP tags
  assets/css/amp-default.css
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-img-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: CSS, Sanitizers, cla: yes

#2691 Fix issues for Author role
  includes/class-amp-story-post-type.php
  tests/php/test-class-amp-story-post-type.php
Labels: AMP Stories, cla: yes

#2798 Adjust CTA style considering potential image.
  assets/css/amp-stories-frontend.css
  assets/src/stories-editor/blocks/amp-story-cta/edit.css
Labels: AMP Stories, cla: yes

#2797 Fix endless loop with manual font sizes.
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/components/with-meta-block-edit.js
Labels: AMP Stories, cla: yes

#2625 Export Stories Feature
  assets/src/stories-editor/plugins/export.js
  composer.json
  includes/class-amp-autoloader.php
  includes/class-amp-story-post-type.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/sanitizers/class-amp-story-export-sanitizer.php
  includes/templates/single-amp_story.php
  tests/php/test-class-amp-options-manager.php
Labels: cla: yes

#2737 Enforce the file type of the featured image, background media, and video block
  assets/src/common/components/featured-image-select-media-frame.js
  assets/src/common/components/index.js
  assets/src/common/components/select-media-frame.js
  assets/src/common/components/with-cropped-featured-image.js
  assets/src/common/components/with-enforced-file-type.js
  assets/src/common/helpers/index.js
  assets/src/common/helpers/test/enforceFileType.js
  assets/src/common/helpers/test/fixtures/mockClasses.js
  assets/src/common/helpers/test/getNoticeTemplate.js
  assets/src/common/helpers/test/isFileTypeAllowed.js
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/components/index.js
  assets/src/stories-editor/components/with-enforced-video-upload-type.js
  assets/src/stories-editor/index.js
Labels: cla: yes

#2805 Resize blocks when amp-fit-text is turned off
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/components/with-meta-block-edit.js
Labels: cla: yes

#2807 Fix default font size in editor for meta blocks
  assets/src/stories-editor/blocks/amp-story-post-author/edit.css
  assets/src/stories-editor/blocks/amp-story-post-date/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
Labels: cla: yes

#2814 Add webpackbar plugin to have nicer output
  package-lock.json
  package.json
  webpack.config.js
Labels: cla: yes

#2810 Improve CI configuration
  .travis.yml
  bin/local-env/docker-compose.yml
  contributing.md
  tests/e2e/plugins/demo.php
Labels: [Type] Enhancement, [Type] Infrastructure, cla: yes

#2811 Make the asset path relative to the story
  .travis.yml
  assets/src/stories-editor/plugins/export.js
  includes/class-amp-story-post-type.php
  includes/sanitizers/class-amp-story-export-sanitizer.php
Labels: AMP Stories, cla: yes

#2799 Enable playing the Core Video block's video in the editor
  assets/css/amp-stories.css
  assets/src/stories-editor/components/custom-video-block-edit.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/higher-order/with-video-poster-image-notice.js
  assets/src/stories-editor/components/index.js
  assets/src/stories-editor/components/with-custom-video-block-edit.js
  assets/src/stories-editor/index.js
Labels: AMP Stories, cla: yes

#2816 Update allowed tags/attributes from spec in amphtml 1907022322580
  includes/sanitizers/class-amp-allowed-tags-generated.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#2818 Fix webpackbar config for classic editor bundle
  webpack.config.js
Labels: cla: yes

#2809 Fix FE and editor difference for text block
  assets/css/amp-stories-editor.css
  assets/src/stories-editor/components/resizable-box/index.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, cla: yes

#2755 Add video block size validation in the Media Library
  assets/css/amp-stories-editor.css
  assets/src/common/components/select-media-frame.js
  assets/src/common/components/with-enforced-file-type.js
  assets/src/common/constants.js
  assets/src/common/helpers/index.js
  assets/src/common/helpers/test/enforceFileSize.js
  assets/src/common/helpers/test/enforceFileType.js
  assets/src/common/helpers/test/fixtures/mockClasses.js
  assets/src/common/helpers/test/getSecondsFromTime.js
  assets/src/common/helpers/test/getVideoBytesPerSecond.js
  assets/src/common/helpers/test/isVideoSizeExcessive.js
  assets/src/common/helpers/test/mediaLibraryHasTwoNotices.js
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/components/custom-video-block-edit.js
  assets/src/stories-editor/components/with-enforced-video-upload-type.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/test/getVideoBytesPerSecond.js
  assets/src/stories-editor/helpers/test/isVideoSizeExcessive.js
  package.json
Labels: AMP Stories, cla: yes

#2642 Add looping for video headers; extend tree-shaking for amp-video-* class names
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#2800 Use custom readme file for story export archive
  includes/class-amp-story-post-type.php
  includes/story-export/readme.txt
Labels: AMP Stories, cla: yes

#2837 Fix reorder button alignment
  assets/src/stories-editor/components/story-controls/edit.css
Labels: cla: yes

#2831 Fix displaying font family in the editor
  assets/css/amp-stories-editor.css
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/components/with-meta-block-edit.js
Labels: AMP Stories, cla: yes

#2844 Adjust font-size in FE
  assets/css/amp-stories-frontend.css
Labels: AMP Stories, cla: yes

#2848 Add missing alt attribute to amp-img elements in carousel generated via gallery shortcode
  includes/embeds/class-amp-gallery-embed.php
Labels: cla: yes

#2854 Fix handling of bound amp-bind attributes in self-closing tags
  includes/utils/class-amp-dom-utils.php
  tests/php/test-class-amp-dom-utils.php
Labels: cla: yes

#2857 Adjust CTA style considering potential image & fix spacings.
  assets/css/amp-stories-frontend.css
  assets/css/amp-stories.css
  assets/src/stories-editor/blocks/amp-story-cta/edit.css
Labels: AMP Stories, cla: yes

#2866 Catch exceptions when attempting to set invalid attributes on DOM elements
  includes/utils/class-amp-dom-utils.php
  tests/php/test-amp-img-sanitizer.php
Labels: cla: yes

#2871 Fix issue with column block
  assets/src/block-validation/components/higher-order/with-validation-error-notice.js
Labels: [Integration] Gutenberg, [Type] Bug, cla: yes

#2826 Extract video frames to automatically set poster images
  assets/css/amp-stories-editor.css
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/components/custom-video-block-edit.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
  includes/class-amp-autoloader.php
  includes/class-amp-story-media.php
  includes/class-amp-story-post-type.php
  includes/templates/embed-amp-story.php
  includes/templates/single-amp_story.php
  package.json
  tests/php/test-class-amp-story-media.php
  tests/php/test-class-amp-story-post-type.php
Labels: AMP Stories, cla: yes

#2874 Add E2E tests for video poster image extraction
  bin/local-env/docker-compose.yml
  bin/local-env/install-wordpress.sh
  tests/e2e/assets/clothes-hanged-to-dry-1295231.mp4
  tests/e2e/specs/amp-options.test.js
  tests/e2e/specs/stories-editor/video-poster-image-extraction.test.js
  tests/e2e/utils/activate-experience.js
  tests/e2e/utils/activate-plugin.js
  tests/e2e/utils/deactivate-experience.js
  tests/e2e/utils/deactivate-plugin.js
  tests/e2e/utils/index.js
  tests/e2e/utils/insert-block.js
  tests/e2e/utils/open-global-block-inserter.js
  tests/e2e/utils/search-for-block.js
Labels: AMP Stories, cla: yes

#2878 Simplify and improve E2E Puppeteer config
  .travis.yml
  bin/local-env/docker-compose.yml
  contributing.md
  jest-puppeteer.config.js
  package.json
Labels: [Type] Enhancement, [Type] Infrastructure, cla: yes

#2864 Improve gallery sizing
  includes/embeds/class-amp-gallery-embed.php
  includes/sanitizers/class-amp-gallery-block-sanitizer.php
Labels: cla: yes

#2879 Restrict the templates to only the AMP Story editor
  amp.php
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/fandom-cta.html
  includes/templates/story-templates/fandom-fact-text.html
  includes/templates/story-templates/fandom-fact.html
  tests/e2e/jest.config.js
  tests/e2e/specs/stories-editor/story-templates.test.js
  tests/e2e/utils/index.js
  tests/e2e/utils/open-template-inserter.js
Labels: cla: yes

#2908 Fix tests for CSS imports which broke after core change to stylesheets
  tests/php/data/css/buttons.css
  tests/php/data/css/forms.css
  tests/php/data/css/l10n.css
  tests/php/data/css/login.css
  tests/php/data/images/1024x768.png
  tests/php/data/images/350x150.png
  tests/php/data/images/wordpress-logo.png
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#2909 Use Jest's built-in each syntax for parameterized test
  assets/src/common/helpers/test/isVideoSizeExcessive.js
  package.json
Labels: [Type] Enhancement, [Type] Infrastructure, cla: yes

#2913 Fix specification of text_domain for WordPress.WP.I18n sniff
  includes/class-amp-story-media.php
  includes/options/class-amp-options-menu.php
  includes/sanitizers/class-amp-form-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  phpcs.xml
Labels: cla: yes

#2914 Add and configure travis-size-report
  .travis.yml
  package-lock.json
  package.json
  sizereport.config.js
Labels: Needs Testing, [Type] Infrastructure, cla: yes

#2915 Add .npmrc config file
  .npmrc
Labels: [Type] Enhancement, [Type] Infrastructure, cla: yes
