Repository ampproject/amp-wp, pull requests merged in 2019-02, with the labels that each got.

#1831 Update develop to 1.0.2
  Gruntfile.js
  assets/js/amp-validation-tooltips.js
  assets/src/wp-dom-ready.js
  assets/src/wp-i18n.js
  includes/admin/class-amp-admin-pointer.php
  includes/options/class-amp-options-manager.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  package-lock.json
  readme.md
  readme.txt
  webpack.config.js
Labels: cla: yes

#1848 Fix tests in environments where custom content dir is set and WP_HOME/WP_SITEURL is defined
  tests/test-amp-style-sanitizer.php
  tests/test-class-amp-http.php
  tests/validation/test-class-amp-validated-url-post-type.php
Labels: cla: yes

#1855 Enqueue component scripts for attributes that require extensions (e.g. amp-lightbox-gallery for amp-img[lightbox])
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#1854 Add Security Disclosures section from amphtml project to contributing.md
  code_of_conduct.md
  contributing.md
  readme.md
  readme.txt
  security.md
Labels: cla: yes

#1795 Improve AMP validation performance by not needlessly doing output buffering on filter calls
  includes/validation/class-amp-validation-manager.php
  tests/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#1857 Use more permanent redirects for AMP URLs
  amp.php
  includes/class-amp-theme-support.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes

#1858 Exclude duplicate stylesheets from amp-custom style manifest
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: cla: yes

#1860 Improve validation of children
  bin/amphtml-update.py
  bin/amphtml-update.sh
  composer.json
  composer.lock
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-rule-spec.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#1846 Avoid infinite URL space under /amp/ endpoint in classic mode
  amp.php
Labels: cla: yes

#1614 [amp-stories sub-task] Sanitize AMP Stories.
  assets/css/amp-editor-story-blocks.css
  assets/js/amp-block-validation.js
  includes/templates/single-amp_story.php
Labels: AMP-Stories, cla: yes

#1852 Fall-back to HTTP request whenever stylesheet is not found locally or a dynamic resource
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: cla: yes

#1862 Update AMP spec from v1811202257200 to v1902072121410
  bin/amphtml-update.py
  composer.json
  composer.lock
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#1866 I18N string improvements
  amp.php
  assets/js/amp-block-validation.js
  assets/js/amp-editor-blocks.js
  assets/js/amp-validated-url-post-edit-screen.js
  includes/amp-frontend-actions.php
  includes/amp-helper-functions.php
  includes/class-amp-cli.php
  includes/class-amp-http.php
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/options/views/class-amp-analytics-options-submenu-page.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/templates/class-amp-content-sanitizer.php
  includes/templates/class-amp-content.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  phpcs.xml
Labels: cla: yes

#1868 Use version 2.0 of WPCS
  bin/create-comments-on-test-post.php
  bin/create-embed-test-post.php
  bin/create-gutenberg-test-post.php
  composer.json
  composer.lock
  includes/admin/class-amp-post-meta-box.php
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/class-amp-theme-support.php
  includes/embeds/class-amp-soundcloud-embed.php
  includes/options/class-amp-options-menu.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  phpcs.xml
  tests/stubs.php
  tests/test-class-amp-http.php
  tests/test-class-amp-theme-support.php
  tests/validation/test-class-amp-validated-url-post-type.php
Labels: cla: yes

#1861 Add noscript fallbacks for img, audio, and video; improve audio conversion to amp-audio; add AMP [fallback] for amp-audio/amp-video
  assets/js/amp-editor-blocks.js
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-audio-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/class-amp-script-sanitizer.php
  includes/sanitizers/class-amp-video-sanitizer.php
  tests/test-amp-audio-converter.php
  tests/test-amp-img-sanitizer.php
  tests/test-amp-video-sanitizer.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes

#1869 Update Webpack to v4, install webpack-cli
  package-lock.json
  package.json
Labels: cla: yes

#1876 Use same regex as WordPress for template hierarchy filters
  includes/class-amp-theme-support.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes

#1875 Add required PHPUnit testsuite name
  phpunit.xml
Labels: cla: yes

#1870 Update ESLint configuration
  .eslintignore
  .eslintrc
  package-lock.json
  package.json
Labels: cla: yes

#1886 AMP Stories: Webpack improvements
  .babelrc
  .eslintrc
  blocks/amp-brid-player/index.js
  blocks/amp-ima-video/index.js
  blocks/amp-jwplayer/index.js
  blocks/amp-mathml/index.js
  blocks/amp-o2-player/index.js
  blocks/amp-ooyala-player/index.js
  blocks/amp-reach-player/index.js
  blocks/amp-springboard-player/index.js
  blocks/amp-story/amp-story-cta-layer.js
  blocks/amp-story/amp-story-grid-layer-background-image.js
  blocks/amp-story/amp-story-grid-layer-background-video.js
  blocks/amp-story/amp-story-grid-layer-horizontal.js
  blocks/amp-story/amp-story-grid-layer-thirds.js
  blocks/amp-story/amp-story-grid-layer-vertical.js
  blocks/amp-story/amp-story-page.js
  blocks/amp-story/block-navigation.js
  blocks/amp-story/helpers.js
  blocks/amp-timeago/index.js
  blocks/utils.js
  package-lock.json
  package.json
  webpack.config.js
Labels: cla: yes

#1890 Pin npm-run-all to 4.1.5
  package-lock.json
  package.json
Labels: cla: yes

#1872 Remove changelog from readme
  contributing.md
  readme.md
  readme.txt
Labels: cla: yes, docs

#1892 Run npm audit fix
  package-lock.json
Labels: cla: yes

#1894 AMP Stories: Use Gutenberg ESLint config
  .eslintrc
  Gruntfile.js
  assets/js/amp-admin-pointer.js
  assets/js/amp-block-validation.js
  assets/js/amp-customize-controls.js
  assets/js/amp-customize-preview.js
  assets/js/amp-customizer-design-preview.js
  assets/js/amp-editor-blocks.js
  assets/js/amp-post-meta-box.js
  assets/js/amp-story-editor-blocks.js
  assets/js/amp-validated-url-post-edit-screen.js
  assets/js/amp-validated-urls-index.js
  assets/js/amp-validation-tooltips.js
  assets/src/amp-block-editor-toggle.js
  assets/src/amp-validation-detail-toggle.js
  assets/src/amp-validation-single-error-url-details.js
  blocks/amp-brid-player/index.js
  blocks/amp-ima-video/index.js
  blocks/amp-jwplayer/index.js
  blocks/amp-mathml/index.js
  blocks/amp-o2-player/index.js
  blocks/amp-ooyala-player/index.js
  blocks/amp-reach-player/index.js
  blocks/amp-springboard-player/index.js
  blocks/amp-story/amp-story-cta-layer.js
  blocks/amp-story/amp-story-grid-layer-background-image.js
  blocks/amp-story/amp-story-grid-layer-background-video.js
  blocks/amp-story/amp-story-grid-layer-horizontal.js
  blocks/amp-story/amp-story-grid-layer-thirds.js
  blocks/amp-story/amp-story-grid-layer-vertical.js
  blocks/amp-story/amp-story-page.js
  blocks/amp-story/block-navigation.js
  blocks/amp-story/helpers.js
  blocks/amp-timeago/index.js
  blocks/utils.js
  package-lock.json
  package.json
  webpack.config.js
Labels: cla: yes

#1878 Eliminate comments walker in favor of comments sanitizer
  includes/amp-helper-functions.php
  includes/class-amp-comment-walker.php
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-comments-sanitizer.php
  tests/test-class-amp-comment-walker.php
  tests/test-class-amp-comments-sanitizer.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes

#1896 [AMP Stories] Remove grid layer blocks in favor of flat structure
  assets/css/amp-editor-story-blocks.css
  assets/images/grid-fill-active.svg
  assets/images/grid-fill-inactive.svg
  assets/images/grid-horizontal-active.svg
  assets/images/grid-horizontal-inactive.svg
  assets/images/grid-thirds-active.svg
  assets/images/grid-thirds-inactive.svg
  assets/images/grid-vertical-active.svg
  assets/images/grid-vertical-inactive.svg
  assets/js/amp-block-validation.js
  assets/js/amp-story-editor-blocks.js
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-brid-player/index.js
  assets/src/blocks/amp-ima-video/index.js
  assets/src/blocks/amp-jwplayer/index.js
  assets/src/blocks/amp-mathml/index.js
  assets/src/blocks/amp-o2-player/index.js
  assets/src/blocks/amp-ooyala-player/index.js
  assets/src/blocks/amp-reach-player/index.js
  assets/src/blocks/amp-springboard-player/index.js
  assets/src/blocks/amp-story/block-navigation.js
  assets/src/blocks/amp-story/edit.js
  assets/src/blocks/amp-story/index.js
  assets/src/blocks/amp-timeago/index.js
  assets/src/blocks/index.js
  assets/src/blocks/stories.js
  assets/src/blocks/utils.js
  assets/src/components/animation-controls.js
  assets/src/components/index.js
  assets/src/components/with-amp-story-settings.js
  assets/src/components/with-attributes.js
  assets/src/components/with-block-name.js
  assets/src/components/with-has-selected-inner-block.js
  assets/src/components/with-parent-block.js
  assets/src/helpers.js
  blocks/amp-story/amp-story-cta-layer.js
  blocks/amp-story/amp-story-grid-layer-background-image.js
  blocks/amp-story/amp-story-grid-layer-background-video.js
  blocks/amp-story/amp-story-grid-layer-horizontal.js
  blocks/amp-story/amp-story-grid-layer-thirds.js
  blocks/amp-story/amp-story-grid-layer-vertical.js
  blocks/amp-story/amp-story-page.js
  blocks/amp-story/helpers.js
  blocks/amp-story/index.js
  includes/admin/class-amp-post-meta-box.php
  includes/class-amp-story-post-type.php
  includes/validation/class-amp-validation-manager.php
  package.json
  tests/validation/test-class-amp-validation-manager.php
  webpack.config.js
Labels: AMP-Stories, cla: yes

#1842 Update PHP-CSS-Parser to 8.3.0
  composer.json
  composer.lock
  patches/php-css-parser-mods.diff
  renovate.json
Labels: cla: yes

#1901 Add tree shaking for :lang() selectors
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: cla: yes

#1909 [AMP Stories] Fix filtering wrapper props.
  assets/src/amp-story-editor-blocks.js
Labels: cla: yes

#1891 Update amphtml from v1902072121410 to v1902191749350
  .gitignore
  bin/amphtml-update.py
  bin/amphtml-update.sh
  composer.json
  composer.lock
  contributing.md
  includes/sanitizers/class-amp-allowed-tags-generated.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#1893 [AMP Stories] Text Block
  assets/src/amp-story-editor-blocks.js
  assets/src/blocks/amp-story-text/edit.js
  assets/src/blocks/amp-story-text/get-tag-name.js
  assets/src/blocks/amp-story-text/index.js
  assets/src/blocks/amp-story/edit.js
  assets/src/blocks/stories.js
  assets/src/components/animation-controls.js
  assets/src/components/index.js
  assets/src/components/with-amp-story-settings.js
  assets/src/components/with-animation-controls.js
  assets/src/helpers.js
  includes/class-amp-story-post-type.php
  webpack.config.js
Labels: AMP-Stories, cla: yes

#1899 [AMP Stories] Background media for story pages
  assets/css/amp-editor-story-blocks.css
  assets/src/blocks/amp-story/constants.js
  assets/src/blocks/amp-story/edit.js
  assets/src/blocks/amp-story/index.js
Labels: AMP-Stories, cla: yes
