Repository ampproject/amp-wp, pull requests merged in 2019-09, with the labels that each got.

#3150 Update WP ESLint plugin
  .editorconfig
  .eslintrc
  assets/src/amp-validation/amp-validated-url-post-edit-screen.js
  assets/src/block-editor/components/layout-controls.js
  assets/src/block-editor/components/media-placeholder.js
  assets/src/block-editor/helpers/index.js
  assets/src/block-validation/components/validation-error-message/index.js
  assets/src/block-validation/helpers/index.js
  assets/src/common/components/featured-image-cropper.js
  assets/src/common/components/pre-publish-panel.js
  assets/src/common/components/select-media-frame.js
  assets/src/common/components/with-cropped-featured-image.js
  assets/src/common/components/with-enforced-file-type.js
  assets/src/common/helpers/index.js
  assets/src/common/helpers/test/fixtures/mockClasses.js
  assets/src/stories-editor/components/animation-controls.js
  assets/src/stories-editor/components/block-mover/draggable.js
  assets/src/stories-editor/components/block-preview.js
  assets/src/stories-editor/components/draggable-text.js
  assets/src/stories-editor/components/higher-order/with-call-to-action-validation.js
  assets/src/stories-editor/components/higher-order/with-page-number.js
  assets/src/stories-editor/components/inserter/index.js
  assets/src/stories-editor/components/with-edit-featured-image.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/plugins/export.js
  package-lock.json
  package.json
  tests/e2e/specs/stories-editor/resizing.js
  tests/e2e/utils/wp-data-select.js
  tests/php/test-class-amp-meta-box.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: [Type] Infrastructure, cla: yes

#3109 Change wording in media dropdown, so that if background is set, the change …
  assets/src/stories-editor/components/media-inserter/index.js
  tests/e2e/specs/stories-editor/media-inserter.js
  tests/e2e/utils/index.js
  tests/e2e/utils/open-media-inserter.js
Labels: cla: yes

#3165 Use Jest silent reporter to reduce noise in output
  package-lock.json
  package.json
  tests/e2e/jest.config.js
  tests/js/jest.config.js
Labels: [Type] Enhancement, [Type] Infrastructure, cla: yes

#3167 Bump requried Gutenberg version by one
  includes/class-amp-story-post-type.php
Labels: [Integration] Gutenberg, [Type] Enhancement, cla: yes

#3166 Try fixing templates test.
  tests/e2e/specs/stories-editor/story-templates.js
Labels: AMP Stories, cla: yes

#3170 Hide reusable blocks from story editor global inserter.
  includes/admin/class-amp-story-templates.php
  tests/e2e/specs/stories-editor/story-templates.js
Labels: AMP Stories, cla: yes

#3039 Improve generation of AMP pages in post-processor
  includes/amp-helper-functions.php
  includes/class-amp-story-post-type.php
  includes/class-amp-theme-support.php
  includes/templates/single-amp_story.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#3149 Update block editor package
  assets/src/stories-editor/helpers/index.js
  package-lock.json
  package.json
Labels: [Type] Infrastructure, cla: yes

#3176 Remove launched experiment amp-img-auto-sizes
  includes/sanitizers/class-amp-img-sanitizer.php
  tests/php/test-amp-img-sanitizer.php
Labels: cla: yes

#3175 Add missing amp_story_head actions present on wp_head
  includes/class-amp-story-post-type.php
Labels: AMP Stories, [Size] XS, cla: yes

#3173 Omit file_exists() checks (for vendor and built files) from plugin builds
  Gruntfile.js
  amp.php
Labels: cla: yes

#3110 Font Picker: Bundle list of Google Fonts
  .gitignore
  Gruntfile.js
  contributing.md
  example.env
  includes/class-amp-story-post-type.php
  includes/data/fonts.json
  package-lock.json
  package.json
  tests/php/data/json/fonts.json
  tests/php/data/json/invalid.json
  tests/php/test-class-amp-story-post-type.php
Labels: AMP Stories, cla: yes

#2693 Avoid undefined variable warning for $path_args which is populated by wp_parse_str()
  amp.php
Labels: cla: yes

#3198 Add notice if Xdebug extension is loaded
  amp.php
Labels: [Size] XS, cla: yes

#3192 Update eslint-plugin-jest and apply fixes
  assets/src/common/helpers/test/getAspectRatioType.js
  assets/src/stories-editor/helpers/test/maybeEnqueueFontStyle.js
  package-lock.json
  package.json
  tests/e2e/specs/stories-editor/page.js
Labels: [Type] Enhancement, [Type] Infrastructure, cla: yes

#3189 Remove now obsolete withEnforcedVideoUploadType HOC
  assets/src/stories-editor/components/index.js
  assets/src/stories-editor/components/with-enforced-video-upload-type.js
  assets/src/stories-editor/index.js
Labels: AMP Stories, Needs Testing, [AMP Stories] Editing, cla: yes

#3208 Remove deprecated AMP_WP_Utils class
  includes/class-amp-autoloader.php
  includes/utils/class-amp-wp-utils.php
Labels: [Size] XS, [Type] Task, cla: yes

#3171 Add filter to allow more video types in AMP story background selection
  assets/src/common/helpers/index.js
  assets/src/common/helpers/test/isFileTypeAllowed.js
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/components/custom-video-block-edit.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/store/index.js
  assets/src/stories-editor/store/selectors.js
  includes/class-amp-story-post-type.php
  tests/js/setup-globals.js
Labels: AMP Stories, cla: yes

#3183 Add a more reliable build step
  Gruntfile.js
  bin/build-plugin-zip.sh
  composer.json
  composer.lock
  patches/php-css-parser-mods.diff
Labels: [Size] M, [Type] Infrastructure, cla: yes

#3155 Use autocomplete for font selection.
  assets/src/stories-editor/components/font-family-picker/autocomplete.js
  assets/src/stories-editor/components/font-family-picker/edit.css
  assets/src/stories-editor/components/font-family-picker/index.js
  assets/src/stories-editor/components/font-family-picker/status.js
  assets/src/stories-editor/components/font-family-picker/test/__snapshots__/index.js.snap
  assets/src/stories-editor/components/font-family-picker/test/index.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  package-lock.json
  package.json
  tests/e2e/specs/stories-editor/font-picker.js
Labels: AMP Stories, cla: yes

#3218 Make sure the value passed to defaultvalue is never null.
  assets/src/stories-editor/components/font-family-picker/autocomplete.js
  assets/src/stories-editor/components/font-family-picker/index.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  tests/e2e/specs/stories-editor/font-picker.js
Labels: cla: yes

#3153 Use class properties in JS
  assets/src/amp-validation/amp-validation-single-error-url-details.js
  assets/src/common/components/with-cropped-featured-image.js
  assets/src/common/components/with-enforced-file-type.js
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/components/block-mover/draggable.js
  assets/src/stories-editor/components/block-mover/ignore-nested-events.js
  assets/src/stories-editor/components/block-navigation/item.js
  assets/src/stories-editor/components/custom-video-block-edit.js
  assets/src/stories-editor/components/editor-carousel/index.js
  assets/src/stories-editor/components/inserter/index.js
  assets/src/stories-editor/components/inserter/menu.js
  assets/src/stories-editor/components/reorderer/item.js
  assets/src/stories-editor/components/rotatable-box/index.js
  assets/src/stories-editor/components/story-block-drop-zone.js
  assets/src/stories-editor/components/template-inserter/index.js
  babel.config.js
  package-lock.json
  package.json
Labels: cla: yes

#3215 Replace template inserter with simplified blank page inserter
  assets/src/stories-editor/components/index.js
  assets/src/stories-editor/components/page-inserter/edit.css
  assets/src/stories-editor/components/page-inserter/index.js
  assets/src/stories-editor/components/story-controls/index.js
  tests/e2e/specs/stories-editor/story-templates.js
  tests/e2e/utils/index.js
Labels: AMP Stories, Has Screencast, [AMP Stories] Templates, cla: yes

#3220 Fix pasting issue.
  assets/src/stories-editor/components/higher-order/with-right-click-handler.js
  assets/src/stories-editor/components/right-click-menu/index.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, cla: yes

#3216 Sort the list of active plugins
  includes/validation/class-amp-validated-url-post-type.php
Labels: [Size] XS, [Type] Enhancement, cla: yes

#3223 Fix status error.
  assets/src/stories-editor/components/font-family-picker/autocomplete.js
Labels: cla: yes

#3212 Prevent tree-shaking CSS selectors for dynamic attributes
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: CSS, Sanitizers, [Size] XS, cla: yes

#3222 Use a transient to cache the potentially slow "Pending URLs Count" query
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
Labels: Validation Errors, [Priority] Low, cla: yes

#3225 Add missing $this to callback isset check
  includes/validation/class-amp-validation-callback-wrapper.php
Labels: Validation Errors, [Size] XS, [Type] Bug, cla: yes

#3004 Add e2e tests for the Block Position controls
  tests/e2e/specs/stories-editor/block-position-controls.js
Labels: AMP Stories, cla: yes

#3214 Add text control for background media alt text
  assets/src/stories-editor/blocks/amp-story-page/edit.css
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  tests/e2e/specs/stories-editor/page.js
Labels: AMP Stories, cla: yes

#3187 Integrate admin bar with AMP dev mode
  .stylelintignore
  assets/css/src/admin-bar.css
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/class-amp-story-post-type.php
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-audio-sanitizer.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-dev-mode-sanitizer.php
  includes/sanitizers/class-amp-form-sanitizer.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/class-amp-script-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/sanitizers/class-amp-video-sanitizer.php
  includes/validation/class-amp-validation-manager.php
  tests/php/test-amp-audio-converter.php
  tests/php/test-amp-dev-mode-sanitizer.php
  tests/php/test-amp-form-sanitizer.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp-iframe-sanitizer.php
  tests/php/test-amp-img-sanitizer.php
  tests/php/test-amp-script-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-amp-video-sanitizer.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#3209 Add special-case handling for layout=fill interpretation
  includes/amp-helper-functions.php
  includes/sanitizers/class-amp-base-sanitizer.php
  tests/php/test-class-amp-base-sanitizer.php
Labels: Has Screencast, Sanitizers, [Type] Bug, cla: yes

#3219 Add warning notice to AMP settings screen when not using HTTPS
  includes/options/class-amp-options-manager.php
Labels: [Size] S, [Type] Enhancement, cla: yes

#3188 If a theme supports Reader Mode, display a notice
  composer.json
  composer.lock
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-menu.php
  tests/php/test-class-amp-theme-support.php
Labels: Has Screencast, cla: yes

#3235 Remove unused piece of code in Style Sanitizer
  includes/sanitizers/class-amp-style-sanitizer.php
Labels: Sanitizers, [Size] XS, cla: yes

#3177 Remove featured image cropping from the non-AMP Story editor
  assets/src/block-editor/components/index.js
  assets/src/block-editor/components/with-media-library-notice.js
  assets/src/block-editor/index.js
  assets/src/common/components/index.js
  assets/src/common/helpers/index.js
  assets/src/common/helpers/test/setImageFromURL.js
  assets/src/stories-editor/components/index.js
  assets/src/stories-editor/components/with-cropped-featured-image.js
  assets/src/stories-editor/index.js
  tests/e2e/assets/small-image-100-100.jpg
  tests/e2e/specs/block-editor/featured-image-notice.js
Labels: cla: yes

#3205 Add accessibility label for video blocks
  assets/src/stories-editor/components/custom-video-block-edit.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/test/__snapshots__/addVideoAriaLabel.js.snap
  assets/src/stories-editor/helpers/test/addVideoAriaLabel.js
  assets/src/stories-editor/index.js
  tests/e2e/specs/stories-editor/page.js
  tests/e2e/specs/stories-editor/video-block.js
Labels: AMP Stories, Accessibility, [AMP Stories] Editing, [Type] Enhancement, cla: yes

#3236 Fix cut handler by shortcut
  assets/src/stories-editor/blocks/amp-story-page/copy-paste-handler.js
Labels: [Type] Bug, cla: yes

#3237 Fix custom CTA text for page attachment
  includes/class-amp-story-post-type.php
Labels: AMP Stories, [AMP Stories] Editing, [Type] Bug, cla: yes

#3240 Fix aria-label adding helper function
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/test/__snapshots__/addVideoAriaLabel.js.snap
  assets/src/stories-editor/helpers/test/addVideoAriaLabel.js
Labels: AMP Stories, [Type] Bug, cla: yes

#3241 Reduce keyboard cut handler to equal a copy handler to avoid bugs
  assets/src/stories-editor/blocks/amp-story-page/copy-paste-handler.js
Labels: AMP Stories, [Type] Bug, cla: yes

#3201 Introduce default story settings
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/blocks/amp-story-page/page-settings.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/index.js
  assets/src/stories-editor/plugins/export.js
  assets/src/stories-editor/plugins/story-settings-panel.js
  includes/class-amp-story-post-type.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  tests/e2e/config/bootstrap.js
  tests/e2e/specs/stories-editor/page.js
  tests/e2e/specs/stories-editor/right-click-menu.js
  tests/e2e/specs/stories-editor/story-templates.js
  tests/e2e/utils/activate-experience.js
  tests/e2e/utils/deactivate-experience.js
  tests/e2e/utils/index.js
  tests/e2e/utils/set-story-settings.js
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-options-menu.php
  tests/php/test-class-amp-story-post-type.php
Labels: AMP Stories, Group: Stories Editing, cla: yes

#3243 Keep track of the currently-open elements while walking over DOM and use depth-first post-order traversal to improve processing
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-amp-form-sanitizer.php
  tests/php/test-amp-tag-and-attribute-sanitizer-private-methods.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#3248 Detect unused variables using PHPCS
  composer.json
  composer.lock
  includes/admin/class-amp-post-meta-box.php
  includes/embeds/class-amp-facebook-embed.php
  includes/embeds/class-amp-imgur-embed-handler.php
  includes/embeds/class-amp-instagram-embed.php
  includes/embeds/class-amp-pinterest-embed.php
  includes/embeds/class-amp-vine-embed.php
  includes/embeds/class-amp-youtube-embed.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  phpcs.xml
  tests/php/test-class-amp-cli-validation-command.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Type: Infrastructure, cla: yes

#3274 Fix allow_failures setting in Travis config
  .travis.yml
Labels: Type: Bug, Type: Infrastructure, cla: yes

#3276 Add missing React dev dependencies
  package-lock.json
  package.json
Labels: cla: yes

#3275 Remove unnecessary env reset on Travis
  .travis.yml
Labels: Type: Enhancement, Type: Infrastructure, cla: yes

#3259 Fix resize for non-fit text box
  assets/src/stories-editor/components/resizable-box/index.js
Labels: AMP Stories, Type: Bug, cla: yes

#3289 Remove unused Google Fonts SVGs
  assets/images/stories-editor/font-names/arimo.svg
  assets/images/stories-editor/font-names/lato.svg
  assets/images/stories-editor/font-names/lora.svg
  assets/images/stories-editor/font-names/merriweather.svg
  assets/images/stories-editor/font-names/montserrat.svg
  assets/images/stories-editor/font-names/noto-sans.svg
  assets/images/stories-editor/font-names/open-sans-condensed.svg
  assets/images/stories-editor/font-names/open-sans.svg
  assets/images/stories-editor/font-names/oswald.svg
  assets/images/stories-editor/font-names/playfair-display.svg
  assets/images/stories-editor/font-names/pt-sans-narrow.svg
  assets/images/stories-editor/font-names/pt-sans.svg
  assets/images/stories-editor/font-names/pt-serif.svg
  assets/images/stories-editor/font-names/raleway.svg
  assets/images/stories-editor/font-names/roboto-condensed.svg
  assets/images/stories-editor/font-names/roboto-slab.svg
  assets/images/stories-editor/font-names/roboto.svg
  assets/images/stories-editor/font-names/slabo-27.svg
  assets/images/stories-editor/font-names/source-sans-pro.svg
  assets/images/stories-editor/font-names/ubuntu.svg
  assets/src/stories-editor/constants.js
Labels: AMP Stories, Type: Infrastructure, cla: yes

#3246 Fix issue with cut
  assets/src/stories-editor/blocks/amp-story-page/copy-paste-handler.js
  assets/src/stories-editor/components/animation-controls/index.js
  assets/src/stories-editor/components/right-click-menu/index.js
  assets/src/stories-editor/components/template-inserter/index.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, Type: Bug, cla: yes

#3286 Use template_dir consistently as signal for Transitional mode
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp.php
  tests/php/test-class-amp-options-manager.php
Labels: Size: XS, Type: Bug, cla: yes

#3295 Strip 100% width/height from layout=fill elements
  includes/sanitizers/class-amp-base-sanitizer.php
  tests/php/test-class-amp-base-sanitizer.php
Labels: cla: yes

#3296 Bump 1.3-RC1 and fix tests
  amp.php
  tests/php/test-amp-gallery-embed.php
  tests/php/test-class-amp-story-post-type.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#3278 Update wordpress/scripts package to 5.0.0
  .gitignore
  assets/src/admin/amp-validation-tooltips.js
  includes/admin/class-amp-post-meta-box.php
  includes/amp-helper-functions.php
  includes/class-amp-story-post-type.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  package-lock.json
  package.json
  phpcs.xml
  tests/php/test-class-amp-meta-box.php
  tests/php/validation/test-class-amp-validation-manager.php
  webpack.config.js
Labels: Type: Infrastructure, cla: yes

#3319 Optimize AMP_Style_Sanitizer::has_used_class_name()
  includes/sanitizers/class-amp-style-sanitizer.php
Labels: cla: yes

#3314 Make sure that media picker is background types are filter correctly.
  assets/src/stories-editor/components/media-inserter/index.js
Labels: AMP Stories, Type: Bug, cla: yes

#3334 Ensure all AMP scripts (including v0.js) get moved to the head
  includes/class-amp-theme-support.php
  tests/php/test-class-amp-theme-support.php
Labels: AMP Stories, Size: XS, cla: yes

#3329 Improve handling of Stories in Compatibility Tool
  includes/class-amp-theme-support.php
  includes/validation/class-amp-validated-url-post-type.php
Labels: AMP Stories, Size: XS, cla: yes

#3328 Only add all Google Font style rules in editor context
  includes/class-amp-story-post-type.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
Labels: AMP Stories, Size: XS, cla: yes

#3338 Add PHP 7.4 to build matrix
  .travis.yml
  tests/php/test-class-amp-story-post-type.php
Labels: Type: Enhancement, Type: Infrastructure, cla: yes

#3340 Remove unused Travis deploy stage
  .travis.yml
  bin/deploy-travis-pantheon.sh
  bin/keys/id_rsa_ampconfdemo.enc
  bin/keys/id_rsa_ampconfdemo.pub
Labels: cla: yes

#3336 Sanitize invalid children of amp-story and amp-story-page elements to prevent white story of death
  includes/sanitizers/class-amp-story-sanitizer.php
  tests/php/test-amp-story-sanitizer.php
Labels: AMP Stories, Sanitizers, cla: yes

#3335 Bump 1.3-RC2
  amp.php
Labels: cla: yes

#3341 Limit deeply-nesting test to 200 to fix Xdebug error
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#3345 Add inline styles for custom fonts
  includes/class-amp-story-post-type.php
  tests/php/test-class-amp-story-post-type.php
Labels: AMP Stories, Needs Testing, cla: yes

#3353 Use PHPCompatibilityWP for compat checks
  composer.json
  composer.lock
  phpcs.xml
Labels: Type: Enhancement, Type: Infrastructure, cla: yes

#3349 Fix bug in style sanitizer not freeing up memory because of wrong index
  includes/sanitizers/class-amp-style-sanitizer.php
Labels: Sanitizers, Type: Bug, cla: yes

#3360 Fix notice error for featured image in Reader Mode template when using Multisite-Global-Media plugin
  includes/templates/class-amp-post-template.php
Labels: Type: Bug, cla: yes

#3366 Include *.assets.php files in build
  Gruntfile.js
Labels: Size: XS, Type: Bug, cla: yes

#3362 Add swap param to google font URL.
  includes/class-amp-story-post-type.php
Labels: AMP Stories, Type: Enhancement, cla: yes

#3355 Flaky tests investigation
  tests/e2e/specs/stories-editor/right-click-menu.js
Labels: cla: yes
