Repository ampproject/amp-wp, pull requests merged in 2019-06, with the labels that each got.

#2476 Fix TwentyTwelve nav menu and add support for TwentyThirteen core theme
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/sanitizers/class-amp-nav-menu-toggle-sanitizer.php
Labels: cla: yes

#2488 Fix PHPCS exclude pattern
  .travis.yml
  phpcs.xml
Labels: cla: yes

#2490 Remove hard image size requirement
  assets/src/components/featured-image-select-media-frame.js
Labels: AMP-Stories, cla: yes

#2492 Add new filter for amp-story-auto-ads
  includes/amp-helper-functions.php
  includes/templates/single-amp_story.php
  tests/test-class-amp-story-post-type.php
Labels: AMP-Stories, cla: yes

#2495 Fix invalid HTML entities in admin notice
  amp.php
Labels: cla: yes

#2327 Add support in nav-menu-toggle-sanitizer for nav_container to be either the body or root element
  includes/sanitizers/class-amp-nav-menu-toggle-sanitizer.php
  tests/test-class-amp-nav-menu-toggle-sanitizer.php
Labels: [Type] Bug, cla: yes

#2497 Add edit warning to phpdoc file header for template files
  templates/featured-image.php
  templates/footer.php
  templates/html-end.php
  templates/html-start.php
  templates/meta-author.php
  templates/meta-comments-link.php
  templates/meta-taxonomy.php
  templates/meta-time.php
  templates/page.php
  templates/single.php
  templates/style.php
Labels: cla: yes

#2339 Use amp-embedly-card instead of amp-reddit to work around resizing issue
  includes/embeds/class-amp-reddit-embed-handler.php
Labels: cla: yes

#2425 Improve form handling when submission handler does no redirection
  assets/css/amp-default.css
  includes/class-amp-http.php
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-form-sanitizer.php
  tests/test-amp-form-sanitizer.php
  tests/test-class-amp-http.php
  tests/test-class-amp-theme-support.php
Labels: cla: yes

#2503 Remove debugging cruft
  assets/src/stories-editor/blocks/amp-story-text/save.js
Labels: AMP-Stories, [Type] Bug, cla: yes

#2499 2342 - Making text background go full-height
  assets/src/stories-editor/blocks/amp-story-text/edit.css
Labels: cla: yes

#2494 Fix italic and bold for amp-fit-text
  assets/css/amp-stories.css
  assets/src/stories-editor/blocks/amp-story-text/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/components/resizable-box/index.js
Labels: cla: yes

#2505 Fix layout of Gallery as amp-carousel
  includes/embeds/class-amp-gallery-embed.php
  includes/sanitizers/class-amp-gallery-block-sanitizer.php
  tests/test-class-amp-gallery-block-sanitizer.php
Labels: cla: yes

#2508 Always perform CSS tree shaking, regardless of total size
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
  tests/test-amp-style-sanitizer.php
  tests/test-class-amp-options-manager.php
  tests/validation/test-class-amp-validated-url-post-type.php
  tests/validation/test-class-amp-validation-manager.php
Labels: cla: yes, css

#2504 Fix font size oddities
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/resizable-box/index.js
Labels: AMP-Stories, cla: yes

#2513 Adjust coverage thresholds for PRs
  codecov.yml
Labels: cla: yes

#2500 Suppress admin bar from being shown during validation requests
  includes/validation/class-amp-validation-manager.php
Labels: cla: yes

#2479 Add fandom templates
  assets/images/story-templates/cta-bg.jpg
  assets/images/story-templates/cta-image.jpg
  assets/images/story-templates/fandom-cta.jpg
  assets/images/story-templates/fandom-fact.jpg
  assets/images/story-templates/fandom-title.jpg
  assets/images/story-templates/got-logo.png
  assets/images/story-templates/intro-bg.jpg
  assets/images/story-templates/quote-bg.jpg
  assets/images/story-templates/quote-image.png
  assets/images/story-templates/title-bg.jpg
  assets/images/story-templates/travel-tip.jpg
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/fandom-cta.html
  includes/templates/story-templates/fandom-fact-text.html
  includes/templates/story-templates/fandom-fact.html
  includes/templates/story-templates/fandom-intro.html
  includes/templates/story-templates/fandom-title.html
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/travel-cta.html
Labels: AMP-Stories, cla: yes

#2534 Improve CTA block focus handling
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
Labels: AMP Stories, [AMP Stories] Editing Features, cla: yes

#2535 Use same font-weight for text block regardless of type
  assets/css/amp-stories.css
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/blocks/amp-story-text/index.js
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/fandom-cta.html
  includes/templates/story-templates/fandom-fact-text.html
  includes/templates/story-templates/fandom-fact.html
  includes/templates/story-templates/fandom-title.html
  includes/templates/story-templates/title-page.html
  includes/templates/story-templates/travel-cta.html
  includes/templates/story-templates/travel-tip.html
  includes/templates/story-templates/travel-vertical.html
Labels: AMP Stories, cla: yes

#2536 Prevent sending response through post-processor if Content-Type is not text/html
  includes/class-amp-http.php
  includes/class-amp-theme-support.php
  tests/test-class-amp-http.php
Labels: [Type] Bug, cla: yes

#2540 Improve display of duplicated pages
  assets/src/stories-editor/index.js
Labels: cla: yes

#2484 Prevent double wrapping elements
  assets/src/stories-editor/blocks/amp-story-cta/index.js
  assets/src/stories-editor/blocks/amp-story-page/index.js
  assets/src/stories-editor/blocks/amp-story-text/index.js
  assets/src/stories-editor/helpers/index.js
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/fandom-cta.html
  includes/templates/story-templates/fandom-fact-text.html
  includes/templates/story-templates/fandom-fact.html
  includes/templates/story-templates/fandom-intro.html
  includes/templates/story-templates/fandom-title.html
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/title-page.html
  includes/templates/story-templates/travel-cta.html
  includes/templates/story-templates/travel-tip.html
  includes/templates/story-templates/travel-vertical.html
Labels: AMP Stories, cla: yes

#2496 (Temporarily) disable slow coverage jobs on Travis
  .travis.yml
Labels: [Type] Infrastructure, cla: yes

#2546 Set video poster with timeout
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
Labels: AMP Stories, cla: yes

#2545 Improve block navigation wording
  assets/src/stories-editor/components/block-navigation/index.js
Labels: AMP Stories, cla: yes

#2548 Guard against race condition when importing story templates after version bump
  includes/admin/class-amp-story-templates.php
Labels: AMP Stories, cla: yes

#2537 Update AMP validator spec to v1905292322390
  bin/amphtml-update.py
  includes/sanitizers/class-amp-allowed-tags-generated.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#2389 Allow dragging entire blocks
  assets/css/amp-stories-editor.css
  assets/src/stories-editor/blocks/amp-story-page/edit.css
  assets/src/stories-editor/blocks/amp-story-page/index.js
  assets/src/stories-editor/blocks/amp-story-post-author/edit.css
  assets/src/stories-editor/blocks/amp-story-post-date/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.css
  assets/src/stories-editor/components/block-mover/README.md
  assets/src/stories-editor/components/block-mover/block-drag-area.js
  assets/src/stories-editor/components/block-mover/block-draggable.js
  assets/src/stories-editor/components/block-mover/draggable.js
  assets/src/stories-editor/components/block-mover/edit.css
  assets/src/stories-editor/components/block-mover/icons.js
  assets/src/stories-editor/components/block-mover/index.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/resizable-box/edit.css
  assets/src/stories-editor/components/story-block-drop-zone.js
  assets/src/stories-editor/components/template-inserter/edit.css
  assets/src/stories-editor/components/with-story-block-drop-zone.js
  assets/src/stories-editor/components/with-wrapper-props.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/fandom-cta.html
  includes/templates/story-templates/fandom-fact.html
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/travel-cta.html
  includes/templates/story-templates/travel-tip.html
Labels: AMP Stories, cla: yes

#2555 Add requirement that Gutenberg 5.8 be active for Stories
  .dev-lib
  includes/class-amp-story-post-type.php
  tests/test-class-amp-story-post-type.php
  tests/test-class-amp-story-templates.php
  tests/validation/test-class-amp-validation-manager.php
Labels: AMP Stories, cla: yes

#2550 Refactor AMP modes
  amp.php
  assets/src/block-editor/index.js
  assets/src/block-editor/store/selectors.js
  assets/src/block-editor/store/test/selectors.js
  assets/src/block-validation/helpers/index.js
  assets/src/block-validation/store/selectors.js
  includes/admin/class-amp-admin-pointers.php
  includes/admin/class-amp-editor-blocks.php
  includes/admin/class-amp-post-meta-box.php
  includes/admin/functions.php
  includes/amp-helper-functions.php
  includes/class-amp-story-post-type.php
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  readme.md
  readme.txt
  tests/test-amp-helper-functions.php
  tests/test-amp.php
  tests/test-class-amp-cli.php
  tests/test-class-amp-gallery-block-sanitizer.php
  tests/test-class-amp-meta-box.php
  tests/test-class-amp-options-manager.php
  tests/test-class-amp-story-post-type.php
  tests/test-class-amp-theme-support.php
  tests/validation/test-class-amp-validated-url-post-type.php
  tests/validation/test-class-amp-validation-error-taxonomy.php
  tests/validation/test-class-amp-validation-manager.php
Labels: AMP Stories, cla: yes

#2561 Consistently import components from block-editor package
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
  assets/src/stories-editor/blocks/amp-story-cta/save.js
  assets/src/stories-editor/blocks/amp-story-cta/test/index.js
  assets/src/stories-editor/blocks/amp-story-post-author/test/index.js
  assets/src/stories-editor/blocks/amp-story-post-date/test/index.js
  assets/src/stories-editor/blocks/amp-story-post-title/test/index.js
  assets/src/stories-editor/components/higher-order/with-call-to-action-validation.js
Labels: AMP Stories, cla: yes

#2557 Prevent block invalidation due to missing width/height
  assets/src/stories-editor/components/block-mover/block-drag-area.js
  assets/src/stories-editor/components/block-mover/block-draggable.js
  assets/src/stories-editor/components/block-mover/draggable.js
  assets/src/stories-editor/components/block-mover/index.js
  assets/src/stories-editor/components/resizable-box/index.js
  assets/src/stories-editor/components/with-wrapper-props.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, cla: yes

#2562 Fix resizing for formatting blocks
  assets/css/amp-stories-editor.css
  assets/css/amp-stories-frontend.css
  assets/css/amp-stories.css
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/resizable-box/index.js
  assets/src/stories-editor/components/rotatable-box/index.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, cla: yes

#2570 Omit validation results from At a Glance if Website not enabled
  includes/validation/class-amp-validated-url-post-type.php
Labels: AMP Stories, cla: yes

#2509 Encourage lighter images and videos
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
  includes/class-amp-story-post-type.php
Labels: AMP Stories, cla: yes

#2569 Prevent horizontal scrollbar from appearing in story editor
  assets/src/stories-editor/blocks/amp-story-page/edit.css
  assets/src/stories-editor/components/editor-carousel/edit.css
  assets/src/stories-editor/components/higher-order/with-call-to-action-validation.js
Labels: AMP Stories, cla: yes

#2575 Remove width restriction from template preview resizer.
  assets/src/stories-editor/components/template-inserter/edit.css
Labels: AMP Stories, cla: yes

#2581 Fix toolbar buttons for media blocks
  assets/src/stories-editor/blocks/amp-story-page/edit.css
Labels: cla: yes

#2582 Add beta flag to Stories label in settings
  includes/options/class-amp-options-menu.php
Labels: AMP Stories, [Type] Enhancement, cla: yes

#2579 Fix inserter menu style.
  assets/src/stories-editor/components/template-inserter/edit.css
Labels: AMP Stories, cla: yes

#2589 Move amp-analytics under amp-story from body
  includes/templates/single-amp_story.php
  tests/test-tag-and-attribute-sanitizer.php
Labels: AMP Stories, cla: yes

#2591 Fix double opacity for text block
  assets/src/stories-editor/blocks/amp-story-text/edit.css
Labels: AMP Stories, [Type] Bug, cla: yes

#2601 Revert: Fix double opacity for text block
  assets/src/stories-editor/blocks/amp-story-text/edit.css
Labels: AMP Stories, cla: yes

#2607 Improve selection of background video
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, cla: yes

#2610 Fix double opacity
  assets/src/stories-editor/blocks/amp-story-text/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.js
Labels: AMP Stories, cla: yes

#2611 Fix text block height when fit-text is disabled
  assets/src/stories-editor/blocks/amp-story-text/edit.css
Labels: AMP Stories, [AMP Stories] Editing Features, [Type] Bug, cla: yes

#2617 Reload video player after changing background video
  assets/src/stories-editor/blocks/amp-story-page/edit.js
Labels: AMP Stories, cla: yes

#2613 Fix editing of draggable blocks in Safari
  assets/src/stories-editor/components/block-mover/draggable.js
  assets/src/stories-editor/components/block-mover/edit.css
Labels: AMP Stories, cla: yes

#2618 Adjust video caption style in FE.
  assets/css/amp-stories-frontend.css
Labels: AMP Stories, cla: yes

#2619 Add height for Video elements.
  assets/css/amp-stories-editor.css
Labels: AMP Stories, cla: yes

#2622 Always allow switching to Reader mode, but default to mode defined by theme
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  tests/test-amp-helper-functions.php
  tests/test-amp-style-sanitizer.php
  tests/test-class-amp-options-manager.php
  tests/test-class-amp-theme-support.php
  tests/test-class-amp-widget-archives.php
  tests/test-class-amp-widget-categories.php
  tests/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#2624 Fix Text block's padding and related resizing issues
  assets/css/amp-stories.css
  assets/src/stories-editor/blocks/amp-story-post-author/edit.css
  assets/src/stories-editor/blocks/amp-story-post-date/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/components/resizable-box/index.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, cla: yes

#2626 Prevent text block overflowing with amp-fit-text
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/helpers/index.js
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/fandom-title.html
  includes/templates/story-templates/title-page.html
Labels: cla: yes

#2634 Make sure block anchor IDs don’t start with a number
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, cla: yes

#2633 Only add text block template for the default page in a story
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/blocks/amp-story-page/test/__snapshots__/index.js.snap
Labels: AMP Stories, cla: yes

#2641 Add RSS feed link for Stories
  includes/admin/class-amp-story-templates.php
  includes/class-amp-story-post-type.php
  includes/options/class-amp-options-manager.php
  tests/test-class-amp-story-post-type.php
  tests/test-class-amp-story-templates.php
Labels: AMP Stories, cla: yes

#2571 Update readme.txt to include Stories
  contributing.md
  readme.md
  readme.txt
  wp-assets/screenshot-1.png
  wp-assets/screenshot-10.png
  wp-assets/screenshot-11.png
  wp-assets/screenshot-12.png
  wp-assets/screenshot-2.png
  wp-assets/screenshot-3.png
  wp-assets/screenshot-4.png
  wp-assets/screenshot-5.png
  wp-assets/screenshot-6.png
  wp-assets/screenshot-7.png
  wp-assets/screenshot-8.png
  wp-assets/screenshot-9.png
Labels: AMP Stories, cla: yes

#2660 Add missing webpack config for customizer scripts
  assets/src/customizer/amp-customize-controls.js
  assets/src/customizer/amp-customize-preview.js
  webpack.config.js
Labels: [Type] Infrastructure, cla: yes

#2659 Bump version to 1.2.0
  amp.php
  readme.md
  readme.txt
Labels: [Type] Task, cla: yes

#2680 Fix hidden editor on zooming.
  assets/css/amp-stories-editor.css
Labels: AMP Stories, cla: yes

#2654 Fix top toolbar issues on small screens
  assets/src/stories-editor/components/block-navigation/edit.css
  assets/src/stories-editor/components/story-controls/edit.css
Labels: AMP Stories, cla: yes

#2646 Add caption toggle for video block.
  assets/css/amp-stories-editor.css
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/with-wrapper-props.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/index.js
Labels: AMP Stories, cla: yes

#2688 Fix 4.9 JS polyfills
  assets/src/polyfills/wp-dom-ready.js
  assets/src/polyfills/wp-i18n.js
  webpack.config.js
Labels: cla: yes

#2690 Fix checking for block existence too late.
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, cla: yes

#2656 Adjust styling for the block navigation.
  assets/src/stories-editor/components/block-navigation/edit.css
Labels: AMP Stories, cla: yes

#2689 Fix lagging Template Inserter
  assets/src/stories-editor/components/template-inserter/edit.css
  assets/src/stories-editor/components/template-inserter/index.js
  assets/src/stories-editor/components/template-inserter/template-preview.js
Labels: AMP Stories, cla: yes

#2653 Update npm packages and restructure tests
  assets/src/block-editor/blocks/amp-latest-stories/edit.js
  assets/src/block-editor/blocks/amp-o2-player/edit.js
  assets/src/block-editor/helpers/test/getAmpFitTextContent.js
  assets/src/block-validation/components/validation-error-message/index.js
  assets/src/block-validation/components/validation-error-message/test/__snapshots__/index.js.snap
  assets/src/block-validation/components/validation-error-message/test/index.js
  assets/src/customizer/amp-customizer-design-preview.js
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
  assets/src/stories-editor/blocks/amp-story-cta/test/index.js
  assets/src/stories-editor/blocks/amp-story-page/test/__snapshots__/index.js.snap
  assets/src/stories-editor/blocks/amp-story-page/test/index.js
  assets/src/stories-editor/blocks/amp-story-post-author/test/index.js
  assets/src/stories-editor/blocks/amp-story-post-date/test/index.js
  assets/src/stories-editor/blocks/amp-story-post-title/test/index.js
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/blocks/amp-story-text/test/index.js
  assets/src/stories-editor/components/editor-carousel/test/__snapshots__/index.js.snap
  assets/src/stories-editor/components/editor-carousel/test/index.js
  assets/src/stories-editor/components/shortcuts/tests/index.js
  assets/src/stories-editor/components/story-controls/index.js
  assets/src/stories-editor/components/story-controls/tests/index.js
  assets/src/stories-editor/components/template-inserter/index.js
  assets/src/stories-editor/components/with-meta-block-edit.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/test/addAMPAttributes.js
  assets/src/stories-editor/helpers/test/addAMPExtraProps.js
  assets/src/stories-editor/helpers/test/addBackgroundColorToOverlay.js
  assets/src/stories-editor/helpers/test/createSkeletonTemplate.js
  assets/src/stories-editor/helpers/test/getClassNameFromBlockAttributes.js
  assets/src/stories-editor/helpers/test/getPercentageFromPixels.js
  assets/src/stories-editor/helpers/test/getPixelsFromPercentage.js
  assets/src/stories-editor/helpers/test/getStylesFromBlockAttributes.js
  assets/src/stories-editor/helpers/test/getTagName.js
  assets/src/stories-editor/helpers/test/getVideoBytesPerSecond.js
  assets/src/stories-editor/helpers/test/isVideoSizeExcessive.js
  assets/src/stories-editor/helpers/test/resetBlockAttributes.js
  assets/src/stories-editor/helpers/test/setBlockParent.js
  assets/src/stories-editor/helpers/wrapBlocksInGridLayer.js
  assets/src/stories-editor/store/actions.js
  assets/src/stories-editor/store/reducer.js
  assets/src/stories-editor/store/test/reducer.js
  assets/src/test/helpers/index.js
  package-lock.json
  package.json
  tests/test-class-amp-meta-box.php
  tests/unit/jest.config.js
Labels: [Type] Infrastructure, cla: yes

#2697 Remove Variables that were Assigned to Themselves
  bin/amphtml-update.py
Labels: [Type] Infrastructure, cla: yes

#1143 Proposing amp_post_template_body_open hook (AMP Reader mode version of wp_body_open)
  templates/html-start.php
Labels: cla: yes

#2710 Prevent tree-shaking dynamic class names for amp-date-picker
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/test-amp-style-sanitizer.php
Labels: CSS, cla: yes
