Repository ampproject/amp-wp, pull requests merged in 2019-08, with the labels that each got.

#2919 Remove deprecated formattingControls.
  assets/src/stories-editor/blocks/amp-story-cta/edit.css
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
  assets/src/stories-editor/helpers/test/addAMPExtraProps.js
Labels: AMP Stories, cla: yes

#2926 Fix handling of child_tag_name_oneof constraint in tag spec
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: Sanitizers, Validation Errors, [Type] Bug, cla: yes

#2928 Try: Move wrapBlockInGridLayer filter to PHP
  assets/src/stories-editor/helpers/index.js
  includes/class-amp-story-post-type.php
  includes/templates/story-templates/fandom-cta.html
  includes/templates/story-templates/fandom-fact-text.html
  includes/templates/story-templates/fandom-fact.html
  includes/templates/story-templates/fandom-intro.html
  includes/templates/story-templates/fandom-title.html
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/title-page.html
  includes/templates/story-templates/travel-cta.html
  includes/templates/story-templates/travel-tip.html
  includes/templates/story-templates/travel-vertical.html
  tests/php/test-class-amp-story-post-type.php
Labels: AMP Stories, cla: yes

#2961 Update `@wordpress/components` and fix tests
  assets/src/stories-editor/helpers/test/__snapshots__/maybeEnqueueFontStyle.js.snap
  assets/src/stories-editor/helpers/test/maybeEnqueueFontStyle.js
  package-lock.json
  package.json
Labels: cla: yes

#2960 Remove unused `eslint-disable` directives
  .eslintrc
  Gruntfile.js
  assets/src/amp-validation/amp-validation-single-error-url-details.js
  assets/src/block-editor/blocks/amp-timeago/edit.js
  assets/src/classic-editor/amp-post-meta-box.js
  assets/src/customizer/amp-customize-controls.js
  assets/src/customizer/amp-customize-preview.js
  assets/src/customizer/amp-customizer-design-preview.js
  assets/src/stories-editor/components/inserter/menu.js
  package-lock.json
  package.json
Labels: [Type] Infrastructure, [Type] Task, cla: yes

#2935 Tidy up templates directory for Reader mode
  includes/admin/class-amp-post-meta-box.php
  includes/templates/amp-enabled-classic-editor-toggle.php
  templates/header-bar.php
  templates/header.php
  templates/meta-author.php
  templates/meta-comments-link.php
  templates/meta-taxonomy.php
  templates/meta-time.php
Labels: cla: yes

#2970 Fix encoding error when HTML5 meta charset does not appear at beginning of head
  includes/utils/class-amp-dom-utils.php
  tests/php/test-class-amp-dom-utils.php
Labels: cla: yes

#2937 Hide the Block Manager and add an e2e test for it
  assets/css/amp-stories-editor.css
  tests/e2e/specs/stories-editor/block-manager-disabled.test.js
Labels: AMP Stories, cla: yes

#2973 Fix accidental omission of selector when no modifications made
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#2967 First pass at rotation snapping
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/rotatable-box/index.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
  package-lock.json
  package.json
Labels: AMP Stories, cla: yes

#2927 Add e2e tests for media size notices and featured image
  assets/src/common/components/with-enforced-file-type.js
  tests/e2e/assets/large-image-36521.jpg
  tests/e2e/assets/oversize-video-45321.mp4
  tests/e2e/specs/stories-editor/featured-image-automatically-set.test.js
  tests/e2e/specs/stories-editor/media-file-size-warnings.test.js
  tests/e2e/specs/stories-editor/video-poster-image-extraction.test.js
  tests/e2e/utils/index.js
  tests/e2e/utils/upload-media.js
Labels: AMP Stories, cla: yes

#2906 Fix setting animation order.
  assets/src/stories-editor/blocks/amp-story-cta/save.js
  assets/src/stories-editor/blocks/amp-story-text/deprecated.js
  assets/src/stories-editor/blocks/amp-story-text/index.js
  assets/src/stories-editor/components/template-inserter/template-preview.js
  assets/src/stories-editor/deprecations/core-blocks/code.js
  assets/src/stories-editor/deprecations/core-blocks/embed.js
  assets/src/stories-editor/deprecations/core-blocks/html.js
  assets/src/stories-editor/deprecations/core-blocks/image.js
  assets/src/stories-editor/deprecations/core-blocks/index.js
  assets/src/stories-editor/deprecations/core-blocks/list.js
  assets/src/stories-editor/deprecations/core-blocks/preformatted.js
  assets/src/stories-editor/deprecations/core-blocks/pullquote.js
  assets/src/stories-editor/deprecations/core-blocks/quote.js
  assets/src/stories-editor/deprecations/core-blocks/table.js
  assets/src/stories-editor/deprecations/core-blocks/verse.js
  assets/src/stories-editor/deprecations/core-blocks/video.js
  assets/src/stories-editor/deprecations/filters/add-amp-attributes.js
  assets/src/stories-editor/deprecations/filters/add-amp-extra-props.js
  assets/src/stories-editor/deprecations/filters/index.js
  assets/src/stories-editor/deprecations/filters/wrap-blocks-in-grid-layer.js
  assets/src/stories-editor/deprecations/shared.js
  assets/src/stories-editor/deprecations/story-meta-block.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/wrapBlocksInGridLayer.js
  assets/src/stories-editor/index.js
  includes/admin/class-amp-story-templates.php
  includes/class-amp-story-post-type.php
  includes/templates/story-templates/fandom-cta.html
  includes/templates/story-templates/fandom-fact-text.html
  includes/templates/story-templates/fandom-fact.html
  includes/templates/story-templates/fandom-intro.html
  includes/templates/story-templates/fandom-title.html
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/title-page.html
  includes/templates/story-templates/travel-cta.html
  includes/templates/story-templates/travel-tip.html
  includes/templates/story-templates/travel-vertical.html
  tests/e2e/specs/stories-editor/animations.test.js
  tests/e2e/utils/index.js
  tests/e2e/utils/open-preview-page.js
  tests/e2e/utils/select-block-by-classname.js
  tests/php/test-class-amp-story-post-type.php
Labels: AMP Stories, cla: yes

#2978 Video poster image size improvements
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/components/custom-video-block-edit.js
  assets/src/stories-editor/helpers/index.js
  includes/class-amp-story-media.php
Labels: cla: yes

#2979 Text block: create new paragraph on enter
  assets/src/stories-editor/blocks/amp-story-text/edit.js
Labels: AMP Stories, [Type] Enhancement, cla: yes

#2920 Change dragging and dropping of layers
  assets/src/stories-editor/components/block-navigation/edit.css
  assets/src/stories-editor/components/block-navigation/item.js
Labels: AMP Stories, cla: yes

#2980 Decouple post meta box and block validation assets
  assets/css/amp-post-meta-box.css
  assets/src/block-validation/components/higher-order/with-validation-error-notice/edit.css
  assets/src/block-validation/components/higher-order/with-validation-error-notice/index.js
  includes/admin/class-amp-post-meta-box.php
  includes/validation/class-amp-validation-manager.php
  tests/php/test-class-amp-meta-box.php
  tests/php/validation/test-class-amp-validation-manager.php
  webpack.config.js
Labels: cla: yes

#2998 Fix Text blocks: Revert multiline
  assets/src/stories-editor/blocks/amp-story-text/edit.js
Labels: AMP Stories, cla: yes

#2991 E2E tests for Page block.
  tests/e2e/specs/stories-editor/page.test.js
  tests/e2e/utils/click-button-by-label.js
  tests/e2e/utils/get-sidebar-panel-toggle-by-title.js
  tests/e2e/utils/index.js
Labels: AMP Stories, cla: yes

#2930 Ensure additional story images and fallback publisher image are included in Schema.org metadata
  assets/images/amp-page-fallback-wordpress-publisher-logo.png
  assets/images/amp-story-fallback-wordpress-publisher-logo.png
  includes/amp-helper-functions.php
  includes/class-amp-story-media.php
  includes/templates/single-amp_story.php
  tests/php/test-amp-helper-functions.php
Labels: AMP Stories, cla: yes

#2988 Hide tooltips that should be hidden
  assets/css/admin-tables.css
  assets/css/amp-validation-tooltips.css
Labels: [Type] Bug, cla: yes

#3005 Always hide AMP admin menu item and compatibility tool menu items for non-admins role
  includes/options/class-amp-options-menu.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
Labels: cla: yes

#2986 Improve handling of unlisted Vimeo videos
  includes/embeds/class-amp-vimeo-embed.php
  tests/php/test-amp-vimeo-embed.php
Labels: cla: yes

#3003 Update amphtml validator spec to v1907301630320
  includes/embeds/class-amp-soundcloud-embed.php
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-block-sanitizer.php
  tests/php/test-amp-soundcloud-embed.php
  tests/php/test-class-amp-block-sanitizer.php
Labels: cla: yes

#3007 Fix AMP Story editor compatibility with code editor
  assets/src/stories-editor/components/inserter/index.js
  assets/src/stories-editor/components/shortcuts/index.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/index.js
  tests/e2e/specs/hello.test.js
  tests/e2e/specs/stories-editor/code-editor.test.js
  tests/e2e/specs/stories-editor/stories-admin-pointer.test.js
Labels: AMP Stories, [Type] Bug, cla: yes

#2977 RTLCSS all the things
  .gitignore
  .rtlcssrc
  .stylelintignore
  .travis.yml
  Gruntfile.js
  assets/css/admin-bar-rtl.css
  assets/css/src/admin-bar.css
  assets/css/src/admin-tables.css
  assets/css/src/amp-block-editor.css
  assets/css/src/amp-customizer.css
  assets/css/src/amp-default.css
  assets/css/src/amp-playlist-shortcode.css
  assets/css/src/amp-post-meta-box.css
  assets/css/src/amp-stories-editor.css
  assets/css/src/amp-stories-frontend.css
  assets/css/src/amp-stories.css
  assets/css/src/amp-story-card.css
  assets/css/src/amp-validation-error-taxonomy.css
  assets/css/src/amp-validation-single-error-url.css
  assets/css/src/amp-validation-tooltips.css
  includes/admin/class-amp-admin-pointer.php
  includes/admin/class-amp-customizer.php
  includes/admin/class-amp-post-meta-box.php
  includes/class-amp-story-post-type.php
  includes/class-amp-theme-support.php
  includes/embeds/class-amp-playlist-embed-handler.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  package.json
Labels: cla: yes

#2974 Normalize amp-bind syntax to non-bracketed data-amp-bind-* attributes
  bin/amphtml-update.py
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-comments-sanitizer.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/sanitizers/class-amp-nav-menu-toggle-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/utils/class-amp-dom-utils.php
  tests/php/test-class-amp-dom-utils.php
  tests/php/test-class-amp-nav-menu-toggle-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#3015 Fix handling of polyfill dependencies
  assets/src/polyfills/wp-server-side-render.js
  includes/amp-helper-functions.php
  tests/e2e/specs/block-editor/amp-toggle.test.js
  webpack.config.js
Labels: [Integration] Gutenberg, [Type] Bug, [Type] Infrastructure, cla: yes

#3018 Update eslint-plugin-jest and improve tests
  package-lock.json
  package.json
  tests/e2e/specs/amp-options.test.js
  tests/e2e/specs/stories-editor/featured-image-automatically-set.test.js
  tests/e2e/specs/stories-editor/page.test.js
  tests/e2e/specs/stories-editor/stories-admin-pointer.test.js
Labels: [Type] Infrastructure, cla: yes

#3019 Exclude stories editor svgs from build
  Gruntfile.js
  assets/images/stories-editor/add-page-inserter.svg
  assets/images/stories-editor/add-template.svg
  assets/images/stories-editor/amp-story-fallback-wordpress-publisher-logo.png
  assets/images/stories-editor/amp-story-page-icon.svg
  assets/images/stories-editor/bring-forward.svg
  assets/images/stories-editor/bring-front.svg
  assets/images/stories-editor/call-to-action.svg
  assets/images/stories-editor/font-names/arimo.svg
  assets/images/stories-editor/font-names/lato.svg
  assets/images/stories-editor/font-names/lora.svg
  assets/images/stories-editor/font-names/merriweather.svg
  assets/images/stories-editor/font-names/montserrat.svg
  assets/images/stories-editor/font-names/noto-sans.svg
  assets/images/stories-editor/font-names/open-sans-condensed.svg
  assets/images/stories-editor/font-names/open-sans.svg
  assets/images/stories-editor/font-names/oswald.svg
  assets/images/stories-editor/font-names/playfair-display.svg
  assets/images/stories-editor/font-names/pt-sans-narrow.svg
  assets/images/stories-editor/font-names/pt-sans.svg
  assets/images/stories-editor/font-names/pt-serif.svg
  assets/images/stories-editor/font-names/raleway.svg
  assets/images/stories-editor/font-names/roboto-condensed.svg
  assets/images/stories-editor/font-names/roboto-slab.svg
  assets/images/stories-editor/font-names/roboto.svg
  assets/images/stories-editor/font-names/slabo-27.svg
  assets/images/stories-editor/font-names/source-sans-pro.svg
  assets/images/stories-editor/font-names/ubuntu.svg
  assets/images/stories-editor/reorder.svg
  assets/images/stories-editor/send-back.svg
  assets/images/stories-editor/send-backwards.svg
  assets/images/stories-editor/story-fallback-poster.jpg
  assets/images/stories-editor/story-templates/cta-bg.jpg
  assets/images/stories-editor/story-templates/cta-image.jpg
  assets/images/stories-editor/story-templates/fandom-cta.jpg
  assets/images/stories-editor/story-templates/fandom-fact.jpg
  assets/images/stories-editor/story-templates/fandom-title.jpg
  assets/images/stories-editor/story-templates/got-logo.png
  assets/images/stories-editor/story-templates/intro-bg.jpg
  assets/images/stories-editor/story-templates/quote-bg.jpg
  assets/images/stories-editor/story-templates/quote-image.png
  assets/images/stories-editor/story-templates/rome.png
  assets/images/stories-editor/story-templates/title-bg.jpg
  assets/images/stories-editor/story-templates/travel-tip.jpg
  assets/src/stories-editor/blocks/amp-story-cta/index.js
  assets/src/stories-editor/blocks/amp-story-page/index.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/story-controls/index.js
  assets/src/stories-editor/components/template-inserter/index.js
  assets/src/stories-editor/constants.js
  includes/amp-helper-functions.php
  includes/class-amp-story-media.php
  tests/php/test-amp-helper-functions.php
Labels: cla: yes

#3022 Allow running lint scripts only on specific files
  .stylelintignore
  package.json
Labels: [Type] Enhancement, [Type] Infrastructure, cla: yes

#3020 Fix Template Inserter
  assets/src/stories-editor/components/template-inserter/edit.css
  includes/admin/class-amp-story-templates.php
  includes/templates/story-templates/quote.html
  includes/templates/story-templates/travel-cta.html
  tests/e2e/specs/stories-editor/story-templates.test.js
Labels: AMP Stories, cla: yes

#3021 Fix poster image extraction
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, cla: yes

#3034 Prevent tree shaking any CSS selectors based on the descendants of amp-script elements
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#3031 Update e2e test setup
  .travis.yml
  bin/local-env/docker-compose.yml
  bin/local-env/includes.sh
  bin/local-env/install-node-nvm.sh
  bin/local-env/install-wordpress.sh
  bin/local-env/launch-containers.sh
  bin/local-env/start.sh
  bin/local-env/stop.sh
  tests/e2e/specs/stories-editor/code-editor.test.js
Labels: [Type] Enhancement, [Type] Infrastructure, cla: yes

#2863 Require double click (or just two clicks) for editing.
  assets/src/stories-editor/blocks/amp-story-cta/edit.css
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
  assets/src/stories-editor/blocks/amp-story-text/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.js
  assets/src/stories-editor/components/draggable-text.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/index.js
  assets/src/stories-editor/components/resizable-box/index.js
  assets/src/stories-editor/components/story-block-drop-zone.js
  assets/src/stories-editor/components/with-wrapper-props.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
  tests/e2e/specs/stories-editor/cta.test.js
  tests/e2e/specs/stories-editor/story-templates.test.js
  tests/e2e/specs/stories-editor/text-block.test.js
  tests/e2e/utils/get-blocks-on-page.js
  tests/e2e/utils/index.js
  tests/e2e/utils/wp-data-select.js
Labels: AMP Stories, cla: yes

#3033 Inline color support
  assets/images/stories-editor/marker.svg
  assets/src/stories-editor/components/block-preview-label.js
  assets/src/stories-editor/formats/background-color/edit.css
  assets/src/stories-editor/formats/background-color/edit.js
  assets/src/stories-editor/formats/background-color/index.js
  assets/src/stories-editor/formats/text-color/edit.css
  assets/src/stories-editor/formats/text-color/edit.js
  assets/src/stories-editor/formats/text-color/index.js
  assets/src/stories-editor/index.js
  package-lock.json
  package.json
Labels: AMP Stories, [AMP Stories] Editing, cla: yes

#3049 Harden logic for normalizing image metadata before adding story images
  includes/class-amp-story-media.php
  tests/php/test-class-amp-story-media.php
Labels: AMP Stories, cla: yes

#3052 Wait until content loaded before calculating font size.
  assets/src/stories-editor/components/with-meta-block-edit.js
Labels: AMP Stories, cla: yes

#3023 Add more resizing handles
  assets/src/stories-editor/blocks/amp-story-page/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.css
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/inserter/test/menu.js
  assets/src/stories-editor/components/resizable-box/edit.css
  assets/src/stories-editor/components/resizable-box/helpers.js
  assets/src/stories-editor/components/resizable-box/index.js
  assets/src/stories-editor/components/resizable-box/test/getBlockPositioning.js
  assets/src/stories-editor/components/resizable-box/test/getResizedWidthAndHeight.js
  assets/src/stories-editor/components/rotatable-box/edit.css
  assets/src/stories-editor/components/shortcuts/tests/index.js
  assets/src/stories-editor/components/story-controls/tests/index.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/test/getBlockPositioning.js
  tests/e2e/jest.config.js
  tests/e2e/specs/amp-options.js
  tests/e2e/specs/block-editor/amp-toggle.js
  tests/e2e/specs/stories-editor/animations.js
  tests/e2e/specs/stories-editor/block-manager-disabled.js
  tests/e2e/specs/stories-editor/code-editor.js
  tests/e2e/specs/stories-editor/cta.js
  tests/e2e/specs/stories-editor/featured-image-automatically-set.js
  tests/e2e/specs/stories-editor/media-file-size-warnings.js
  tests/e2e/specs/stories-editor/page.js
  tests/e2e/specs/stories-editor/resizing.js
  tests/e2e/specs/stories-editor/stories-admin-pointer.js
  tests/e2e/specs/stories-editor/story-templates.js
  tests/e2e/specs/stories-editor/text-block.js
  tests/e2e/specs/stories-editor/video-poster-image-extraction.js
  tests/js/jest.config.js
Labels: AMP Stories, [AMP Stories] Editing, cla: yes

#3057 Try fixing CTA test.
  tests/e2e/specs/stories-editor/animations.js
  tests/e2e/specs/stories-editor/code-editor.js
  tests/e2e/specs/stories-editor/cta.js
  tests/e2e/specs/stories-editor/featured-image-automatically-set.js
  tests/e2e/specs/stories-editor/page.js
  tests/e2e/utils/click-button.js
  tests/e2e/utils/index.js
  tests/e2e/utils/switch-editor-mode-to.js
Labels: cla: yes

#3075 Adjust block inserter style.
  assets/src/stories-editor/components/inserter/edit.css
  assets/src/stories-editor/components/inserter/index.js
  assets/src/stories-editor/components/inserter/menu.js
Labels: AMP Stories, cla: yes

#3074 Bump 1.2.1
  amp.php
  readme.md
  readme.txt
Labels: cla: yes

#3051 Update the AMP_Twitter_Embed_Handler class to support all of the custom data attributes supported by the amp-twitter tag
  includes/embeds/class-amp-twitter-embed.php
  tests/php/test-amp-twitter-embed.php
Labels: Embeds, cla: yes

#3065 Add Roave Security Advisories package as develoment dependency
  composer.json
  composer.lock
Labels: [Type] Enhancement, cla: yes

#3059 Eliminate experimental support for service worker streaming for PWA plugin
  includes/class-amp-theme-support.php
Labels: [Integration] PWA, cla: yes

#3064 Normalize frameborder=no|yes to frameborder=0|1 in iframe sanitizer
  includes/sanitizers/class-amp-iframe-sanitizer.php
  tests/php/test-amp-iframe-sanitizer.php
Labels: Sanitizers, cla: yes

#3088 Only enqueue story stylesheet for singular amp_story requests
  includes/class-amp-story-post-type.php
Labels: AMP Stories, cla: yes

#3089 Prevent empty srcset for images in galleries
  includes/embeds/class-amp-gallery-embed.php
Labels: cla: yes

#3091 Fix missing reusable blocks when Stories turned off
  includes/admin/class-amp-story-templates.php
  tests/e2e/specs/stories-editor/story-templates.js
  tests/e2e/utils/click-on-more-menu-item.js
  tests/e2e/utils/index.js
  tests/php/test-class-amp-story-templates.php
Labels: AMP Stories, cla: yes

#3096 Manually update eslint-utils
  package-lock.json
  package.json
Labels: [Type] Infrastructure, cla: yes

#3100 Try to prevent editor crash
  assets/src/block-validation/index.js
Labels: Needs Testing, [Integration] Gutenberg, [Type] Bug, cla: yes

#3093 Move adding background media to the toolbar
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/components/block-navigation/edit.css
  assets/src/stories-editor/components/index.js
  assets/src/stories-editor/components/media-inserter/index.js
  assets/src/stories-editor/components/shortcuts/index.js
  assets/src/stories-editor/components/story-controls/edit.css
  assets/src/stories-editor/helpers/index.js
  tests/e2e/specs/stories-editor/media-inserter.js
  tests/e2e/specs/stories-editor/page.js
Labels: cla: yes

#3099 Add missing lightbox attributes & node on aligned image blocks
  includes/sanitizers/class-amp-img-sanitizer.php
  tests/php/test-amp-img-sanitizer.php
Labels: Media, Sanitizers, [Type] Bug, cla: yes

#3122 Update assertions for failing resizing tests
  tests/e2e/specs/stories-editor/resizing.js
Labels: cla: yes

#3106 Add amp_print_analytics action triggering before printing entries as amp-analytics
  includes/amp-helper-functions.php
  tests/php/test-amp-analytics-options.php
Labels: AMP Stories, [Size] XS, [Type] Enhancement, cla: yes

#3146 Add missing waitForSelector call to flaky story templates e2e test
  tests/e2e/specs/stories-editor/story-templates.js
Labels: AMP Stories, [Type] Bug, [Type] Infrastructure, cla: yes

#3148 Update wp-scripts package
  package-lock.json
  package.json
  tests/e2e/jest.config.js
  tests/js/jest.config.js
Labels: [Type] Infrastructure, cla: yes

#3147 Update eslint-plugin-jest to 22.16.0
  package-lock.json
  package.json
  tests/e2e/config/bootstrap.js
Labels: [Type] Infrastructure, cla: yes

#3097 Fix lightbox on file-linked galleries
  includes/embeds/class-amp-gallery-embed.php
  tests/php/test-amp-gallery-embed.php
Labels: Embeds, Sanitizers, [Type] Bug, cla: yes

#3151 Remove value_url attributes with an invalid URL
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: Validation Errors, [Type] Bug, cla: yes

#3156 Temporarily skip Story Templates test
  tests/e2e/specs/stories-editor/story-templates.js
Labels: AMP Stories, cla: yes

#3159 Fix notice thrown for checking nonexistent is_block_editor property
  includes/admin/class-amp-post-meta-box.php
Labels: [Type] Bug, cla: yes
