Repository ampproject/amp-wp, pull requests merged in 2019-10, with the labels that each got.

#3404 Bump 1.3.0
  amp.php
  readme.md
  readme.txt
Labels: cla: yes

#3356 Support reordering pages from carousel
  assets/src/stories-editor/components/block-navigation/item.js
  assets/src/stories-editor/components/editor-carousel/edit.css
  assets/src/stories-editor/components/editor-carousel/index.js
  assets/src/stories-editor/components/editor-carousel/indicator.js
  assets/src/stories-editor/components/reorderer/item.js
  assets/src/stories-editor/helpers/index.js
Labels: AMP Stories, cla: yes

#3399 Fix reducing width for a Text block
  assets/src/stories-editor/components/resizable-box/index.js
Labels: AMP Stories, cla: yes

#3413 Fix two remaining jsdoc eslint warnings
  assets/src/block-editor/components/with-media-library-notice.js
  assets/src/common/helpers/index.js
Labels: P2, Type: Bug, Type: Documentation, cla: yes

#3414 Add missing dependency to package.json
  package-lock.json
  package.json
Labels: AMP Stories, P2, Type: Bug, Type: Infrastructure, cla: yes

#3405 Remove running redundant phpunit during deploy
  Gruntfile.js
Labels: Size: XS, Type: Infrastructure, cla: yes

#3297 Enhance contributing guidelines
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/help_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  contributing.md
  contributing/engineering.md
  contributing/projet-management.md
Labels: cla: yes

#3418 Enhance GitHub templates.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  contributing.md
Labels: Type: Documentation, cla: yes

#3419 Fix typo in contributing docs file name
  contributing.md
  contributing/project-management.md
Labels: Type: Documentation, cla: yes

#3432 Improve import order consistency with new eslint rule
  .eslintrc
  assets/src/block-editor/components/with-media-library-notice.js
  assets/src/block-editor/index.js
  assets/src/block-validation/index.js
  assets/src/common/helpers/test/enforceFileSize.js
  assets/src/common/helpers/test/mediaLibraryHasTwoNotices.js
  assets/src/stories-editor/blocks/amp-story-cta/deprecated.js
  assets/src/stories-editor/blocks/amp-story-cta/index.js
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/blocks/amp-story-page/index.js
  assets/src/stories-editor/components/animation-controls/index.js
  assets/src/stories-editor/components/editor-carousel/index.js
  assets/src/stories-editor/components/resizable-box/index.js
  assets/src/stories-editor/components/right-click-menu/index.js
  assets/src/stories-editor/components/template-inserter/index.js
  assets/src/stories-editor/deprecations/core-blocks/embed.js
  assets/src/stories-editor/deprecations/core-blocks/html.js
  assets/src/stories-editor/deprecations/core-blocks/image.js
  assets/src/stories-editor/deprecations/core-blocks/list.js
  assets/src/stories-editor/deprecations/core-blocks/preformatted.js
  assets/src/stories-editor/deprecations/core-blocks/pullquote.js
  assets/src/stories-editor/deprecations/core-blocks/quote.js
  assets/src/stories-editor/deprecations/core-blocks/table.js
  assets/src/stories-editor/deprecations/core-blocks/verse.js
  assets/src/stories-editor/deprecations/core-blocks/video.js
  assets/src/stories-editor/formats/background-color/edit.js
  assets/src/stories-editor/plugins/story-settings-panel.js
  assets/src/stories-editor/store/effects.js
Labels: Type: Infrastructure, cla: yes

#3440 Fix Admin Bar positioning on mobile viewport
  includes/class-amp-theme-support.php
Labels: cla: yes

#3312 Allow drag to different page
  assets/src/stories-editor/blocks/amp-story-page/edit.css
  assets/src/stories-editor/components/block-mover/README.md
  assets/src/stories-editor/components/block-mover/block-draggable.js
  assets/src/stories-editor/components/block-mover/draggable.js
  assets/src/stories-editor/components/block-navigation/index.js
  assets/src/stories-editor/components/editor-carousel/index.js
  assets/src/stories-editor/components/higher-order/with-call-to-action-validation.js
  assets/src/stories-editor/components/inserter/index.js
  assets/src/stories-editor/components/inserter/menu.js
  assets/src/stories-editor/components/media-inserter/index.js
  assets/src/stories-editor/components/shortcuts/index.js
  assets/src/stories-editor/components/story-block-drop-zone.js
  assets/src/stories-editor/components/with-wrapper-props.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/isCTABlock.js
  assets/src/stories-editor/helpers/test/useIsBlockAllowedOnPage.js
  assets/src/stories-editor/helpers/test/useMoveBlockToPage.js
  assets/src/stories-editor/helpers/useIsBlockAllowedOnPage.js
  assets/src/stories-editor/helpers/useMoveBlockToPage.js
Labels: AMP Stories, Group: Stories Editing, Type: Enhancement, cla: yes

#3439 Account for filtering of gallery 'link' attribute
  includes/embeds/class-amp-gallery-embed.php
Labels: Size: XS, cla: yes

#3433 Fix sliding when resizing with minimum limits reached
  assets/src/stories-editor/components/block-mover/block-draggable.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/resizable-box/index.js
  tests/e2e/specs/stories-editor/resizing.js
  tests/e2e/utils/select-block-by-classname.js
Labels: AMP Stories, cla: yes

#3446 Refactor BlockPreviewLabel to use hooks
  assets/src/stories-editor/components/block-preview-label.js
  assets/src/stories-editor/components/resizable-box/index.js
Labels: AMP Stories, Type: Enhancement, cla: yes

#3457 Prevent removal of AMP classes for input mode
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#3417 Implement moving blocks to previous/next page using context menu
  assets/src/stories-editor/components/right-click-menu/index.js
  assets/src/stories-editor/helpers/test/useMoveBlockToPage.js
  assets/src/stories-editor/helpers/useMoveBlockToPage.js
  tests/e2e/specs/stories-editor/right-click-menu.js
Labels: AMP Stories, cla: yes

#3408 Enable access to context menu through keyboard
  assets/src/stories-editor/components/context-menu/edit.css
  assets/src/stories-editor/components/context-menu/index.js
  assets/src/stories-editor/components/context-menu/outside-click-checker.js
  assets/src/stories-editor/components/higher-order/with-context-menu.js
  assets/src/stories-editor/components/index.js
  assets/src/stories-editor/index.js
  tests/e2e/specs/stories-editor/context-menu.js
  tests/e2e/specs/stories-editor/right-click-menu.js
Labels: AMP Stories, cla: yes

#3060 Snapping Guidelines
  .eslintrc
  assets/src/stories-editor/components/block-mover/block-draggable.js
  assets/src/stories-editor/components/block-mover/draggable.js
  assets/src/stories-editor/components/block-mover/edit.css
  assets/src/stories-editor/components/contexts/snapping/edit.css
  assets/src/stories-editor/components/contexts/snapping/index.js
  assets/src/stories-editor/components/contexts/test/__snapshots__/snapping.js.snap
  assets/src/stories-editor/components/contexts/test/snapping.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/higher-order/with-page-number.js
  assets/src/stories-editor/components/higher-order/with-snap-lines.js
  assets/src/stories-editor/components/higher-order/with-snap-targets.js
  assets/src/stories-editor/components/index.js
  assets/src/stories-editor/components/resizable-box/index.js
  assets/src/stories-editor/components/rotatable-box/index.js
  assets/src/stories-editor/components/with-wrapper-props.js
  assets/src/stories-editor/constants.js
  assets/src/stories-editor/helpers/addAMPAttributes.js
  assets/src/stories-editor/helpers/deprecateCoreBlocks.js
  assets/src/stories-editor/helpers/filterBlockTransforms.js
  assets/src/stories-editor/helpers/getBlockInnerElement.js
  assets/src/stories-editor/helpers/getBlockWrapperElement.js
  assets/src/stories-editor/helpers/getRelativeElementPosition.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/isCTABlock.js
  assets/src/stories-editor/helpers/snapping/createSnapList.js
  assets/src/stories-editor/helpers/snapping/findBestMatch.js
  assets/src/stories-editor/helpers/snapping/findClosestSnap.js
  assets/src/stories-editor/helpers/snapping/getBestSnapLines.js
  assets/src/stories-editor/helpers/snapping/getHorizontalSnaps.js
  assets/src/stories-editor/helpers/snapping/getSnapCalculatorByDimension.js
  assets/src/stories-editor/helpers/snapping/getVerticalSnaps.js
  assets/src/stories-editor/helpers/snapping/index.js
  assets/src/stories-editor/helpers/snapping/test/createSnapList.js
  assets/src/stories-editor/helpers/snapping/test/findBestMatch.js
  assets/src/stories-editor/helpers/snapping/test/findClosestSnap.js
  assets/src/stories-editor/helpers/snapping/test/getBestSnapLines.js
  assets/src/stories-editor/helpers/snapping/test/getSnapCalculatorByDimension.js
  assets/src/stories-editor/helpers/snapping/types.js
  assets/src/stories-editor/helpers/test/calculateTargetScalingFactor.js
  assets/src/stories-editor/helpers/test/getRelativeElementPosition.js
  assets/src/stories-editor/helpers/wrapBlocksInGridLayer.js
  assets/src/stories-editor/index.js
  assets/src/stories-editor/store/reducer.js
  package-lock.json
  package.json
  tests/e2e/specs/stories-editor/resizing.js
  tests/js/jest.config.js
  tests/shared/test-utils/wp-element-mock.js
Labels: AMP Stories, Group: Stories Editing, cla: yes

#3239 Update allowed tags/attributes from spec in amphtml 1910071803120
  bin/amphtml-update.py
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/trait-amp-noscript-fallback.php
  tests/php/test-amp-img-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#3346 Auto-reject excessive CSS validation errors
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  tests/php/test-tag-and-attribute-sanitizer.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: CSS, Sanitizers, cla: yes

#3470 Always request the `force_svg_support` theme feature
  includes/amp-helper-functions.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: cla: yes

#3478 Prevent showing zero count with Validated URLs
  includes/validation/class-amp-validated-url-post-type.php
Labels: cla: yes

#3473 Add direct support for Scribd embeds
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/embeds/class-amp-scribd-embed-handler.php
  tests/php/test-amp-scribd-embed-handler.php
Labels: cla: yes

#3453 CTA button responsiveness
  assets/css/src/amp-stories-frontend.css
  assets/src/stories-editor/blocks/amp-story-cta/deprecated.js
  assets/src/stories-editor/blocks/amp-story-cta/edit.css
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
  assets/src/stories-editor/blocks/amp-story-cta/index.js
  assets/src/stories-editor/blocks/amp-story-cta/save.js
Labels: AMP Stories, cla: yes

#3484 Fix console warning for SnapLines
  assets/src/stories-editor/components/contexts/snapping/index.js
Labels: cla: yes

#3485 Fix dropzone by adding `key`
  assets/src/stories-editor/components/story-block-drop-zone.js
Labels: cla: yes

#3487 Fix media uploader.
  assets/src/stories-editor/components/custom-video-block-edit.js
Labels: AMP Stories, cla: yes

#3483 Update description and tags in readme
  readme.md
  readme.txt
Labels: Type: Documentation, cla: yes

#3495 Restore DropZoneProvider
  assets/src/stories-editor/components/editor-carousel/index.js
Labels: AMP Stories, cla: yes

#3454 Fix sliding when reducing size.
  assets/src/stories-editor/blocks/amp-story-post-author/edit.css
  assets/src/stories-editor/blocks/amp-story-post-date/edit.css
  assets/src/stories-editor/blocks/amp-story-post-title/edit.css
  assets/src/stories-editor/blocks/amp-story-text/edit.css
Labels: AMP Stories, cla: yes

#3502 Update order of tags in readme
  readme.md
  readme.txt
Labels: cla: yes

#3494 Change WordPress blue to update value in WP 5.3
  assets/src/stories-editor/components/autocomplete/edit.css
  assets/src/stories-editor/components/post-selector/edit.css
  postcss.config.js
  tests/php/data/css/buttons.css
Labels: AMP Stories, cla: yes

#3507 Set layout to responsive if the iframe is aligned to full width
  includes/sanitizers/class-amp-iframe-sanitizer.php
  tests/php/test-amp-iframe-sanitizer.php
Labels: Group: Embeds, Sanitizers, Type: Bug, cla: yes

#3536 Adjust issue reference in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#3514 Ensure smooth snap line display
  assets/src/stories-editor/components/block-mover/draggable.js
  assets/src/stories-editor/components/contexts/snapping/index.js
  assets/src/stories-editor/components/contexts/test/snapping.js
  assets/src/stories-editor/components/higher-order/with-snap-targets.js
  assets/src/stories-editor/components/resizable-box/index.js
  assets/src/stories-editor/helpers/snapping/createSnapList.js
  assets/src/stories-editor/helpers/snapping/findBestMatch.js
  assets/src/stories-editor/helpers/snapping/getBestSnapLines.js
  assets/src/stories-editor/helpers/snapping/getHorizontalTargets.js
  assets/src/stories-editor/helpers/snapping/getSnapCalculatorByDimension.js
  assets/src/stories-editor/helpers/snapping/getVerticalTargets.js
  assets/src/stories-editor/helpers/snapping/index.js
  assets/src/stories-editor/helpers/snapping/test/createSnapList.js
  assets/src/stories-editor/helpers/snapping/test/findBestMatch.js
  assets/src/stories-editor/helpers/snapping/test/getBestSnapLines.js
  assets/src/stories-editor/helpers/snapping/test/getSnapCalculatorByDimension.js
  assets/src/stories-editor/helpers/snapping/types.js
Labels: AMP Stories, cla: yes

#3539 Fix `hasTextContent` for meta blocks
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/constants.js
Labels: AMP Stories, cla: yes

#3537 Remove page menu option in context menu
  assets/src/stories-editor/components/context-menu/index.js
  assets/src/stories-editor/components/higher-order/with-context-menu.js
  assets/src/stories-editor/components/with-active-page-state.js
  assets/src/stories-editor/helpers/isPageBlock.js
  tests/e2e/specs/stories-editor/context-menu.js
Labels: AMP Stories, cla: yes

#3529 Fix jump with font change
  assets/src/stories-editor/components/resizable-box/helpers.js
  assets/src/stories-editor/components/resizable-box/index.js
  assets/src/stories-editor/components/resizable-box/test/getPositionAfterResizing.js
  assets/src/stories-editor/helpers/maybeUpdateBlockDimensions.js
  tests/e2e/specs/stories-editor/resizing.js
Labels: AMP Stories, cla: yes

#3543 Add special-case handling for layout=fill when both dimensions are 100%
  includes/sanitizers/class-amp-base-sanitizer.php
  tests/php/test-class-amp-base-sanitizer.php
Labels: cla: yes

#3545 Remove validation handling option
  includes/class-amp-autoloader.php
  includes/embeds/class-amp-scribd-embed-handler.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-options-manager.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-manager.php
  tests/php/validation/trait-handle-validation.php
Labels: Sanitizers, Type: Enhancement, cla: yes

#3544 Remove invalid processing instructions
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#3554 Fix styling on remove button.
  assets/src/stories-editor/blocks/amp-story-page/edit.css
Labels: cla: yes

#3553 Fix infinite loop when uploading videos
  assets/src/stories-editor/components/custom-video-block-edit.js
Labels: AMP Stories, cla: yes

#3555 Fix issues with image display
  assets/css/src/amp-stories-frontend.css
  includes/class-amp-story-post-type.php
Labels: AMP Stories, cla: yes

#3542 Add WordPress.TV embed handler
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/embeds/class-amp-wordpress-tv-embed-handler.php
  tests/php/test-class-amp-wordpress-tv-embed-handler.php
Labels: Group: Embeds, cla: yes

#3403 Add compat support for twentytwenty core theme
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/utils/class-amp-dom-utils.php
  tests/php/test-class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-dom-utils.php
Labels: Integration: WP Core, Sanitizers, Type: Enhancement, cla: yes

#3505 Improve validation error listing with more context and links to file editors
  assets/css/src/amp-validation-error-taxonomy.css
  assets/css/src/amp-validation-single-error-url.css
  assets/src/amp-validation/amp-validated-url-post-edit-screen.js
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-callback-wrapper.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: P0, Size: M, cla: yes

#3557 Prepare for 1.4.0 beta 1 release
  amp.php
Labels: Type: Task, cla: yes

#3561 Prevent stripping spaces in quoted CSS url() values
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#3574 Target all cover modals for respecting the admin bar offset
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: CSS, Sanitizers, Type: Bug, cla: yes

#3460 Add lightbox support to Core Image blocks with links
  includes/sanitizers/class-amp-img-sanitizer.php
  tests/php/test-amp-img-sanitizer.php
Labels: cla: yes

#3392 [WIP] Try manipulating the DOM to add the 'Preview AMP' button
  assets/css/src/amp-block-editor.css
  assets/images/amp-black-icon.svg
  assets/src/block-editor/components/amp-black-icon.js
  assets/src/block-editor/components/amp-preview.js
  assets/src/block-editor/constants.js
  assets/src/block-editor/helpers/index.js
  assets/src/block-editor/index.js
  assets/src/block-editor/plugins/amp-toggle.js
Labels: cla: yes

#3578 Close modals when clicking outside of them
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/utils/class-amp-dom-utils.php
  tests/php/test-class-amp-dom-utils.php
Labels: Sanitizers, Type: Bug, cla: yes

#3584 Fix new element initial positioning
  assets/src/stories-editor/helpers/maybeSetInitialPositioning.js
  assets/src/stories-editor/helpers/test/maybeSetInitialPositioning.js
Labels: AMP Stories, cla: yes

#3582 CTA responsiveness fixes
  assets/css/src/amp-stories-frontend.css
  assets/css/src/amp-stories.css
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
  assets/src/stories-editor/blocks/amp-story-cta/index.js
Labels: AMP Stories, cla: yes

#3597 Ensure useSelect is tested by react-hooks/exhaustive-deps lint rule
  .eslintrc
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/blocks/amp-story-page/page-settings.js
  assets/src/stories-editor/components/block-mover/block-draggable.js
  assets/src/stories-editor/components/block-preview-label.js
  assets/src/stories-editor/components/editor-carousel/index.js
  assets/src/stories-editor/components/editor-carousel/indicator.js
  assets/src/stories-editor/components/inserter/index.js
  assets/src/stories-editor/plugins/export.js
  assets/src/stories-editor/plugins/story-settings-panel.js
Labels: AMP Stories, Type: Enhancement, Type: Infrastructure, cla: yes

#3599 Further improve compatibility tool design and UX
  assets/css/src/amp-validation-error-taxonomy.css
  assets/css/src/amp-validation-single-error-url.css
  assets/src/amp-validation/amp-validated-url-post-edit-screen.js
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
Labels: cla: yes

#3586 Convert .focus class selectors to :focus-within pseudo-class selectors
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#3605 Improve admin bar validate link text
  includes/validation/class-amp-validation-manager.php
Labels: cla: yes

#3600 Fix to always paste new content on top layer
  assets/src/stories-editor/blocks/amp-story-page/copy-paste-handler.js
  assets/src/stories-editor/components/context-menu/index.js
Labels: AMP Stories, cla: yes

#3593 Fix page crashing when duplicating immovable blocks
  assets/src/stories-editor/blocks/amp-story-page/edit.js
Labels: AMP Stories, cla: yes

#3601 Don't allow multiple CTA / attachment block to be pasted.
  assets/src/stories-editor/blocks/amp-story-page/copy-paste-handler.js
  assets/src/stories-editor/components/context-menu/index.js
  assets/src/stories-editor/helpers/ensureAllowedBlocksOnPaste.js
  assets/src/stories-editor/helpers/index.js
  assets/src/stories-editor/helpers/test/ensureAllowedBlocksOnPaste.js
  assets/src/stories-editor/helpers/useDisplayPasteError.js
Labels: AMP Stories, cla: yes

#3594 Fix XPath for fetching the closest submenu
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-core-theme-sanitizer.php
Labels: Sanitizers, Type: Bug, cla: yes

#3609 Adjust Gutenberg / WordPress requirement
  includes/class-amp-story-post-type.php
  includes/options/class-amp-options-menu.php
  tests/e2e/specs/amp-options.js
Labels: AMP Stories, cla: yes

#3610 Fix block nav padding and margin
  assets/src/stories-editor/components/block-navigation/edit.css
Labels: AMP Stories, cla: yes

#3253 Add rel=preconnect link for AMP CDN
  includes/class-amp-theme-support.php
  tests/php/test-class-amp-theme-support.php
Labels: Size: XS, cla: yes

#3606 Twenty Twenty: Fix expanded menu positioning
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: Sanitizers, Type: Bug, cla: yes

#3608 Disable Code Editor
  assets/src/stories-editor/components/inserter/index.js
  assets/src/stories-editor/components/media-inserter/index.js
  assets/src/stories-editor/components/shortcuts/index.js
  assets/src/stories-editor/index.js
  includes/class-amp-story-post-type.php
  tests/e2e/specs/stories-editor/code-editor.js
Labels: AMP Stories, cla: yes

#3620 Add required 'role' and 'tabindex' attributes to modals
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: Sanitizers, Type: Bug, cla: yes

#3621 Reuse 'data-set-focus' to simulate twentytwenty keyboard focus
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: Sanitizers, Type: Bug, cla: yes

#3558 Fix most pressing RTL issues
  assets/src/stories-editor/blocks/amp-story-cta/edit.css
  assets/src/stories-editor/components/block-mover/draggable.js
  assets/src/stories-editor/components/editor-carousel/index.js
  assets/src/stories-editor/components/resizable-box/edit.css
Labels: AMP Stories, cla: yes

#3611 Quick UX fixes
  assets/src/stories-editor/blocks/amp-story-page/background-color-settings.js
  assets/src/stories-editor/blocks/amp-story-page/edit.js
  assets/src/stories-editor/components/higher-order/with-amp-story-settings.js
  assets/src/stories-editor/components/higher-order/with-story-featured-image-notice.js
  assets/src/stories-editor/components/index.js
  assets/src/stories-editor/index.js
  tests/e2e/specs/stories-editor/page.js
Labels: AMP Stories, cla: yes

#3622 Only support public post-types/taxonomies for template support
  includes/class-amp-theme-support.php
  tests/php/test-class-amp-theme-support.php
Labels: Type: Bug, cla: yes

#3095 Allow custom attributes on amp-analytics component
  includes/amp-helper-functions.php
  tests/php/test-amp-analytics-options.php
Labels: cla: yes

#3629 Use an `h2` for the welcome notice
  includes/options/class-amp-options-manager.php
Labels: Accessibility, cla: yes

#3628 Add lightboxOpen and lightboxClosed events to sync modal state
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: Sanitizers, Type: Bug, cla: yes

#3632 Fix selector for the welcome notice heading
  tests/e2e/specs/amp-options.js
Labels: cla: yes

#3619 Update allowed tags/attributes from spec in amphtml 1910161528000
  bin/amphtml-update.py
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-allowed-tags-generated.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#3637 Fix cross-page element dragging in RTL
  assets/src/stories-editor/components/block-mover/draggable.js
Labels: AMP Stories, Type: Bug, cla: yes

#3633 Fix context menu for RTL users.
  assets/src/stories-editor/components/context-menu/edit.css
  assets/src/stories-editor/components/context-menu/index.js
  assets/src/stories-editor/components/higher-order/with-context-menu.js
Labels: AMP Stories, cla: yes

#3644 If text has been pasted, also force update dimesisions.
  assets/src/stories-editor/helpers/maybeUpdateBlockDimensions.js
Labels: cla: yes

#3630 Rebrand validation errors
  assets/css/src/admin-tables.css
  assets/css/src/amp-validation-error-taxonomy.css
  assets/css/src/amp-validation-single-error-url.css
  assets/images/amp-logo-gray.svg
  assets/images/amp-logo-green.svg
  assets/images/amp-logo-red.svg
  assets/images/baseline-check-circle-green.svg
  assets/images/baseline-error-green.svg
  assets/images/baseline-error-red.svg
  assets/images/baseline-error.svg
  assets/images/error-rejected.svg
  assets/images/page-inactive.svg
  assets/src/amp-validation/amp-validated-url-post-edit-screen.js
  assets/src/amp-validation/amp-validated-urls-index.js
  assets/src/amp-validation/amp-validation-detail-toggle.js
  assets/src/amp-validation/set-validation-error-rows-seen-class.js
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
Labels: cla: yes

#3652 Update snackbar message wording when removing duplicated blocks
  assets/src/stories-editor/blocks/amp-story-page/edit.js
Labels: AMP Stories, cla: yes

#3285 Add caption support to the Gallery block in <amp-carousel> and fix displaying Gallery block as carousel in WP 5.3
  assets/css/src/amp-default.css
  includes/sanitizers/class-amp-gallery-block-sanitizer.php
  tests/php/test-class-amp-gallery-block-sanitizer.php
Labels: cla: yes

#3655 Update button dimensions in CTA edit component
  assets/src/stories-editor/blocks/amp-story-cta/edit.js
Labels: AMP Stories, cla: yes

#3627 Add AMP-to-AMP navigation
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/sanitizers/class-amp-link-sanitizer.php
  tests/php/test-class-amp-link-sanitizer.php
Labels: Sanitizers, Type: Enhancement, cla: yes

#3645 Remove Alignment button.
  assets/src/stories-editor/blocks/amp-story-page/edit.css
  assets/src/stories-editor/helpers/addAMPAttributes.js
Labels: AMP Stories, cla: yes

#3651 Replace wrapperClassName usage
  assets/src/stories-editor/blocks/amp-story-page-attachment/attachment-content.js
  assets/src/stories-editor/blocks/amp-story-page-attachment/attachment-opener.js
  assets/src/stories-editor/blocks/amp-story-text/edit.js
Labels: AMP Stories, cla: yes

#3660 Improve display of validation errors for processing instructions and duplicate elements
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
Labels: cla: yes

#3663 Prevent closing a modal when clicking on a contained input
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: Type: Bug, cla: yes

#3665 Remove skip-link-focus-fix in Twenty Twenty
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: cla: yes

#3666 Delete transient for URLs with new validation errors when updating/trashing Validated URL posts
  includes/validation/class-amp-validated-url-post-type.php
Labels: Type: Bug, cla: yes

#3667 Remove AMP icon in heading for Validated URL screen
  assets/src/amp-validation/amp-validated-url-post-edit-screen.js
  includes/validation/class-amp-validated-url-post-type.php
Labels: cla: yes

#3668 Remove ver=__normalized__ query param from displayed URLs in compatibility tool
  includes/validation/class-amp-validation-error-taxonomy.php
Labels: cla: yes

#3670 Fix displaying warning in editor when there is kept invalid markup
  assets/src/block-validation/helpers/index.js
  includes/cli/class-amp-cli-validation-command.php
  includes/validation/class-amp-validation-manager.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Type: Bug, cla: yes

#3672 Bump 1.4.0 and update readme for Twenty Twenty
  amp.php
  readme.md
  readme.txt
  wp-assets/screenshot-1.png
  wp-assets/screenshot-10.png
  wp-assets/screenshot-11.png
  wp-assets/screenshot-12.png
  wp-assets/screenshot-13.png
  wp-assets/screenshot-14.png
  wp-assets/screenshot-3.png
  wp-assets/screenshot-4.png
  wp-assets/screenshot-5.png
  wp-assets/screenshot-6.png
  wp-assets/screenshot-7.png
  wp-assets/screenshot-8.png
  wp-assets/screenshot-9.png
Labels: cla: yes
