Repository ampproject/amp-wp, pull requests merged in 2020-04, with the labels that each got.

#4507 Fix failing tests
  tests/e2e/specs/block-editor/featured-image-notice.js
  tests/php/test-class-amp-tiktok-embed-handler.php
Labels: Infrastructure, cla: yes

#4505 Only move meta tags to the head when required and add processing for meta[http-equiv]
  includes/sanitizers/class-amp-meta-sanitizer.php
  tests/php/test-class-amp-meta-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4506 Cast i-amphtml-intrinsic-sizer dimensions to integers to prevent AMP validation errors
  lib/optimizer/src/Transformer/ServerSideRendering.php
  lib/optimizer/tests/Transformer/ServerSideRenderingTest.php
Labels: Bug, Optimizer, cla: yes

#4513 Raise default threshold for disabling CSS caching
  src/BackgroundTask/MonitorCssTransientCaching.php
Labels: Bug, CSS, cla: yes

#4453 Update selected featured image ID on select
  assets/src/block-editor/components/with-media-library-notice.js
  assets/src/common/components/select-media-frame.js
Labels: cla: yes

#4508 Account for more YouTube URL formats
  includes/embeds/class-amp-youtube-embed-handler.php
  tests/php/test-class-amp-youtube-embed-handler.php
Labels: cla: yes

#4512 Fix processing of element child sanitization loop when invalid elements are replaced with children
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4524 Update hostname used for WordPress TV embeds to fix external HTTP requests
  tests/php/test-class-amp-wordpress-tv-embed-handler.php
Labels: cla: yes

#4519 Add CSS monitoring time series to Site Health debugging info
  src/Admin/SiteHealth.php
  src/BackgroundTask/MonitorCssTransientCaching.php
Labels: CSS, Caching, cla: yes

#4521 Fix securing multi-line mustache templates
  lib/common/src/Dom/Document.php
  lib/common/tests/Dom/DocumentTest.php
  tests/php/test-amp-style-sanitizer.php
Labels: Bug, cla: yes

#4527 Update Optimizer test specs
  lib/optimizer/composer.json
  lib/optimizer/resources/local_fallback/rtv/metadata
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.html
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.valid.html
  lib/optimizer/tests/spec/end-to-end/hello-world/input.html
  lib/optimizer/tests/spec/transformers/experimental/RewriteAmpUrls/rewrites_host_and_adds_version/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/RewriteAmpUrls/rewrites_hosts/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/MinifyHtml/minifies_inline_JSON/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/MinifyHtml/minifies_inline_JSON/input.html
  lib/optimizer/tests/spec/transformers/valid/SeparateKeyframes/doesnt_add_tag_with_no_keyframes/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/SeparateKeyframes/doesnt_move_invalid_keyframes/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/SeparateKeyframes/doesnt_move_media_supports_no_keyframes/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/SeparateKeyframes/doesnt_move_media_supports_no_keyframes/input.html
  lib/optimizer/tests/spec/transformers/valid/SeparateKeyframes/moves_existing_keyframes_to_end/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/SeparateKeyframes/moves_existing_keyframes_to_end/input.html
  lib/optimizer/tests/spec/transformers/valid/SeparateKeyframes/moves_keyframes/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/SeparateKeyframes/moves_keyframes/input.html
  lib/optimizer/tests/spec/transformers/valid/SeparateKeyframes/moves_keyframes_with_existing/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/ServerSideRendering/boilerplate_not_removed_when_amp_experiment_present/input.html /input.html
Labels: cla: yes

#4533 Force status code of validation responses to be 200
  includes/class-amp-theme-support.php
Labels: cla: yes

#4543 Add requirements to plugin file header
  amp.php
Labels: Integration: WP Core, cla: yes

#4544 Ensure that validation query vars persist through redirects
  includes/validation/class-amp-validation-manager.php
Labels: Bug, Developer Tools, cla: yes

#4540 Use title case for Paired Browsing link in edit post screen
  includes/validation/class-amp-validated-url-post-type.php
Labels: cla: yes

#4474 Mock all embed tests and rename embed class files
  includes/embeds/class-amp-dailymotion-embed-handler.php
  includes/embeds/class-amp-facebook-embed-handler.php
  includes/embeds/class-amp-gallery-embed-handler.php
  includes/embeds/class-amp-instagram-embed-handler.php
  includes/embeds/class-amp-pinterest-embed-handler.php
  includes/embeds/class-amp-soundcloud-embed-handler.php
  includes/embeds/class-amp-vimeo-embed-handler.php
  includes/embeds/class-amp-vine-embed-handler.php
  phpunit.xml
  tests/php/test-amp-dailymotion-embed-handler.php
  tests/php/test-amp-facebook-embed-handler.php
  tests/php/test-amp-gallery-embed-handler.php
  tests/php/test-amp-instagram-embed-handler.php
  tests/php/test-amp-pinterest-embed-handler.php
  tests/php/test-amp-vimeo-embed-handler.php
  tests/php/test-amp-vine-embed-handler.php
  tests/php/test-class-amp-imgur-embed-handler.php
Labels: cla: yes

#4553 Prevent styles from being removed when in Customizer preview with Standard mode
  lib/common/src/Attribute.php
  lib/optimizer/src/Transformer/AmpBoilerplate.php
  lib/optimizer/tests/Transformer/AmpBoilerplateTest.php
Labels: cla: yes

#4547 Restore unification of multi-page post content in Reader mode
  includes/templates/class-amp-post-template.php
Labels: Bug, Reader Mode, cla: yes

#4522 Add button into Site Health to reenable CSS transient caching
  includes/options/class-amp-options-manager.php
  src/Admin/ReenableCssTransientCachingAjaxAction.php
  src/Admin/SiteHealth.php
Labels: CSS, Caching, Integration: WP Core, cla: yes

#4564 Fix unit tests
  tests/php/test-amp-gallery-embed-handler.php
  tests/php/test-class-amp-youtube-embed-handler.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4535 Add new accessibility sanitizer
  includes/amp-helper-functions.php
  includes/sanitizers/class-amp-accessibility-sanitizer.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  lib/common/src/Attribute.php
  lib/common/src/Role.php
  lib/optimizer/src/Transformer/ServerSideRendering.php
  tests/php/src/AssertContainsCompatibility.php
  tests/php/src/MarkupComparison.php
  tests/php/test-amp-audio-converter.php
  tests/php/test-amp-facebook-embed-handler.php
  tests/php/test-amp-iframe-sanitizer.php
  tests/php/test-amp-layout-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-amp-video-sanitizer.php
  tests/php/test-class-amp-accessibility-sanitizer.php
  tests/php/test-class-amp-meta-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: Accessibility, Sanitizers, cla: yes

#4538 Restrict doing plugin upgrade routine when not in admin
  includes/amp-helper-functions.php
Labels: cla: yes

#4579 Update tests after block-library/style.css changes in Gutenberg 7.9
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#4588 Stub request based on test scenario
  lib/optimizer/tests/SpecTest.php
  lib/optimizer/tests/spec/transformers/experimental/AmpBoilerplateTransformer/uses_given_runtime_version/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/AmpBoilerplateTransformer/always_inlines_v0css/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/ReorderHeadTransformer/reorders_head_amphtml/expected_output.html
Labels: cla: yes

#4583 Fix handling of Mustache templates
  includes/sanitizers/class-amp-form-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  lib/common/src/Attribute.php
  lib/common/src/Dom/Document.php
  lib/common/tests/Dom/DocumentTest.php
  tests/php/test-amp-form-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: Bug, Validation, cla: yes

#4581 Update contributing docs
  .github/PULL_REQUEST_TEMPLATE.md
  contributing.md
  contributing/engineering.md
  contributing/project-management.md
Labels: cla: yes

#4545 Elevate all known options into AmpProject\AmpWP\Option interface
  includes/admin/functions.php
  includes/amp-helper-functions.php
  includes/class-amp-post-type-support.php
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/options/views/class-amp-analytics-options-submenu-page.php
  includes/settings/class-amp-customizer-design-settings.php
  src/Admin/SiteHealth.php
  src/Option.php
  tests/php/test-amp-analytics-options.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-cli-validation-command.php
  tests/php/test-class-amp-customizer-design-settings.php
  tests/php/test-class-amp-meta-box.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-options-menu.php
  tests/php/test-class-amp-post-type-support.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-class-site-health.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Tech Debt, cla: yes

#4574 Refactor conditional checks in is_amp_endpoint() and improve guidance when _doing_it_wrong()
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp-render-post.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Routing, cla: yes

#4055 SPA with amp shadow DOM extras
  assets/js/amp-wp-app-shell.js
  includes/amp-helper-functions.php
Labels: cla: yes

#4601 For the 'Preview AMP' button, replace tooltip with title attribute
  assets/src/block-editor/components/amp-preview.js
Labels: cla: yes

#4592 Update pull request template based on new workflow
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#4548 Update allowed tags/attributes from spec in amphtml 2004142326360
  bin/amphtml-update.py
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4542 Expose fatal errors that occur while validating a URL
  includes/class-amp-theme-support.php
  includes/cli/class-amp-cli-validation-command.php
  includes/options/class-amp-options-manager.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
Labels: Developer Tools, Validation, cla: yes

#4534 Ensure other plugins won't interfere with validated URLs' post_row_actions or meta boxes
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
Labels: Bug, Validation, cla: yes

#4614 Tweak optimizer for consistency
  lib/common/src/RemoteRequest/FilesystemRemoteGetRequest.php
  lib/optimizer/src/Configurable.php
  lib/optimizer/src/MakesRemoteRequests.php
  lib/optimizer/src/TransformationEngine.php
  lib/optimizer/src/Transformer/AmpRuntimeCss.php
  lib/optimizer/src/Transformer/ReorderHead.php
  lib/optimizer/src/Transformer/TransformedIdentifier.php
  lib/optimizer/tests/SpecTest.php
  lib/optimizer/tests/TransformationEngineTest.php
  lib/optimizer/tests/Transformer/AmpRuntimeCssTest.php
  lib/optimizer/tests/src/TestTransformer/ConfigurationOnly.php
  lib/optimizer/tests/src/TestTransformer/ConfigurationThenRemoteRequest.php
  lib/optimizer/tests/src/TestTransformer/DummyTransformerConfiguration.php
  lib/optimizer/tests/src/TestTransformer/NoConstructor.php
  lib/optimizer/tests/src/TestTransformer/NoDependencies.php
  lib/optimizer/tests/src/TestTransformer/RemoteRequestOnly.php
  lib/optimizer/tests/src/TestTransformer/RemoteRequestThenConfiguration.php
  src/Transformer/AmpSchemaOrgMetadata.php
  tests/php/test-class-amp-theme-support.php
Labels: Optimizer, cla: yes

#4613 Add README.md file
  lib/optimizer/README.md
  tests/php/test-class-amp-hulu-embed-handler.php
Labels: Documentation, Optimizer, cla: yes

#4515 Sanitize widgets during post-processing
  assets/css/src/amp-default.css
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  includes/embeds/class-amp-core-block-handler.php
  includes/sanitizers/class-amp-embed-sanitizer.php
  includes/widgets/class-amp-widget-archives.php
  includes/widgets/class-amp-widget-categories.php
  includes/widgets/class-amp-widget-text.php
  tests/php/test-class-amp-core-block-handler.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-class-amp-widget-archives.php
  tests/php/test-class-amp-widget-categories.php
  tests/php/test-class-amp-widget-text.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4622 Prevent distortion of images with a 'sizes' attribute
  includes/sanitizers/class-amp-img-sanitizer.php
  lib/common/src/Attribute.php
  tests/php/test-amp-img-sanitizer.php
Labels: cla: yes
