Repository ampproject/amp-wp, pull requests merged in 2020-05, with the labels that each got.

#4642 Fix failing tests
  tests/php/test-amp-gallery-embed-handler.php
  tests/php/test-class-amp-youtube-embed-handler.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4408 Update WordPress packages
  .eslintrc
  Gruntfile.js
  assets/src/admin/paired-browsing/app.js
  assets/src/block-editor/components/with-media-library-notice.js
  assets/src/block-validation/components/higher-order/with-validation-error-notice/index.js
  assets/src/block-validation/components/validation-error-message/index.js
  includes/amp-helper-functions.php
  package-lock.json
  package.json
  tests/e2e/specs/amp-options.js
  tests/e2e/utils/upload-media.js
  tests/js/jest.config.js
  tests/shared/test-utils/wp-element-mock.js
  webpack.config.js
Labels: Infrastructure, cla: yes, dependencies

#4541 Catch validation errors for implicit layout missing width and height
  includes/sanitizers/class-amp-layout-sanitizer.php
  includes/sanitizers/class-amp-rule-spec.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  lib/common/src/CssLength.php
  lib/common/src/Layout.php
  lib/optimizer/src/Transformer/ServerSideRendering.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: Bug, Validation, cla: yes

#4382 Prevent ACK state of non-modified validation errors from being lost; update validation error icons
  assets/css/src/amp-icons.css
  assets/css/src/amp-validation-error-taxonomy.css
  assets/css/src/amp-validation-single-error-url.css
  assets/images/amp-logo-green.svg
  assets/images/amp-logo-red.svg
  assets/src/amp-validation/amp-validated-url-post-edit-screen.js
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  lib/common/src/Fonts.php
  lib/common/tests/FontsTest.php
  src/BackgroundTask/CronBasedBackgroundTask.php
  src/Icon.php
  src/Services.php
  tests/php/test-amp-gallery-embed-handler.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-class-amp-youtube-embed-handler.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Developer Tools, cla: yes

#4660 Update dependency @wordpress/block-editor to v3.10.0
  package-lock.json
  package.json
Labels: cla: yes

#4669 Enable SSR by default, remove use of WP_DEBUG as a signal.
  includes/class-amp-theme-support.php
Labels: cla: yes

#4665 Fix post preview in Reader mode
  includes/templates/class-amp-post-template.php
  includes/templates/reader-template-loader.php
Labels: cla: yes

#4482 Adapt heights, sizes and media attributes for SSR
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/utils/class-amp-dom-utils.php
  lib/common/composer.json
  lib/common/src/Attribute.php
  lib/common/src/Dom/CssByteCountCalculator.php
  lib/common/src/Dom/Document.php
  lib/common/tests/Dom/CssByteCountCalculatorTest.php
  lib/common/tests/Dom/DocumentTest.php
  lib/optimizer/composer.json
  lib/optimizer/resources/local_fallback/rtv/metadata
  lib/optimizer/src/Error/CannotRemoveBoilerplate.php
  lib/optimizer/src/Exception/InvalidHtmlAttribute.php
  lib/optimizer/src/Transformer/ServerSideRendering.php
  lib/optimizer/tests/SpecTest.php
  lib/optimizer/tests/Transformer/ServerSideRenderingTest.php
  tests/php/test-class-amp-dom-utils.php
Labels: Optimizer, cla: yes

#4679 Strip leading BOM+whitespace and trailing HTML comment before parsing validation response JSON
  includes/validation/class-amp-validation-manager.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4683 Strip multiple BOM characters
  includes/validation/class-amp-validation-manager.php
Labels: cla: yes

#4682 Use amp-embedly-card for Tiktok embeds
  includes/embeds/class-amp-tiktok-embed-handler.php
  tests/php/test-class-amp-tiktok-embed-handler.php
Labels: cla: yes

#4690 Pin amp-experiment to v0.1
  includes/amp-helper-functions.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#4698 Suppress Site Health ICU test if site or home URL is not an IDN
  src/Admin/SiteHealth.php
  tests/php/test-class-site-health.php
Labels: cla: yes

#4686 Raise PHPStan level to 4 in lib/common
  lib/common/phpstan.neon.dist
  lib/common/src/Dom/Document.php
  lib/common/src/Exception/FailedToGetFromRemoteUrl.php
  lib/common/src/RuntimeVersion.php
Labels: Bug, Tech Debt, cla: yes

#4685 Raise PHPStan level to 4 in lib/optimizer
  lib/optimizer/phpstan.neon.dist
  lib/optimizer/src/Exception/InvalidArgument.php
  lib/optimizer/src/Transformer/AmpRuntimeCss.php
  lib/optimizer/src/Transformer/ReorderHead.php
  lib/optimizer/src/Transformer/ServerSideRendering.php
Labels: Bug, Optimizer, cla: yes

#4732 Raise PHPStan level to 3 for AmpProject\AmpWP
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  includes/cli/class-amp-cli-validation-command.php
  includes/embeds/class-amp-dailymotion-embed-handler.php
  includes/embeds/class-amp-facebook-embed-handler.php
  includes/embeds/class-amp-playlist-embed-handler.php
  includes/embeds/class-amp-twitter-embed-handler.php
  includes/embeds/class-amp-youtube-embed-handler.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/templates/class-amp-content-sanitizer.php
  includes/templates/class-amp-content.php
  includes/utils/class-amp-dom-utils.php
  includes/utils/class-amp-image-dimension-extractor.php
  phpstan.neon.dist
Labels: cla: yes

#4738 Always download latest version of PHPStan
  composer.json
  composer.lock
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-link-sanitizer.php
  lib/common/composer.json
  lib/optimizer/composer.json
Labels: Testing, cla: yes

#4701 Update allowed tags/attributes from spec in amphtml to 2005050322002
  includes/sanitizers/class-amp-allowed-tags-generated.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4746 Suppress display of fatal errors during validate request
  includes/validation/class-amp-validation-manager.php
Labels: cla: yes

#4689 Expose `amp_status` as an attribute in the REST API and always protect the postmeta counterpart
  assets/src/block-editor/helpers/index.js
  assets/src/block-editor/plugins/amp-toggle.js
  assets/src/block-editor/store/selectors.js
  assets/src/block-editor/store/test/selectors.js
  includes/admin/class-amp-post-meta-box.php
  includes/class-amp-post-type-support.php
  includes/validation/class-amp-validation-manager.php
  tests/php/src/AssertRestApiField.php
  tests/php/test-class-amp-meta-box.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4680 Make collection the default Schema.org type for archive queries
  includes/amp-helper-functions.php
  tests/php/test-amp-helper-functions.php
Labels: cla: yes

#4741 Scaffolding for new onboarding wizard
  .eslintrc
  .gitignore
  assets/src/polyfills/wp-dom-ready.js
  assets/src/polyfills/wp-i18n.js
  assets/src/polyfills/wp-url.js
  assets/src/setup/index.js
  bin/local-env/install-wordpress.sh
  includes/admin/functions.php
  includes/options/class-amp-options-menu.php
  includes/options/class-amp-setup-wizard-submenu.php
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  package-lock.json
  package.json
  tests/e2e/specs/amp-onboarding.js
  tests/php/test-class-amp-setup-wizard-submenu-page.php
  tests/php/test-class-amp-setup-wizard-submenu.php
  webpack.config.js
Labels: cla: yes

#4693 Use responsive layout for blocks with alignwide class
  includes/amp-helper-functions.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  tests/php/test-amp-iframe-sanitizer.php
Labels: cla: yes

#4759 Omit non-standard type attribute during <amp-iframe> normalization
  includes/sanitizers/class-amp-iframe-sanitizer.php
  tests/php/test-amp-iframe-sanitizer.php
Labels: cla: yes

#4762 Remove duplicated HTML_GET_HEAD_OPENING_TAG_PATTERN in comment
  lib/common/src/Dom/Document.php
Labels: cla: yes

#4794 Revert "Update pull request template based on new workflow"
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes
