Repository ampproject/amp-wp, pull requests merged in 2020-02, with the labels that each got.

#4209 Ensure AMP is not available for disabled posts in Reader mode
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-theme-support.php
Labels: Type: Bug, cla: yes

#4251 Prevent validation errors on valid mailto: links; restrict AMP-to-AMP linking to HTTP(S) protocol links
  includes/sanitizers/class-amp-link-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-amp-tag-and-attribute-sanitizer-private-methods.php
  tests/php/test-class-amp-link-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4217 Limit Stories experience to WP 5.3 & Gutenberg 7.1.0
  .dev-lib
  bin/local-env/install-wordpress.sh
  includes/class-amp-story-post-type.php
  includes/options/class-amp-options-menu.php
  tests/e2e/specs/block-editor/featured-image-notice.js
Labels: cla: yes

#4250 Fix malformed conversion of relative action URLs for forms
  includes/sanitizers/class-amp-form-sanitizer.php
  tests/php/test-amp-form-sanitizer.php
Labels: cla: yes

#4219 Hide Stories options and add deprecation notice
  amp.php
  includes/admin/class-amp-admin-pointers.php
  includes/admin/class-amp-story-templates.php
  includes/class-amp-story-post-type.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  tests/e2e/specs/amp-options.js
  tests/e2e/specs/block-editor/amp-toggle.js
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-options-menu.php
  tests/php/test-class-amp-story-media.php
  tests/php/test-class-amp-story-post-type.php
  tests/php/test-class-amp-story-templates.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4258 Open story export instructions in a new window
  includes/admin/class-amp-admin-pointers.php
  includes/options/class-amp-options-manager.php
Labels: cla: yes

#4257 Improve handling of fetching external stylesheets
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/test-amp-style-sanitizer.php
Labels: CSS, cla: yes

#4261 attachShadowDocAsStream expects a string type variable
  assets/js/amp-wp-app-shell.js
Labels: cla: yes

#4275 Fix division by zero to calculate minification ratio when original size is zero
  includes/validation/class-amp-validated-url-post-type.php
Labels: Type: Bug, cla: yes

#4283 Fix discrepancy when reporting CSS usage percentage
  includes/validation/class-amp-validated-url-post-type.php
Labels: CSS, cla: yes

#4259 Update readme and screenshots for Stories removal
  readme.md
  readme.txt
  wp-assets/screenshot-1.png
  wp-assets/screenshot-10.png
  wp-assets/screenshot-11.png
  wp-assets/screenshot-12.png
  wp-assets/screenshot-13.png
  wp-assets/screenshot-14.png
  wp-assets/screenshot-15.png
  wp-assets/screenshot-2.png
  wp-assets/screenshot-3.png
  wp-assets/screenshot-4.png
  wp-assets/screenshot-5.png
  wp-assets/screenshot-6.png
  wp-assets/screenshot-7.png
  wp-assets/screenshot-8.png
  wp-assets/screenshot-9.png
Labels: AMP Stories (obsolete), cla: yes

#4292 Improve conversion of resizable iframes and those containing placeholder overflow
  includes/sanitizers/class-amp-iframe-sanitizer.php
  tests/php/test-amp-iframe-sanitizer.php
Labels: cla: yes

#4298 Use travis_retry on PHPUnit for external-http tests
  .travis.yml
Labels: Type: Infrastructure, cla: yes

#4285 Support `mandatory_oneof` and `mandatory_anyof` constraints
  bin/amphtml-update.py
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-rule-spec.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4290 Add patch from PHP-CSS-Parser to prevent malformed CSS properties leaking AMP validation error past the sanitizer
  Gruntfile.js
  composer.json
  includes/sanitizers/class-amp-style-sanitizer.php
  patches/php-css-parser-pull-185.patch
  tests/php/test-amp-style-sanitizer.php
Labels: CSS, cla: yes

#4289 Improve code coverage
  includes/admin/class-amp-customizer.php
  includes/amp-frontend-actions.php
  includes/class-amp-comment-walker.php
  includes/class-amp-post-type-support.php
  includes/class-amp-theme-support.php
  includes/deprecated.php
  includes/embeds/class-amp-soundcloud-embed.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-blacklist-sanitizer.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/templates/class-amp-content-sanitizer.php
  includes/templates/class-amp-content.php
  includes/utils/class-amp-dom-utils.php
  tests/php/benchmark/run-benchmark.sh
  tests/php/src/PrivateAccess.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-amp-vimeo-embed.php
  tests/php/test-class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-customizer-design-settings.php
  tests/php/test-class-amp-dom-document.php
  tests/php/test-class-amp-nav-menu-dropdown-sanitizer.php
  tests/php/test-dom-element-list.php
Labels: cla: yes

#4296 Enfore UTF-8 content-type header
  includes/class-amp-theme-support.php
Labels: Integration: WP Core, Sanitizers, cla: yes

#4137 Raise validation errors for properties in attributes
  includes/sanitizers/class-amp-meta-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/test-class-amp-meta-sanitizer.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4299 Load block styles via amp_post_template_head action
  includes/amp-post-template-functions.php
  templates/style.php
Labels: CSS, Reader Mode, cla: yes

#4135 Add source information for script/style dependencies and inline scripts/styles
  .travis.yml
  amp.php
  assets/css/src/amp-validation-error-taxonomy.css
  composer.json
  composer.lock
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-callback-wrapper.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  phpcs.xml
  readme.md
  readme.txt
  tests/php/test-amp.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Size: M, cla: yes

#4310 Update WP-CLI to v2.4.1
  composer.json
  composer.lock
Labels: cla: yes

#4313 Bump amp-custom style size limit from 50000 to 75000 bytes
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  readme.md
  readme.txt
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#4300 Require unreleased version of PHP-CSS-Parser
  composer.json
  composer.lock
  includes/sanitizers/class-amp-style-sanitizer.php
  patches/php-css-parser-138-extended.patch
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#4314 Simplify Stories removal notice text
  includes/admin/class-amp-admin-pointers.php
  includes/options/class-amp-options-manager.php
Labels: cla: yes

#4324 Prevent any vendor .git directories from being added to build
  Gruntfile.js
Labels: Type: Infrastructure, cla: yes
