Repository ampproject/amp-wp, pull requests merged in 2020-03, with the labels that each got.

#4297 Support content after HTML end tag
  includes/class-amp-theme-support.php
  lib/common/composer.json
  lib/common/src/Attribute.php
  lib/common/src/Dom/Document.php
  lib/common/tests/AmpTest.php
  lib/common/tests/CssLengthTest.php
  lib/common/tests/Dom/DocumentTest.php
  lib/common/tests/RuntimeVersionTest.php
  lib/optimizer/composer.json
  lib/optimizer/tests/SpecTest.php
  lib/optimizer/tests/TransformationEngineTest.php
  lib/optimizer/tests/Transformer/AmpBoilerplateTest.php
  lib/optimizer/tests/Transformer/AmpRuntimeCssTest.php
  lib/optimizer/tests/Transformer/ReorderHeadTest.php
  lib/optimizer/tests/Transformer/ServerSideRenderingTest.php
  lib/optimizer/tests/Transformer/TransformedIdentifierTest.php
  lib/optimizer/tests/src/ErrorComparison.php
Labels: Sanitizers, Type: Bug, cla: yes

#4367 Fix ZIP build after namespace rename
  Gruntfile.js
Labels: cla: yes

#4366 Host external image assets locally
  phpunit.xml
  tests/php/data/images/amp.svg
  tests/php/data/images/google.svg
  tests/php/test-amp-image-dimension-extract-download.php
Labels: cla: yes

#4357 Add Tiktok embed support
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/embeds/class-amp-tiktok-embed-handler.php
  tests/php/test-class-amp-tiktok-embed-handler.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4370 Remove extraneous closing brace from AMP_Core_Theme_Sanitizer::add_nav_menu_styles()
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: cla: yes

#4372 Remove dotenv config
  Gruntfile.js
Labels: AMP Stories (obsolete), cla: yes

#4371 Add DevMode helper and keep devmode nodes during optimization
  includes/sanitizers/class-amp-audio-sanitizer.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-form-sanitizer.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/class-amp-script-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-video-sanitizer.php
  lib/common/src/DevMode.php
  lib/common/tests/DevModeTest.php
  lib/optimizer/src/Transformer/AmpBoilerplate.php
  lib/optimizer/tests/Transformer/AmpBoilerplateTest.php
Labels: Optimizer, Type: Bug, cla: yes

#4340 In scripts expected to have JSON, ensure the JSON is valid
  .travis.yml
  composer.json
  composer.lock
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  lib/common/composer.json
  lib/optimizer/composer.json
  tests/php/test-tag-and-attribute-sanitizer.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
Labels: cla: yes

#4333 Prevent removal of closing `table` and `td` tags in `script[template="amp-mustache"]`
  Gruntfile.js
  lib/common/src/Dom/Document.php
  lib/common/tests/Dom/DocumentTest.php
  lib/optimizer/tests/src/TestMarkup.php
Labels: cla: yes

#4374 Exclude processing style attributes inside of Mustache templates
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: CSS, cla: yes

#4373 Add PHP-Stan static analysis
  .travis.yml
  amp.php
  composer.json
  composer.lock
  includes/admin/functions.php
  includes/amp-helper-functions.php
  includes/class-amp-autoloader.php
  includes/class-amp-theme-support.php
  includes/cli/class-amp-cli-validation-command.php
  includes/embeds/class-amp-instagram-embed.php
  includes/embeds/class-amp-tiktok-embed-handler.php
  includes/embeds/class-amp-twitter-embed-handler.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-blacklist-sanitizer.php
  includes/sanitizers/class-amp-block-sanitizer.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/sanitizers/class-amp-form-sanitizer.php
  includes/sanitizers/class-amp-img-sanitizer.php
  includes/sanitizers/class-amp-link-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/sanitizers/trait-amp-noscript-fallback.php
  includes/templates/amp-enabled-classic-editor-toggle.php
  includes/utils/class-amp-dom-utils.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  lib/common/composer.json
  lib/common/src/Amp.php
  lib/common/src/CssLength.php
  lib/common/src/Dom/Document.php
  lib/common/src/RemoteRequest/CurlRemoteGetRequest.php
  lib/optimizer/composer.json
  lib/optimizer/src/Transformer/AmpRuntimeCss.php
  lib/optimizer/src/Transformer/ServerSideRendering.php
  lib/optimizer/src/Transformer/TransformedIdentifier.php
  phpcs.xml
  phpstan.neon.dist
  src/Component/Carousel.php
  tests/php/src/HandleValidation.php
  tests/php/src/StubSanitizer.php
  tests/php/static-analysis-stubs/legacy-i18n.php
  tests/php/static-analysis-stubs/php-cli-tools.php
  tests/php/static-analysis-stubs/pwa.php
  tests/php/static-analysis-stubs/twentyseventeen.php
  tests/php/static-analysis-stubs/wordpress-defines.php
  tests/php/static-analysis-stubs/wp-cli.php
  tests/php/stubs.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-base-sanitizer.php
  tests/php/test-class-amp-content-sanitizer.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Type: Infrastructure, cla: yes

#4378 Add PHPStan config files to libraries
  lib/common/composer.json
  lib/common/phpstan.neon.dist
  lib/optimizer/composer.json
  lib/optimizer/phpstan.neon.dist
Labels: Type: Infrastructure, cla: yes

#4391 Remove post-processor cache
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/validation/class-amp-validation-manager.php
  src/Admin/SiteHealth.php
  tests/e2e/specs/amp-options.js
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#4339 Don't tree-shake allowed child classes of `amp-date-picker` if it's in the DOM
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#4375 Move eligible viewport rules to `meta[name="viewport"]`
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/sanitizers/class-amp-meta-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-class-amp-core-theme-sanitizer.php
Labels: cla: yes

#4388 Prevent failed attempts to override the reply-title heading in comment form
  includes/class-amp-theme-support.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#4398 Change notice label from 'Remove Element' to 'Remove Block'
  assets/src/block-validation/components/higher-order/with-validation-error-notice/index.js
Labels: cla: yes

#4384 Remove registration of Facebook embed handler
  Gruntfile.js
  includes/embeds/class-amp-facebook-embed.php
  tests/php/test-amp-facebook-embed.php
Labels: cla: yes

#4397 Improve AMP preview button in WP 5.4 and with Gutenberg
  assets/css/src/amp-block-editor.css
  assets/images/amp-icon.svg
  assets/images/amp-white-icon.svg
  assets/src/block-editor/components/amp-preview.js
  package-lock.json
  package.json
  tests/php/test-class-amp-meta-box.php
Labels: cla: yes

#4401 Reuse validation error titles from validated URL screen in block warning notice
  assets/src/block-validation/components/higher-order/with-validation-error-notice/edit.css
  assets/src/block-validation/components/validation-error-message/index.js
  assets/src/block-validation/components/validation-error-message/test/__snapshots__/index.js.snap
  assets/src/block-validation/components/validation-error-message/test/index.js
  assets/src/block-validation/helpers/index.js
  includes/validation/class-amp-validation-manager.php
  tests/php/test-amp-facebook-embed.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4390 Update allowed tags/attributes from spec in amphtml 2003031842100
  bin/amphtml-update.py
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4381 Fix warning icon no longer appears as emoji in macOS Catalina
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  lib/common/src/Fonts.php
  lib/common/tests/FontsTest.php
Labels: cla: yes

#4407 Show correct PHP requirement message to users
  amp.php
Labels: Type: Bug, cla: yes

#4411 Update labels for stylesheet information panel
  assets/css/src/amp-validation-error-taxonomy.css
  includes/validation/class-amp-validated-url-post-type.php
Labels: cla: yes

#4404 Use Cache-Control directive for external stylesheet caching
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-style-sanitizer.php
  lib/common/src/Exception/FailedToGetFromRemoteUrl.php
  lib/common/src/RemoteRequest/CurlRemoteGetRequest.php
  lib/common/src/RemoteRequest/RemoteGetRequestResponse.php
  src/RemoteRequest/CachedData.php
  src/RemoteRequest/CachedRemoteGetRequest.php
  src/RemoteRequest/WpHttpRemoteGetRequest.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-wp-http-remote-get-request.php
Labels: CSS, Caching, Optimizer, Sanitizers, cla: yes

#4405 Add missing error titles for error codes
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4177 Add ability to prevent storing parsed CSS in transients
  amp.php
  includes/amp-helper-functions.php
  includes/sanitizers/class-amp-style-sanitizer.php
  package.json
  src/Admin/SiteHealth.php
  src/BackgroundTask/CronBasedBackgroundTask.php
  src/BackgroundTask/MonitorCssTransientCaching.php
  src/ConfigurationArgument.php
  src/HasActivation.php
  src/HasDeactivation.php
  src/Option.php
  src/Service.php
  src/Services.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-monitor-css-transient-caching.php
  tests/php/test-class-site-health.php
Labels: Changelogged, cla: yes

#4421 Ensure display:block images in Twenty Twenty are not overridden to be inline-block
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-core-theme-sanitizer.php
Labels: cla: yes

#4422 Fix display of Custom Logo in Twenty Twenty
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-core-theme-sanitizer.php
Labels: cla: yes

#4428 Remove amp-source-stack comments from script and style elements
  includes/class-amp-theme-support.php
  includes/validation/class-amp-validation-manager.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Changelogged, cla: yes

#4416 Bump version to 1.5.0-RC1 and update contributors
  amp.php
  readme.md
  readme.txt
Labels: Changelogged, cla: yes

#4431 Restrict JSON validation to non-LD scripts
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: Changelogged, cla: yes

#4433 Limit blank lines to max 1 via PHPCS
  amp.php
  includes/admin/class-amp-post-meta-box.php
  includes/amp-helper-functions.php
  includes/embeds/class-amp-playlist-embed-handler.php
  includes/embeds/class-amp-scribd-embed-handler.php
  includes/embeds/class-amp-tumblr-embed-handler.php
  includes/embeds/class-amp-vimeo-embed.php
  includes/embeds/class-amp-youtube-embed-handler.php
  includes/sanitizers/class-amp-o2-player-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/utils/class-amp-dom-utils.php
  includes/utils/class-amp-image-dimension-extractor.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/widgets/class-amp-widget-archives.php
  includes/widgets/class-amp-widget-categories.php
  includes/widgets/class-amp-widget-text.php
  phpcs.xml
  src/Component/HasCaption.php
  tests/php/src/StubSanitizer.php
  tests/php/test-amp-analytics-options.php
  tests/php/test-amp-dailymotion-embed.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp-image-dimension-extractor.php
  tests/php/test-amp-instagram-embed.php
  tests/php/test-amp-pinterest-embed.php
  tests/php/test-amp-playbuzz-sanitizer.php
  tests/php/test-amp-render-post.php
  tests/php/test-amp-scribd-embed-handler.php
  tests/php/test-amp-tag-and-attribute-sanitizer-private-methods.php
  tests/php/test-amp-vine-embed.php
  tests/php/test-class-amp-dom-utils.php
  tests/php/test-class-amp-meta-box.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-playlist-embed-handler.php
  tests/php/test-class-amp-schema-org-metadata.php
  tests/php/test-class-amp-service-worker.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-class-amp-widget-archives.php
  tests/php/test-class-amp-widget-categories.php
  tests/php/test-class-amp-widget-text.php
  tests/php/test-class-amp-youtube-embed-handler.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4436 Introduce AssertContainsCompatibility trait
  tests/php/src/AssertContainsCompatibility.php
  tests/php/test-amp-analytics-options.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp-render-post.php
  tests/php/test-amp-script-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-class-amp-cli-validation-command.php
  tests/php/test-class-amp-comments-sanitizer.php
  tests/php/test-class-amp-core-block-handler.php
  tests/php/test-class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-dom-utils.php
  tests/php/test-class-amp-http.php
  tests/php/test-class-amp-link-sanitizer.php
  tests/php/test-class-amp-meta-box.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-options-menu.php
  tests/php/test-class-amp-playlist-embed-handler.php
  tests/php/test-class-amp-service-worker.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-class-amp-widget-archives.php
  tests/php/test-class-amp-widget-categories.php
  tests/php/test-class-amp-wordpress-tv-embed-handler.php
  tests/php/test-class-amp-youtube-embed-handler.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Type: Infrastructure, cla: yes

#4432 Move the Xdebug admin warning to Site Health
  amp.php
  includes/deprecated.php
  src/Admin/SiteHealth.php
  tests/php/test-class-site-health.php
Labels: cla: yes

#4438 Prevent tree-shaking selectors for amp-x-* attributes when amp-experiment is used
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: CSS, cla: yes

#4449 Fix invalid attribute context
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/test-class-amp-base-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4435 Fix tag-built release process
  bin/tag-built.sh
  contributing/engineering.md
Labels: cla: yes

#4460 Remove Composer suggestion for ext-json
  composer.json
  composer.lock
Labels: Type: Task, cla: yes

#4440 Validate <html> element if 'data-ampdevmode' attribute was not initially set
  lib/common/src/DevMode.php
  lib/common/src/Dom/Document.php
  lib/common/tests/DevModeTest.php
  lib/common/tests/Dom/DocumentTest.php
  tests/php/test-amp-dev-mode-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4469 Remove preview query args from stored validated URL
  includes/validation/class-amp-validated-url-post-type.php
Labels: cla: yes

#4471 Omit node_type from validation error details
  includes/validation/class-amp-validation-error-taxonomy.php
Labels: Type: Bug, cla: yes

#4488 Bad usage of `tax_query` param deletes a lot more than it should
  includes/admin/functions.php
  includes/amp-helper-functions.php
Labels: Type: Bug, cla: yes

#4486 Only use LIBXML_HTML_NODEFDTD is available
  lib/common/src/Dom/Document.php
Labels: Type: Bug, cla: yes

#4487 Safeguard metadata configuration value against bad filters
  lib/optimizer/src/Configuration/AmpRuntimeCssConfiguration.php
  lib/optimizer/src/Configuration/BaseTransformerConfiguration.php
  lib/optimizer/src/Configuration/TransformedIdentifierConfiguration.php
  src/Transformer/AmpSchemaOrgMetadataConfiguration.php
Labels: Optimizer, Type: Bug, cla: yes
