Repository ampproject/amp-wp, pull requests merged in 2020-06, with the labels that each got.

#4765 Setup wizard: Container UI and fetching/updating of options
  .gitattributes
  assets/src/setup/__mocks__/amp-setup.js
  assets/src/setup/components/loading/index.js
  assets/src/setup/components/loading/style.css
  assets/src/setup/components/nav/index.js
  assets/src/setup/components/nav/test/__snapshots__/index.js.snap
  assets/src/setup/components/nav/test/index.js
  assets/src/setup/components/options-context-provider.js
  assets/src/setup/components/stepper/index.js
  assets/src/setup/components/stepper/test/__snapshots__/index.js.snap
  assets/src/setup/components/stepper/test/index.js
  assets/src/setup/components/svg/check.js
  assets/src/setup/components/svg/wordmark-logo.js
  assets/src/setup/components/unsaved-changes-warning/index.js
  assets/src/setup/index.js
  assets/src/setup/pages/choose-reader-theme/index.js
  assets/src/setup/pages/goals/index.js
  assets/src/setup/pages/index.js
  assets/src/setup/pages/save/index.js
  assets/src/setup/pages/site-configuration-summary/index.js
  assets/src/setup/pages/site-scan/index.js
  assets/src/setup/pages/technical-background/index.js
  assets/src/setup/pages/template-mode/index.js
  assets/src/setup/setup-wizard.js
  assets/src/setup/style.css
  includes/amp-helper-functions.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-setup-wizard-submenu.php
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  package-lock.json
  package.json
  tests/e2e/specs/amp-onboarding.js
  tests/e2e/specs/amp-onboarding/index.js
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-setup-wizard-submenu-page.php
  tests/php/test-class-amp-setup-wizard-submenu.php
  tests/php/test-class-amp-theme-support.php
  webpack.config.js
Labels: UX, UX Phase 1, WS:UX, cla: yes

#4817 Update amphtml validator spec to v2005150002001
  includes/sanitizers/class-amp-allowed-tags-generated.php
Labels: cla: yes

#4813 Remove the `wp-has-aspect-ratio` class from block embeds
  includes/sanitizers/class-amp-block-sanitizer.php
  tests/php/test-class-amp-block-sanitizer.php
Labels: cla: yes

#4807 Make amp_get_current_url() more robust
  includes/amp-helper-functions.php
  tests/php/test-amp-helper-functions.php
Labels: cla: yes

#4826 Add locking code to develop branch as preparation
  lib/optimizer/bin/sync-amp-toolbox-test-suite.php
  lib/optimizer/tests/spec/end-to-end/body-only/expected_output.default.html
  lib/optimizer/tests/spec/end-to-end/body-only/expected_output.lts.html
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.default.html
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.lts.html
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.paired.html
  lib/optimizer/tests/spec/end-to-end/markdown/expected_output.default.html
  lib/optimizer/tests/spec/end-to-end/markdown/expected_output.lts.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/aborts_with_existing_image_preload/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/aborts_with_existing_image_preload/input.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/ignores_non_image_preloads/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/ignores_non_image_preloads/input.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/srcset_cannot_be_preloaded/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/srcset_cannot_be_preloaded/input.html
Labels: Optimizer, Testing, cla: yes

#4769 Add release-zip job and workflow
  .github/workflows/build-test-measure.yml
  package.json
Labels: Infrastructure, cla: yes

#4832 Split dev and prod builds into two different jobs
  .github/workflows/build-test-measure.yml
Labels: Infrastructure, cla: yes

#4828 Add REST endpoint for AMP options
  assets/src/setup/__mocks__/amp-setup.js
  assets/src/setup/components/options-context-provider.js
  assets/src/setup/index.js
  includes/amp-helper-functions.php
  includes/class-amp-reader-themes.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-rest-controller.php
  includes/options/class-amp-reader-theme-rest-controller.php
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  tests/php/src/ThemesApiRequestMocking.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-options-rest-controller.php
  tests/php/test-class-amp-reader-themes-rest-controller.php
  tests/php/test-class-amp-reader-themes.php
Labels: cla: yes

#4800 Setup wizard: Reader theme screen
  assets/images/reader-themes/classic.png
  assets/images/reader-themes/twentyeleven.png
  assets/images/reader-themes/twentyfifteen.png
  assets/images/reader-themes/twentyfourteen.png
  assets/images/reader-themes/twentynineteen.png
  assets/images/reader-themes/twentyseventeen.png
  assets/images/reader-themes/twentysixteen.png
  assets/images/reader-themes/twentythirteen.png
  assets/images/reader-themes/twentytwelve.png
  assets/images/reader-themes/twentytwenty.png
  assets/src/setup/__mocks__/amp-setup.js
  assets/src/setup/components/nav/index.js
  assets/src/setup/components/nav/test/__snapshots__/index.js.snap
  assets/src/setup/components/nav/test/index.js
  assets/src/setup/components/navigation-context-provider.js
  assets/src/setup/components/options-context-provider.js
  assets/src/setup/components/reader-themes-context-provider.js
  assets/src/setup/index.js
  assets/src/setup/pages/choose-reader-theme/index.js
  assets/src/setup/pages/choose-reader-theme/style.css
  assets/src/setup/pages/choose-reader-theme/test/__snapshots__/index.js.snap
  assets/src/setup/pages/choose-reader-theme/test/index.js
  assets/src/setup/pages/choose-reader-theme/theme-card.js
  assets/src/setup/pages/goals/index.js
  assets/src/setup/pages/index.js
  assets/src/setup/pages/save/index.js
  assets/src/setup/pages/site-configuration-summary/index.js
  assets/src/setup/pages/site-scan/index.js
  assets/src/setup/pages/technical-background/index.js
  assets/src/setup/pages/template-mode/index.js
  assets/src/setup/setup-wizard.js
  bin/local-env/install-wordpress.sh
  includes/amp-helper-functions.php
  includes/class-amp-reader-themes.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-rest-controller.php
  includes/options/class-amp-reader-theme-rest-controller.php
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  package-lock.json
  package.json
  src/Option.php
  tests/e2e/specs/amp-onboarding/index.js
  tests/e2e/specs/amp-onboarding/reader-themes.js
  tests/js/setup-globals.js
  tests/php/src/ThemesApiRequestMocking.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-options-rest-controller.php
  tests/php/test-class-amp-reader-themes-rest-controller.php
  tests/php/test-class-amp-reader-themes.php
  webpack.config.js
Labels: cla: yes

#4839 Use commit SHA from recently pushed commit
  .github/workflows/build-test-measure.yml
Labels: cla: yes

#4840 Add Optimizer conceptual diagram to README.md file
  lib/optimizer/README.md
  lib/optimizer/conceptual-diagram.svg
Labels: Optimizer, cla: yes

#4841 Add paragraph about serverside rendering to README
  readme.md
  readme.txt
Labels: cla: yes

#4844 Rename PHPCS and PHPUnit config files
  .gitignore
  .phpcs.xml.dist
  phpunit.xml.dist
Labels: cla: yes

#4837 Setup wizard: Global style updates
  assets/src/setup/components/nav/index.js
  assets/src/setup/components/nav/test/__snapshots__/index.js.snap
  assets/src/setup/components/nav/test/index.js
  assets/src/setup/components/options-context-provider.js
  assets/src/setup/components/phone/index.js
  assets/src/setup/components/phone/style.css
  assets/src/setup/components/reader-themes-context-provider.js
  assets/src/setup/components/selectable/index.js
  assets/src/setup/components/selectable/style.css
  assets/src/setup/components/selectable/test/__snapshots__/index.js.snap
  assets/src/setup/components/selectable/test/index.js
  assets/src/setup/components/svg/wordmark-logo.js
  assets/src/setup/pages/choose-reader-theme/index.js
  assets/src/setup/pages/choose-reader-theme/style.css
  assets/src/setup/pages/choose-reader-theme/test/__snapshots__/index.js.snap
  assets/src/setup/pages/choose-reader-theme/theme-card.js
  assets/src/setup/style.css
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  tests/e2e/specs/amp-onboarding/index.js
  tests/e2e/specs/amp-onboarding/reader-themes.js
Labels: cla: yes

#4859 Setup wizard: Add error boundary to catch errors throughout the app
  assets/src/setup/components/error-screen/index.js
  assets/src/setup/components/error-screen/style.css
  assets/src/setup/components/error-screen/test/__snapshots__/index.js.snap
  assets/src/setup/components/error-screen/test/index.js
  assets/src/setup/components/options-context-provider.js
  assets/src/setup/components/reader-themes-context-provider.js
  assets/src/setup/index.js
  assets/src/setup/pages/choose-reader-theme/index.js
  assets/src/setup/pages/save/index.js
  assets/src/setup/setup-wizard.js
  assets/src/setup/utils/use-error.js
  tests/e2e/specs/amp-onboarding/index.js
Labels: cla: yes

#4861 Prevent printing styles for Site Health on every admin page
  src/Admin/SiteHealth.php
  tests/php/test-class-site-health.php
Labels: cla: yes

#4860 Prevent output of schema.org meta script if empty array
  src/Transformer/AmpSchemaOrgMetadata.php
  tests/php/test-class-amp-schema-org-metadata.php
Labels: cla: yes

#4862 Base64-encode Sizer SVG files
  lib/optimizer/src/Transformer/ServerSideRendering.php
  lib/optimizer/tests/Transformer/ServerSideRenderingTest.php
Labels: Optimizer, cla: yes

#4866 Fix merging of viewport at-rules nested in other rules
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#4867 Replace deprecated PHPStan autoload_files option
  lib/optimizer/phpstan.neon.dist
Labels: Optimizer, Testing, cla: yes

#4864 Revert decimal image size hotfix
  lib/optimizer/src/Transformer/ServerSideRendering.php
  lib/optimizer/tests/Transformer/ServerSideRenderingTest.php
Labels: Optimizer, cla: yes

#4873 Prevent building zips for PR if it's from a forked repository
  .github/workflows/build-test-measure.yml
  composer.lock
Labels: cla: yes

#4868 Remove deprecated PHPStan autoload_files option
  composer.json
  composer.lock
  includes/class-amp-comment-walker.php
  lib/common/composer.json
  lib/common/phpstan.neon.dist
  lib/optimizer/composer.json
  phpstan.neon.dist
Labels: Testing, cla: yes

#4879 Cherry-pick: Use latest PHPStan version to run its tests and replace deprecated autoload_files option
  composer.json
  composer.lock
  includes/class-amp-comment-walker.php
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-link-sanitizer.php
  lib/common/composer.json
  lib/common/phpstan.neon.dist
  lib/optimizer/composer.json
  phpstan.neon.dist
Labels: cla: yes

#4877 Add dependency injector
  .phpcs.xml.dist
  includes/admin/functions.php
  includes/amp-helper-functions.php
  phpunit.xml.dist
  src/Admin/ReenableCssTransientCachingAjaxAction.php
  src/Admin/SiteHealth.php
  src/AmpWpPlugin.php
  src/AmpWpPluginFactory.php
  src/BackgroundTask/CronBasedBackgroundTask.php
  src/BackgroundTask/MonitorCssTransientCaching.php
  src/Exception/AmpWpException.php
  src/Exception/FailedToMakeInstance.php
  src/Exception/InvalidService.php
  src/HasActivation.php
  src/HasDeactivation.php
  src/Infrastructure/Activateable.php
  src/Infrastructure/Conditional.php
  src/Infrastructure/Deactivateable.php
  src/Infrastructure/Delayed.php
  src/Infrastructure/Injector.php
  src/Infrastructure/Injector/FallbackInstantiator.php
  src/Infrastructure/Injector/InjectionChain.php
  src/Infrastructure/Injector/SimpleInjector.php
  src/Infrastructure/Instantiator.php
  src/Infrastructure/Plugin.php
  src/Infrastructure/Registerable.php
  src/Infrastructure/Service.php
  src/Infrastructure/ServiceBasedPlugin.php
  src/Infrastructure/ServiceContainer.php
  src/Infrastructure/ServiceContainer/LazilyInstantiatedService.php
  src/Infrastructure/ServiceContainer/SimpleServiceContainer.php
  src/Service.php
  src/Services.php
  tests/php/src/Fixture/DummyClass.php
  tests/php/src/Fixture/DummyClassWithDependency.php
  tests/php/src/Fixture/DummyClassWithNamedArguments.php
  tests/php/src/Fixture/DummyInterface.php
  tests/php/src/Unit/Infrastructure/InjectionChainTest.php
  tests/php/src/Unit/Infrastructure/SimpleInjectorTest.php
  tests/php/test-class-site-health.php
Labels: cla: yes

#4657 Add ability to suppress plugins from AMP responses
  .phpcs.xml.dist
  includes/cli/class-amp-cli-validation-command.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  src/AmpWpPlugin.php
  src/Infrastructure/ServiceBasedPlugin.php
  src/Option.php
  src/PluginRegistry.php
  src/PluginSuppression.php
  src/Services.php
  tests/php/data/plugins/bad-block.php
  tests/php/data/plugins/bad-hooks.php
  tests/php/data/plugins/bad-shortcode.php
  tests/php/data/plugins/bad-widget/bad-widget.php
  tests/php/data/plugins/bad-widget/class-bad-widget.php
  tests/php/src/MockPluginEnvironment.php
  tests/php/src/Unit/PluginRegistryTest.php
  tests/php/src/Unit/PluginSuppressionTest.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-theme-support.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4887 Eliminate majority of references to ~master~ branch
  .github/workflows/build-test-measure.yml
  .travis.yml
  bin/create-gutenberg-test-post.php
  bin/create-gutenberg-test-post.sh
  includes/class-amp-service-worker.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  lib/common/phpstan.neon.dist
  lib/common/src/Amp.php
  lib/optimizer/bin/sync-amp-toolbox-test-suite.php
  lib/optimizer/phpstan.neon.dist
  lib/optimizer/resources/local_fallback/rtv/metadata
  lib/optimizer/src/Transformer/ServerSideRendering.php
  lib/optimizer/tests/spec/transformers/experimental/AddBlurryImagePlaceholders/adds_blurry_placeholders_where_needed/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/AddBlurryImagePlaceholders/adds_blurry_placeholders_where_needed/input.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/invalid_srcset/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/invalid_srcset/input.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/invalid_srcset_duplicates/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/invalid_srcset_duplicates/input.html
  phpstan.neon.dist
  readme.md
  readme.txt
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4888 Eliminate long-deprecated AMP_Blacklist_Sanitizer
  includes/sanitizers/class-amp-blacklist-sanitizer.php
Labels: cla: yes

#4892 Update amphtml to v2006112352000
  .gitattributes
  bin/amphtml-update.py
  includes/admin/class-amp-editor-blocks.php
  includes/amp-helper-functions.php
  includes/class-amp-http.php
  includes/class-amp-theme-support.php
  includes/cli/class-amp-cli-validation-command.php
  includes/embeds/class-amp-base-embed-handler.php
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-meta-sanitizer.php
  includes/sanitizers/class-amp-rule-spec.php
  includes/sanitizers/class-amp-script-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/test-amp-audio-converter.php
  tests/php/test-amp-dailymotion-embed-handler.php
  tests/php/test-amp-facebook-embed-handler.php
  tests/php/test-amp-form-sanitizer.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp-iframe-sanitizer.php
  tests/php/test-amp-img-sanitizer.php
  tests/php/test-amp-instagram-embed-handler.php
  tests/php/test-amp-o2-player-sanitizer.php
  tests/php/test-amp-pinterest-embed-handler.php
  tests/php/test-amp-playbuzz-sanitizer.php
  tests/php/test-amp-scribd-embed-handler.php
  tests/php/test-amp-script-sanitizer.php
  tests/php/test-amp-soundcloud-embed-handler.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-amp-tag-and-attribute-sanitizer-private-methods.php
  tests/php/test-amp-twitter-embed-handler.php
  tests/php/test-amp-video-sanitizer.php
  tests/php/test-amp-vimeo-embed-handler.php
  tests/php/test-amp-vine-embed-handler.php
  tests/php/test-class-amp-editor-blocks.php
  tests/php/test-class-amp-gfycat-embed-handler.php
  tests/php/test-class-amp-hulu-embed-handler.php
  tests/php/test-class-amp-imgur-embed-handler.php
  tests/php/test-class-amp-meta-sanitizer.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-class-amp-youtube-embed-handler.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4889 Fix PluginSuppression tests in PHP 7.4
  src/PluginSuppression.php
  tests/php/src/Unit/PluginSuppressionTest.php
Labels: cla: yes

#4833 Setup wizard: technical background screen
  assets/src/setup/__mocks__/amp-setup.js
  assets/src/setup/components/options-context-provider.js
  assets/src/setup/components/svg/user-icons.js
  assets/src/setup/components/unsaved-changes-warning/index.js
  assets/src/setup/components/user-context-provider.js
  assets/src/setup/index.js
  assets/src/setup/pages/save/index.js
  assets/src/setup/pages/technical-background/index.js
  assets/src/setup/pages/technical-background/style.css
  assets/src/setup/pages/technical-background/test/__snapshots__/index.js.snap
  assets/src/setup/pages/technical-background/test/index.js
  assets/src/setup/style.css
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  src/Admin/DevToolsUserAccess.php
  src/AmpWpPlugin.php
  tests/e2e/specs/amp-onboarding/index.js
  tests/e2e/specs/amp-onboarding/technical-background.js
  tests/php/test-class-dev-tools-user-access.php
Labels: cla: yes

#4894 Add PHP 8 as a build job on Travis; bump some jobs up to PHP 7.4
  .travis.yml
  lib/optimizer/src/TransformationEngine.php
  phpstan.neon.dist
  tests/php/src/PrivateAccess.php
Labels: Infrastructure, cla: yes

#4907 Register services with the service container immediately after loading
  src/Infrastructure/ServiceBasedPlugin.php
Labels: Bug, Infrastructure, Validation, cla: yes

#4908 Update outdated npm packages
  assets/src/admin/paired-browsing/app.js
  assets/src/block-editor/plugins/amp-toggle.js
  assets/src/setup/pages/choose-reader-theme/theme-card.js
  assets/src/setup/setup-wizard.js
  includes/class-amp-theme-support.php
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  includes/validation/class-amp-validation-manager.php
  package-lock.json
  package.json
  tests/php/validation/test-class-amp-validation-manager.php
  webpack.config.js
Labels: cla: yes

#4901 Use latest Gutenberg version for tests
  .dev-lib
  tests/php/src/Unit/PluginSuppressionTest.php
  tests/php/src/WithoutBlockPreRendering.php
  tests/php/test-amp-crowdsignal-embed-handler.php
  tests/php/test-amp-dailymotion-embed-handler.php
  tests/php/test-amp-facebook-embed-handler.php
  tests/php/test-amp-gallery-embed-handler.php
  tests/php/test-amp-instagram-embed-handler.php
  tests/php/test-amp-pinterest-embed-handler.php
  tests/php/test-amp-scribd-embed-handler.php
  tests/php/test-amp-soundcloud-embed-handler.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-amp-twitter-embed-handler.php
  tests/php/test-amp-vimeo-embed-handler.php
  tests/php/test-amp-vine-embed-handler.php
  tests/php/test-class-amp-core-block-handler.php
  tests/php/test-class-amp-gfycat-embed-handler.php
  tests/php/test-class-amp-hulu-embed-handler.php
  tests/php/test-class-amp-imgur-embed-handler.php
  tests/php/test-class-amp-playlist-embed-handler.php
  tests/php/test-class-amp-tiktok-embed-handler.php
  tests/php/test-class-amp-wordpress-tv-embed-handler.php
  tests/php/test-class-amp-youtube-embed-handler.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Infrastructure, cla: yes

#4912 Install latest version of PWA plugin from WordPress.org
  .dev-lib
Labels: cla: yes

#4900 Setup wizard: Mode selection screen
  assets/src/setup/components/amp-notice/index.js
  assets/src/setup/components/amp-notice/style.css
  assets/src/setup/components/amp-notice/test/__snapshots__/index.js.snap
  assets/src/setup/components/amp-notice/test/index.js
  assets/src/setup/components/nav/test/index.js
  assets/src/setup/components/navigation-context-provider.js
  assets/src/setup/components/reader-themes-context-provider.js
  assets/src/setup/components/site-scan-context-provider.js
  assets/src/setup/components/user-context-provider.js
  assets/src/setup/index.js
  assets/src/setup/pages/choose-reader-theme/index.js
  assets/src/setup/pages/index.js
  assets/src/setup/pages/technical-background/index.js
  assets/src/setup/pages/template-mode/get-selection-details.js
  assets/src/setup/pages/template-mode/index.js
  assets/src/setup/pages/template-mode/screen-ui.js
  assets/src/setup/pages/template-mode/style.css
  assets/src/setup/pages/template-mode/svg-reader.js
  assets/src/setup/pages/template-mode/svg-standard.js
  assets/src/setup/pages/template-mode/svg-transitional.js
  assets/src/setup/pages/template-mode/test/get-selection-details.js
  assets/src/setup/style.css
  tests/e2e/specs/amp-onboarding/index.js
  tests/e2e/specs/amp-onboarding/reader-themes.js
  tests/e2e/specs/amp-onboarding/template-mode.js
  webpack.config.js
Labels: cla: yes

#4915 Validate filtered services
  src/Infrastructure/ServiceBasedPlugin.php
  tests/php/src/Fixture/DummyService.php
  tests/php/src/Fixture/DummyServiceBasedPlugin.php
  tests/php/src/Integration/Infrastructure/ServiceBasedPluginTest.php
  tests/php/src/Unit/Infrastructure/InjectionChainTest.php
  tests/php/src/Unit/Infrastructure/LazilyInstantiatedServiceTest.php
  tests/php/src/Unit/Infrastructure/SimpleInjectorTest.php
  tests/php/src/Unit/Infrastructure/SimpleServiceContainerTest.php
Labels: Bug, Infrastructure, Testing, cla: yes

#4916 Disable service container filtering by default
  src/AmpWpPlugin.php
  src/Infrastructure/ServiceBasedPlugin.php
  tests/php/src/Integration/AmpWpPluginTest.php
  tests/php/src/Integration/Infrastructure/ServiceBasedPluginTest.php
Labels: Infrastructure, cla: yes

#4942 Use SVG variant of `yes-alt` Dashicon
  assets/css/src/amp-icons.css
Labels: cla: yes

#4947 Update dependency sirbrillig/phpcs-variable-analysis to v2.8.2
  composer.json
  composer.lock
  includes/amp-post-template-functions.php
  includes/embeds/class-amp-dailymotion-embed-handler.php
  includes/embeds/class-amp-vimeo-embed-handler.php
  includes/options/class-amp-options-manager.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/validation/class-amp-validation-manager.php
  src/Transformer/AmpSchemaOrgMetadata.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4948 Set status for HTTPS status Site Health test to critical if `is_ssl()` returns false
  src/Admin/SiteHealth.php
  tests/php/test-class-site-health.php
Labels: cla: yes

#4796 Implement support for mobile redirection
  .eslintrc
  .phpcs.xml.dist
  assets/css/src/amp-mobile-version-switcher.css
  assets/src/admin/paired-browsing/app.js
  assets/src/mobile-redirection.js
  includes/admin/class-amp-template-customizer.php
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  includes/sanitizers/class-amp-link-sanitizer.php
  includes/settings/class-amp-customizer-design-settings.php
  includes/templates/amp-paired-browsing.php
  includes/templates/class-amp-post-template.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
  lib/common/src/Attribute.php
  lib/common/src/Tag.php
  phpstan.neon.dist
  src/AmpWpPlugin.php
  src/MobileRedirection.php
  src/PluginSuppression.php
  src/QueryVars.php
  templates/header-bar.php
  templates/style.php
  tests/php/src/Unit/MobileRedirectionTest.php
  tests/php/src/Unit/PluginSuppressionTest.php
  tests/php/static-analysis-stubs/wordpress-defines.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-customizer-design-settings.php
  tests/php/test-class-amp-link-sanitizer.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-theme-support.php
  tests/php/validation/test-class-amp-validation-manager.php
  webpack.config.js
Labels: cla: yes

#4943 Setup wizard: Add welcome screen
  assets/src/setup/components/nav/index.js
  assets/src/setup/components/navigation-context-provider.js
  assets/src/setup/pages/index.js
  assets/src/setup/pages/site-scan/index.js
  assets/src/setup/pages/technical-background/index.js
  assets/src/setup/pages/technical-background/style.css
  assets/src/setup/pages/technical-background/test/__snapshots__/index.js.snap
  assets/src/setup/pages/welcome/index.js
  assets/src/setup/pages/welcome/style.css
  assets/src/setup/setup-wizard.js
  tests/e2e/specs/amp-onboarding/index.js
  tests/e2e/specs/amp-onboarding/welcome.js
Labels: cla: yes

#4945 Setup wizard reader themes: indicate which themes can't be installed
  assets/images/reader-themes/legacy.png
  assets/src/setup/pages/choose-reader-theme/index.js
  assets/src/setup/pages/choose-reader-theme/style.css
  assets/src/setup/pages/choose-reader-theme/test/__snapshots__/index.js.snap
  assets/src/setup/pages/choose-reader-theme/theme-card.js
  assets/src/setup/style.css
  includes/class-amp-reader-themes.php
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  src/Option.php
  tests/e2e/specs/amp-onboarding/reader-themes.js
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-reader-themes.php
Labels: cla: yes
