Repository ampproject/amp-wp, pull requests merged in 2020-07, with the labels that each got.

#4966 Onboarding wizard UI polish
  assets/src/setup/components/amp-info/style.css
  assets/src/setup/components/amp-notice/index.js
  assets/src/setup/components/amp-notice/style.css
  assets/src/setup/components/amp-notice/test/__snapshots__/index.js.snap
  assets/src/setup/components/nav/index.js
  assets/src/setup/components/nav/style.css
  assets/src/setup/components/options-context-provider.js
  assets/src/setup/components/stepper/index.js
  assets/src/setup/components/stepper/test/__snapshots__/index.js.snap
  assets/src/setup/components/svg/mobile-redirect.js
  assets/src/setup/components/svg/user-icons.js
  assets/src/setup/components/user-context-provider.js
  assets/src/setup/pages/save/index.js
  assets/src/setup/pages/summary/redirect-toggle.js
  assets/src/setup/pages/summary/style.css
  assets/src/setup/pages/summary/test/__snapshots__/redirect-toggle.js.snap
  assets/src/setup/pages/technical-background/index.js
  assets/src/setup/pages/technical-background/style.css
  assets/src/setup/pages/technical-background/test/__snapshots__/index.js.snap
  assets/src/setup/pages/template-mode/index.js
  assets/src/setup/pages/template-mode/screen-ui.js
  assets/src/setup/pages/template-mode/style.css
  assets/src/setup/pages/welcome/index.js
  assets/src/setup/style.css
  assets/src/setup/utils/use-error.js
Labels: cla: yes

#4963 Add plugin activation notice
  src/Admin/DevToolsUserAccess.php
  src/Admin/PluginActivationNotice.php
  src/AmpWpPlugin.php
  tests/php/test-class-plugin-activation-notice.php
Labels: cla: yes

#4955 Turn off Developer Tools when user preference is disabled
  includes/amp-helper-functions.php
  includes/amp-post-template-functions.php
  includes/class-amp-theme-support.php
  includes/cli/class-amp-cli-validation-command.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  src/Admin/DevToolsUserAccess.php
  tests/php/src/Unit/PluginSuppressionTest.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp-img-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-class-amp-cli-validation-command.php
  tests/php/test-class-amp-core-block-handler.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-class-dev-tools-user-access.php
  tests/php/test-class-monitor-css-transient-caching.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4973 Ensure save screen has all option data
  assets/src/setup/pages/save/index.js
Labels: cla: yes

#4977 Prevent sanitization of Customizer preview styles
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4980 Update wizard UI and improve e2e tests
  assets/src/setup/__mocks__/amp-setup.js
  assets/src/setup/components/error-screen/index.js
  assets/src/setup/components/error-screen/test/index.js
  assets/src/setup/components/nav/index.js
  assets/src/setup/components/nav/test/__snapshots__/index.js.snap
  assets/src/setup/components/nav/test/index.js
  assets/src/setup/components/options-context-provider.js
  assets/src/setup/components/reader-themes-context-provider.js
  assets/src/setup/components/user-context-provider.js
  assets/src/setup/index.js
  assets/src/setup/pages/choose-reader-theme/index.js
  assets/src/setup/pages/save/index.js
  assets/src/setup/pages/save/style.css
  assets/src/setup/pages/summary/index.js
  assets/src/setup/pages/summary/style.css
  assets/src/setup/pages/summary/transitional.js
  assets/src/setup/pages/template-mode/get-selection-details.js
  assets/src/setup/pages/template-mode/index.js
  assets/src/setup/pages/template-mode/screen-ui.js
  assets/src/setup/setup-wizard.js
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  tests/e2e/amp-onboarding/done.js
  tests/e2e/amp-onboarding/nav.js
  tests/e2e/amp-onboarding/reader-themes.js
  tests/e2e/amp-onboarding/summary.js
  tests/e2e/amp-onboarding/technical-background.js
  tests/e2e/amp-onboarding/template-mode.js
  tests/e2e/amp-onboarding/utils.js
  tests/e2e/config/bootstrap.js
  tests/e2e/specs/admin/amp-options.js
  tests/e2e/specs/admin/mobile-redirect.js
  tests/e2e/specs/amp-onboarding.js
  tests/e2e/specs/amp-onboarding/done.js
  tests/e2e/specs/amp-onboarding/exit-links.js
  tests/e2e/specs/amp-onboarding/reader-themes.js
  tests/e2e/specs/amp-onboarding/summary.js
  tests/e2e/specs/amp-onboarding/technical-background.js
  tests/e2e/specs/amp-onboarding/template-mode.js
  tests/e2e/specs/amp-onboarding/transitional-recommendation.js
  tests/e2e/specs/amp-onboarding/welcome.js
  tests/e2e/utils/activate-theme.js
  tests/e2e/utils/delete-theme.js
  tests/e2e/utils/install-theme.js
  tests/e2e/utils/onboarding-wizard-utils.js
Labels: cla: yes

#4991 Optimize AMP_Tag_And_Attribute_Sanitizer::get_missing_mandatory_attributes()
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
Labels: cla: yes

#4987 Allow mobile redirection in dev mode and allow mobile switcher link in Customizer preview (if in Transitional mode)
  assets/src/mobile-redirection.js
  includes/templates/amp-paired-browsing.php
  src/MobileRedirection.php
Labels: cla: yes

#4986 Improve AMP admin bar item when DevTools is turned off
  assets/css/src/amp-icons.css
  includes/amp-helper-functions.php
  includes/validation/class-amp-validation-manager.php
  src/Icon.php
  tests/php/src/Unit/IconTest.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4993 Add Settings link to the AMP admin bar item when Dev Tools enabled
  includes/validation/class-amp-validation-manager.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: cla: yes

#4992 Include amp-state as allowed protocol for amp-list
  includes/sanitizers/class-amp-allowed-tags-generated.php
Labels: cla: yes

#4999 Add checking for whether AMP query var is defined too late for Reader themes
  assets/src/setup/pages/choose-reader-theme/index.js
  includes/amp-helper-functions.php
  includes/options/class-amp-options-menu.php
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  src/AmpSlugCustomizationWatcher.php
  src/AmpWpPlugin.php
  src/ReaderThemeLoader.php
  tests/php/src/Unit/AmpSlugCustomizationWatcherTest.php
Labels: cla: yes

#5000 Correctly show error count for unreviewed, removed & kept errors in Error Index
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
Labels: cla: yes

#4984 Implement ReaderThemeLoader service to load selected Reader theme for AMP pages
  assets/css/src/amp-customizer-legacy.css
  assets/css/src/amp-customizer.css
  assets/src/customizer/amp-customize-controls-legacy.js
  assets/src/customizer/amp-customize-controls.js
  assets/src/customizer/amp-customize-preview-legacy.js
  assets/src/customizer/amp-customizer-design-preview-legacy.js
  assets/src/setup/pages/choose-reader-theme/index.js
  assets/src/setup/pages/save/index.js
  includes/admin/class-amp-post-meta-box.php
  includes/admin/class-amp-template-customizer.php
  includes/admin/functions.php
  includes/amp-helper-functions.php
  includes/class-amp-post-type-support.php
  includes/class-amp-service-worker.php
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-options-menu.php
  includes/options/views/class-amp-setup-wizard-submenu-page.php
  includes/settings/class-amp-customizer-design-settings.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
  src/Admin/SiteHealth.php
  src/AmpSlugCustomizationWatcher.php
  src/AmpWpPlugin.php
  src/ReaderThemeLoader.php
  tests/php/src/Unit/AmpSlugCustomizationWatcherTest.php
  tests/php/src/Unit/MobileRedirectionTest.php
  tests/php/src/Unit/PluginSuppressionTest.php
  tests/php/src/Unit/ReaderThemeLoaderTest.php
  tests/php/test-amp-analytics-options.php
  tests/php/test-amp-form-sanitizer.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp-render-post.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-amp.php
  tests/php/test-class-amp-cli-validation-command.php
  tests/php/test-class-amp-editor-blocks.php
  tests/php/test-class-amp-http.php
  tests/php/test-class-amp-link-sanitizer.php
  tests/php/test-class-amp-meta-box.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-post-type-support.php
  tests/php/test-class-amp-service-worker.php
  tests/php/test-class-amp-template-customizer.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-class-site-health.php
  tests/php/test-includes-admin-functions.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-manager.php
  webpack.config.js
Labels: cla: yes

#5009 Suppress plugins early when making a Reader theme request
  src/PluginSuppression.php
  tests/php/src/Unit/PluginSuppressionTest.php
Labels: Bug, cla: yes

#5026 Remove escaping of title in legacy post templates
  templates/page.php
  templates/single.php
Labels: Bug, Reader Mode, cla: yes

#5019 Ensure Customizer options presented are relevant for each Reader theme
  includes/admin/class-amp-template-customizer.php
  includes/amp-helper-functions.php
  includes/options/class-amp-options-manager.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  src/ReaderThemeLoader.php
  tests/php/src/Unit/ReaderThemeLoaderTest.php
  tests/php/test-class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-template-customizer.php
Labels: cla: yes

#5028 Harden ReaderThemesTest when custom theme directories present
  tests/php/src/Unit/ReaderThemesTest.php
  tests/php/test-amp-style-sanitizer.php
Labels: Testing, cla: yes

#5032 Fix phpunit tests in WP 5.5
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-class-amp-youtube-embed-handler.php
Labels: Testing, cla: yes

#5031 Include theme versions in determining whether a validated URL is stale
  includes/validation/class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
Labels: cla: yes

#5022 Update npm dependencies
  .stylelintrc.json
  assets/src/components/amp-setting-toggle/test/__snapshots__/index.js.snap
  assets/src/components/redirect-toggle/test/__snapshots__/redirect-toggle.js.snap
  package-lock.json
  package.json
  webpack.config.js
Labels: cla: yes

#5033 Onboarding wizard: fix persistence of previously selected template mode when user revisits wizard
  assets/src/components/amp-info/style.css
  assets/src/css/template-mode-selection.css
  assets/src/onboarding-wizard/components/nav/index.js
  assets/src/onboarding-wizard/components/nav/test/__snapshots__/index.js.snap
  assets/src/onboarding-wizard/components/reader-mode-override-context-provider.js
  assets/src/onboarding-wizard/components/template-mode-override-context-provider.js
  assets/src/onboarding-wizard/index.js
  assets/src/onboarding-wizard/pages/summary/transitional.js
  assets/src/onboarding-wizard/pages/technical-background/index.js
  assets/src/onboarding-wizard/pages/template-mode/index.js
  src/Admin/OnboardingWizardSubmenuPage.php
  src/Admin/OptionsMenu.php
  tests/e2e/specs/amp-onboarding/template-mode-revisit.js
  tests/e2e/utils/onboarding-wizard-utils.js
Labels: cla: yes

#5037 Update AMP Customizer with info option notices on controls, notice on Menus panel, and update AMP panel description
  assets/css/src/amp-customizer.css
  assets/src/customizer/amp-customize-controls.js
  includes/admin/class-amp-template-customizer.php
  tests/php/test-class-amp-template-customizer.php
Labels: cla: yes

#5010 Revamp notice appearing in AMP Enabled toggle, revamp how plugin determines whether AMP can be disabled
  assets/css/src/amp-block-editor.css
  assets/src/block-editor/plugins/amp-toggle.js
  includes/admin/class-amp-post-meta-box.php
  includes/admin/functions.php
  includes/amp-helper-functions.php
  includes/class-amp-post-type-support.php
  includes/class-amp-theme-support.php
  includes/options/class-amp-options-manager.php
  includes/templates/amp-enabled-classic-editor-toggle.php
  src/Admin/OptionsMenu.php
  src/Admin/SiteHealth.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-amp.php
  tests/php/test-class-amp-meta-box.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-post-type-support.php
  tests/php/test-class-amp-theme-support.php
  tests/php/test-class-site-health.php
Labels: cla: yes

#5042 Initialize plugin_configured as true if plugin options are not empty
  assets/src/components/options-context-provider/index.js
  assets/src/onboarding-wizard/index.js
  assets/src/settings-page/index.js
  includes/options/class-amp-options-manager.php
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  tests/e2e/specs/admin/amp-options.js
  tests/e2e/specs/admin/mobile-redirect.js
  tests/e2e/utils/onboarding-wizard-utils.js
  tests/php/data/themes/child-of-core/style.css
  tests/php/data/themes/custom/index.php
  tests/php/data/themes/custom/style.css
  tests/php/src/Unit/PluginActivationNoticeTest.php
  tests/php/test-class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-options-manager.php
Labels: cla: yes

#5038 Update onboarding wizard entry points
  src/Admin/OnboardingWizardSubmenu.php
  src/Admin/OnboardingWizardSubmenuPage.php
  src/Admin/OptionsMenu.php
  src/Admin/PluginActivationNotice.php
  tests/e2e/specs/admin/amp-options.js
  tests/e2e/specs/amp-onboarding/exit-links.js
  tests/php/src/Unit/OnboardingWizardSubmenuPageTest.php
  tests/php/src/Unit/OnboardingWizardSubmenuTest.php
  tests/php/src/Unit/OptionsMenuTest.php
  tests/php/src/Unit/PluginActivationNoticeTest.php
Labels: cla: yes

#5040 Plugin settings: Handle plugin suppression section with REST/React components
  assets/src/components/conditional-details/index.js
  assets/src/components/conditional-details/test/__snapshots__/index.js.snap
  assets/src/components/conditional-details/test/index.js
  assets/src/components/site-settings-provider/index.js
  assets/src/css/variables.css
  assets/src/settings-page/index.js
  assets/src/settings-page/plugin-suppression.js
  assets/src/settings-page/style.css
  includes/amp-helper-functions.php
  package-lock.json
  package.json
  src/AmpWpPlugin.php
  src/OptionsRESTController.php
  src/PluginSuppression.php
  tests/php/src/Unit/OptionsRESTControllerTest.php
  tests/php/src/Unit/PluginSuppressionTest.php
Labels: cla: yes

#5054 Fix PHPStan false positives
  lib/common/phpstan.neon.dist
  lib/optimizer/phpstan.neon.dist
Labels: Testing, Upstream Bug, cla: yes

#5057 Lock PHPStan into stable releases again and remove unneeded ignores
  composer.json
  lib/common/composer.json
  lib/common/phpstan.neon.dist
  lib/optimizer/composer.json
  lib/optimizer/phpstan.neon.dist
Labels: Testing, cla: yes

#5058 Make settings screen 4.9 compatible
  assets/src/polyfills/api-fetch.js
  assets/src/settings-page/welcome.js
  includes/amp-helper-functions.php
  src/Admin/OptionsMenu.php
  src/Admin/PluginActivationNotice.php
  webpack.config.js
Labels: cla: yes

#5059 Fix height of "Serve all templates" toggle
  assets/src/components/amp-setting-toggle/index.js
  assets/src/components/supported-templates-toggle/index.js
  assets/src/components/supported-templates-toggle/style.css
Labels: cla: yes

#5053 Decouple supported post types from whether all templates are supported
  assets/src/block-editor/plugins/amp-toggle.js
  assets/src/components/amp-setting-toggle/index.js
  assets/src/components/redirect-toggle/index.js
  assets/src/components/redirect-toggle/test/__snapshots__/redirect-toggle.js.snap
  assets/src/components/supported-templates-toggle/index.js
  assets/src/components/supported-templates-toggle/style.css
  assets/src/settings-page/supported-templates.js
  includes/admin/class-amp-post-meta-box.php
  includes/class-amp-post-type-support.php
  includes/options/class-amp-options-manager.php
  includes/validation/class-amp-validation-manager.php
  tests/php/src/OptionsRESTControllerTest.php
  tests/php/test-class-amp-options-manager.php
  tests/php/test-class-amp-post-type-support.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#5060 Allow non-core themes to be installed if added by amp_reader_themes filter
  src/Admin/ReaderThemes.php
  tests/php/src/Admin/ReaderThemesTest.php
Labels: Bug, cla: yes

#5061 Require user to be able to manage_options to obtain verbose Server-Timing
  src/AmpWpPlugin.php
  tests/php/src/Instrumentation/ServerTimingTest.php
Labels: cla: yes

#5062 Bump plugin version to v2.0
  amp.php
  assets/src/components/template-mode-option/style.css
  assets/src/onboarding-wizard/components/navigation-context-provider.js
  assets/src/onboarding-wizard/components/site-scan-context-provider.js
  includes/admin/class-amp-post-meta-box.php
  includes/admin/class-amp-template-customizer.php
  includes/amp-helper-functions.php
  includes/class-amp-http.php
  includes/class-amp-post-type-support.php
  includes/class-amp-theme-support.php
  includes/embeds/class-amp-core-block-handler.php
  includes/options/class-amp-options-manager.php
  includes/options/class-amp-reader-theme-rest-controller.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/templates/class-amp-content-sanitizer.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/widgets/class-amp-widget-archives.php
  includes/widgets/class-amp-widget-categories.php
  includes/widgets/class-amp-widget-text.php
  src/Admin/DevToolsUserAccess.php
  src/Admin/GoogleFonts.php
  src/Admin/OnboardingWizardSubmenu.php
  src/Admin/OnboardingWizardSubmenuPage.php
  src/Admin/OptionsMenu.php
  src/Admin/PluginActivationNotice.php
  src/Admin/ReaderThemes.php
  src/MobileRedirection.php
  src/OptionsRESTController.php
  src/QueryVar.php
  tests/php/src/Admin/GoogleFontsTest.php
  tests/php/src/Admin/OnboardingWizardSubmenuPageTest.php
  tests/php/src/Admin/OnboardingWizardSubmenuTest.php
  tests/php/src/Admin/PluginActivationNoticeTest.php
  tests/php/src/Admin/ReaderThemesTest.php
  tests/php/test-class-amp-reader-themes-rest-controller.php
  tests/php/test-class-dev-tools-user-access.php
Labels: cla: yes

#5073 Remove the Hulu & Vine embed handlers
  assets/src/block-editor/helpers/index.js
  bin/create-embed-test-post.php
  includes/amp-helper-functions.php
  includes/embeds/class-amp-hulu-embed-handler.php
  includes/embeds/class-amp-vine-embed-handler.php
  tests/php/test-amp-vine-embed-handler.php
  tests/php/test-class-amp-hulu-embed-handler.php
Labels: cla: yes

#5075 Update amphtml validator spec to commit 3aa007a (spec file rev 1060)
  includes/sanitizers/class-amp-allowed-tags-generated.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#5076 Improve presentation of selected AMP Reader theme in themes list
  src/ReaderThemeLoader.php
  tests/php/src/ReaderThemeLoaderTest.php
Labels: RME, Reader Mode, cla: yes

#5081 Update PHP-CSS-Parser library
  composer.json
  composer.lock
  tests/php/test-amp-style-sanitizer.php
Labels: cla: yes

#5080 Allow using child theme of selected Reader theme as active theme
  includes/options/class-amp-options-manager.php
  src/ReaderThemeLoader.php
Labels: cla: yes

#5087 Allow filtering of inner component URL
  Gruntfile.js
  assets/js/amp-wp-app-shell.js
  assets/src/amp-wp-app-shell/index.js
  includes/amp-helper-functions.php
  webpack.config.js
Labels: cla: yes

#5071 Compress reader mode theme screenshots
  assets/images/reader-themes/legacy.jpg
  assets/images/reader-themes/legacy.png
  assets/images/reader-themes/twentyeleven.jpg
  assets/images/reader-themes/twentyeleven.png
  assets/images/reader-themes/twentyfifteen.jpg
  assets/images/reader-themes/twentyfifteen.png
  assets/images/reader-themes/twentyfourteen.jpg
  assets/images/reader-themes/twentyfourteen.png
  assets/images/reader-themes/twentynineteen.jpg
  assets/images/reader-themes/twentynineteen.png
  assets/images/reader-themes/twentyseventeen.jpg
  assets/images/reader-themes/twentyseventeen.png
  assets/images/reader-themes/twentysixteen.jpg
  assets/images/reader-themes/twentysixteen.png
  assets/images/reader-themes/twentythirteen.jpg
  assets/images/reader-themes/twentythirteen.png
  assets/images/reader-themes/twentytwelve.jpg
  assets/images/reader-themes/twentytwelve.png
  assets/images/reader-themes/twentytwenty.jpg
  assets/images/reader-themes/twentytwenty.png
  src/Admin/ReaderThemes.php
Labels: cla: yes

#5085 Add custom PHPCS ruleset
  lib/common/.phpcs.xml.dist
  lib/common/composer.json
  lib/common/src/Amp.php
  lib/common/src/Dom/Document.php
  lib/common/src/Exception/FailedToGetCachedResponse.php
  lib/common/src/RemoteRequest/FilesystemRemoteGetRequest.php
  lib/common/src/Role.php
  lib/optimizer/.phpcs.xml.dist
  lib/optimizer/bin/sync-amp-toolbox-test-suite.php
  lib/optimizer/composer.json
  lib/optimizer/resources/local_fallback/rtv/metadata
  lib/optimizer/resources/local_fallback/v0.css
  lib/optimizer/src/Configuration.php
  lib/optimizer/src/Configuration/AmpRuntimeCssConfiguration.php
  lib/optimizer/src/Configuration/TransformedIdentifierConfiguration.php
  lib/optimizer/src/Error/CannotInlineRuntimeCss.php
  lib/optimizer/src/Error/CannotRemoveBoilerplate.php
  lib/optimizer/src/Exception/InvalidConfigurationKey.php
  lib/optimizer/src/Exception/InvalidConfigurationValue.php
  lib/optimizer/src/Exception/UnknownConfigurationKey.php
  lib/optimizer/src/Transformer/AmpBoilerplate.php
  lib/optimizer/src/Transformer/AmpRuntimeCss.php
  lib/optimizer/src/Transformer/ReorderHead.php
  lib/optimizer/src/Transformer/ServerSideRendering.php
  lib/optimizer/src/Transformer/TransformedIdentifier.php
  lib/optimizer/tests/spec/end-to-end/body-only/expected_output.lts.html
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.default.html
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.lts.html
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.paired.html
  lib/optimizer/tests/spec/end-to-end/hello-world/input.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/amp-iframe/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/amp-iframe/input.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/amp-iframe_data-hero/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/amp-iframe_data-hero/input.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/attributes/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/attributes/input.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/fixed/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/fixed/input.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/intrinsic-layout/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/intrinsic-layout/input.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/responsive-layout/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/PreloadHeroImage/responsive-layout/input.html
  lib/optimizer/tests/spec/transformers/experimental/RewriteAmpUrls/adds_esm/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/RewriteAmpUrls/adds_geoapi/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/RewriteAmpUrls/adds_lts/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/RewriteAmpUrls/adds_preloads/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/RewriteAmpUrls/adds_runtime_version/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/RewriteAmpUrls/rewrites_host_and_adds_version/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/RewriteAmpUrls/rewrites_hosts/expected_output.html
  lib/optimizer/tests/spec/transformers/experimental/RewriteAmpUrls/rewrites_hosts/input.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/data-hero_amp-img/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/data-hero_amp-img/input.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/data-hero_amp-img_maximum/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/data-hero_amp-img_maximum/input.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/does_not_duplicate_existing_image_preload/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/PreloadHeroImage/does_not_duplicate_existing_image_preload/input.html
  lib/optimizer/tests/spec/transformers/valid/ServerSideRendering/boilerplate_not_removed_when_amp-story_present/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/ServerSideRendering/boilerplate_not_removed_when_amp-story_present/input.html
Labels: Optimizer, Testing, cla: yes

#5088 Modify comments link to go to non-AMP version of post when in legacy Reader mode
  includes/class-amp-theme-support.php
  tests/php/test-class-amp-theme-support.php
Labels: cla: yes

#4775 Rework how and whether galleries are rendered as carousels
  assets/src/block-editor/helpers/index.js
  assets/src/block-editor/index.js
  includes/embeds/class-amp-core-block-handler.php
  includes/embeds/class-amp-gallery-embed-handler.php
  includes/sanitizers/class-amp-gallery-block-sanitizer.php
  lib/common/src/Tag.php
  src/AmpWpPlugin.php
  src/Component/CaptionedSlide.php
  src/Component/Carousel.php
  src/Component/HasCaption.php
  src/Dom/ElementList.php
  src/Embed/HandlesGalleryEmbed.php
  src/ObsoleteBlockAttributeRemover.php
  tests/php/src/ObsoleteBlockAttributeRemoverTest.php
  tests/php/test-amp-carousel.php
  tests/php/test-amp-gallery-embed-handler.php
  tests/php/test-class-amp-gallery-block-sanitizer.php
  tests/php/test-class-amp-youtube-embed-handler.php
  tests/php/test-dom-element-list.php
Labels: cla: yes

#5094 Fix TikTok test
  tests/php/test-class-amp-tiktok-embed-handler.php
Labels: cla: yes

#5107 Keep non-AMP Customizer link referencing the currently-previewed URL
  .eslintrc
  assets/src/customizer/amp-customize-controls.js
Labels: Enhancement, cla: yes

#5100 Eliminate obsolete re-validation when switching template modes
  includes/options/class-amp-options-manager.php
  tests/php/test-class-amp-options-manager.php
Labels: cla: yes

#5105 Disable CSS tree shaking and CSS limit in Customizer preview
  includes/admin/class-amp-template-customizer.php
  includes/class-amp-theme-support.php
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-class-amp-core-theme-sanitizer.php
  tests/php/test-class-amp-theme-support.php
Labels: Bug, cla: yes

#5098 Ensure emoji AMP attribute can be restored if non-space whitespace used between attributes
  lib/common/src/Dom/Document.php
  lib/common/tests/Dom/DocumentTest.php
Labels: Bug, cla: yes

#5067 Settings screen and wizard: template mode and reader themes design updates
  assets/src/common/constants.js
  assets/src/components/amp-drawer/index.js
  assets/src/components/amp-drawer/style.css
  assets/src/components/amp-info/index.js
  assets/src/components/amp-info/style.css
  assets/src/components/amp-info/test/__snapshots__/index.js.snap
  assets/src/components/amp-notice/index.js
  assets/src/components/amp-notice/style.css
  assets/src/components/amp-notice/test/__snapshots__/index.js.snap
  assets/src/components/amp-notice/test/index.js
  assets/src/components/amp-setting-toggle/style.css
  assets/src/components/carousel/carousel-nav.js
  assets/src/components/carousel/index.js
  assets/src/components/carousel/test/carousel-nav.js
  assets/src/components/options-context-provider/__mocks__/index.js
  assets/src/components/reader-theme-carousel/index.js
  assets/src/components/reader-theme-carousel/style.css
  assets/src/components/reader-theme-selection/index.js
  assets/src/components/reader-theme-selection/style.css
  assets/src/components/reader-themes-context-provider/index.js
  assets/src/components/selectable/index.js
  assets/src/components/selectable/style.css
  assets/src/components/template-mode-option/index.js
  assets/src/components/template-mode-option/style.css
  assets/src/components/template-mode-option/test/__snapshots__/index.js.snap
  assets/src/components/template-mode-option/test/index.js
  assets/src/components/theme-card/index.js
  assets/src/components/theme-card/style.css
  assets/src/css/core-components.css
  assets/src/css/elements.css
  assets/src/css/variables.css
  assets/src/onboarding-wizard/components/nav/style.css
  assets/src/onboarding-wizard/pages/summary/style.css
  assets/src/onboarding-wizard/pages/technical-background/style.css
  assets/src/onboarding-wizard/pages/template-mode/get-selection-details.js
  assets/src/onboarding-wizard/pages/template-mode/screen-ui.js
  assets/src/onboarding-wizard/pages/template-mode/test/get-selection-details.js
  assets/src/onboarding-wizard/style.css
  assets/src/settings-page/index.js
  assets/src/settings-page/mobile-redirection.js
  assets/src/settings-page/plugin-suppression.js
  assets/src/settings-page/reader-themes.js
  assets/src/settings-page/style.css
  assets/src/settings-page/supported-templates.js
  assets/src/settings-page/template-modes.js
  assets/src/utils/use-window-width.js
  package-lock.json
  package.json
  tests/e2e/specs/admin/amp-options.js
  tests/e2e/specs/admin/mobile-redirect.js
  tests/e2e/specs/admin/reader-theme-carousel.js
  tests/e2e/utils/onboarding-wizard-utils.js
Labels: cla: yes

#5121 Supply newly-missing ImageObject type for publisher logo in Schema.org metadata
  includes/amp-helper-functions.php
  tests/php/test-amp-helper-functions.php
Labels: Bug, Schema.org Metadata, cla: yes

#5074 Add missing context element for XPath when processing video shortcodes text widgets
  includes/embeds/class-amp-core-block-handler.php
Labels: cla: yes

#5097 Restore noscript head elements immediately after parsing rather than at serialization
  lib/common/src/Dom/Document.php
  lib/common/tests/Dom/DocumentTest.php
  src/Admin/SiteHealth.php
  tests/php/test-amp-style-sanitizer.php
Labels: Bug, cla: yes

#5092 Minor onboarding/settings UI tweaks
  assets/src/components/amp-notice/style.css
  assets/src/components/options-context-provider/__mocks__/index.js
  assets/src/components/reader-theme-selection/style.css
  assets/src/components/svg/done.js
  assets/src/components/template-mode-option/style.css
  assets/src/css/elements.css
  assets/src/onboarding-wizard/components/nav/index.js
  assets/src/onboarding-wizard/components/nav/test/index.js
  assets/src/onboarding-wizard/pages/index.js
  assets/src/onboarding-wizard/pages/save/index.js
  assets/src/onboarding-wizard/pages/save/style.css
  assets/src/onboarding-wizard/pages/summary/style.css
  assets/src/onboarding-wizard/pages/technical-background/style.css
  assets/src/onboarding-wizard/pages/welcome/style.css
  assets/src/settings-page/style.css
  includes/amp-helper-functions.php
  tests/e2e/specs/amp-onboarding/done.js
  tests/e2e/specs/amp-onboarding/exit-links.js
  tests/e2e/utils/onboarding-wizard-utils.js
Labels: cla: yes

#5128 Update onboarding wizard stepper design elements
  assets/src/components/svg/logo.js
  assets/src/components/svg/wordmark-logo.js
  assets/src/css/variables.css
  assets/src/onboarding-wizard/setup-wizard.js
  assets/src/onboarding-wizard/style.css
  tests/e2e/specs/amp-onboarding/technical-background.js
Labels: cla: yes

#5118 Add REST preloading for settings screen and wizard
  assets/src/components/options-context-provider/index.js
  assets/src/components/reader-themes-context-provider/index.js
  assets/src/onboarding-wizard/__mocks__/amp-settings.js
  assets/src/onboarding-wizard/components/user-context-provider.js
  assets/src/onboarding-wizard/index.js
  assets/src/settings-page/index.js
  src/Admin/OnboardingWizardSubmenuPage.php
  src/Admin/OptionsMenu.php
  src/Admin/RESTPreloader.php
  tests/e2e/utils/onboarding-wizard-utils.js
  tests/php/src/Admin/OnboardingWizardSubmenuPageTest.php
  tests/php/src/Admin/OptionsMenuTest.php
  tests/php/src/Admin/RESTPreloaderTest.php
Labels: cla: yes

#5125 General copy refinement
  assets/src/block-validation/helpers/index.js
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  src/Admin/PluginActivationNotice.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Enhancement, cla: yes

#5116 Refine copy of Onboarding Wizard and Settings Screen
  assets/src/onboarding-wizard/pages/save/index.js
  assets/src/onboarding-wizard/pages/summary/standard.js
  assets/src/onboarding-wizard/pages/technical-background/index.js
  assets/src/onboarding-wizard/pages/template-mode/get-selection-details.js
  assets/src/onboarding-wizard/pages/welcome/index.js
  assets/src/settings-page/template-modes.js
  assets/src/settings-page/welcome.js
Labels: cla: yes

#5123 Dynamically add the "Theme Selection" page if Reader mode is selected
  assets/src/components/options-context-provider/index.js
  assets/src/onboarding-wizard/components/navigation-context-provider.js
  assets/src/onboarding-wizard/components/template-mode-override-context-provider.js
  assets/src/onboarding-wizard/pages/choose-reader-theme/index.js
  assets/src/onboarding-wizard/pages/index.js
  assets/src/onboarding-wizard/pages/summary/transitional.js
  tests/e2e/specs/amp-onboarding/reader-themes.js
  tests/e2e/specs/amp-onboarding/template-mode.js
  tests/e2e/specs/amp-onboarding/transitional-recommendation.js
Labels: cla: yes

#5041 Add ability to copy theme mods from active theme to reader theme in AMP Customizer
  assets/css/src/amp-customizer.css
  assets/src/customizer/amp-customize-controls.js
  assets/src/onboarding-wizard/components/nav/index.js
  assets/src/onboarding-wizard/components/nav/test/index.js
  assets/src/settings-page/welcome.js
  includes/admin/class-amp-template-customizer.php
  src/ReaderThemeLoader.php
  tests/e2e/specs/amp-onboarding/done.js
  tests/php/test-class-amp-template-customizer.php
Labels: cla: yes

#5139 Wizard/settings: set reader theme to null if the selected option is uninstallable
  assets/src/components/reader-themes-context-provider/index.js
Labels: Bug, cla: yes
