Repository ampproject/amp-wp, pull requests merged in 2020-10, with the labels that each got.

#5450 Use current timestamp if post does not have a date
  includes/templates/class-amp-post-template.php
Labels: WS:Core, cla: yes

#5162 Add reference site export & import commands
  .gitignore
  composer.json
  composer.lock
  phpstan.neon.dist
  tests/php/register-wp-cli-commands.php
  tests/php/src/Cli/Export/ExportActivePlugins.php
  tests/php/src/Cli/Export/ExportActiveThemes.php
  tests/php/src/Cli/Export/ExportCustomizerSettings.php
  tests/php/src/Cli/Export/ExportOptions.php
  tests/php/src/Cli/Export/ExportResult.php
  tests/php/src/Cli/Export/ExportThemeMods.php
  tests/php/src/Cli/Export/ExportWidgets.php
  tests/php/src/Cli/Export/ExportWxrFile.php
  tests/php/src/Cli/Export/MediaFileUploader.php
  tests/php/src/Cli/ExportStep.php
  tests/php/src/Cli/Import/ActivatePlugin.php
  tests/php/src/Cli/Import/ActivateTheme.php
  tests/php/src/Cli/Import/ImportCustomizerSettings.php
  tests/php/src/Cli/Import/ImportOptions.php
  tests/php/src/Cli/Import/ImportSiteMeta.php
  tests/php/src/Cli/Import/ImportThemeMods.php
  tests/php/src/Cli/Import/ImportWidgets.php
  tests/php/src/Cli/Import/ImportWxrFile.php
  tests/php/src/Cli/Import/InstallTheme.php
  tests/php/src/Cli/ImportStep.php
  tests/php/src/Cli/ReferenceSiteCommandNamespace.php
  tests/php/src/Cli/ReferenceSiteExportCommand.php
  tests/php/src/Cli/ReferenceSiteImportCommand.php
  tests/php/src/Cli/ReferenceSiteImporter.php
  tests/php/src/Cli/SiteDefinition.php
  tests/php/src/Cli/WpImporterCompat.php
  tests/php/static-analysis-stubs/php-cli-tools.php
  tests/php/static-analysis-stubs/wp-cli.php
  tests/reference-sites/travel-blog.json
  tests/reference-sites/travel-blog.xml
Labels: Infrastructure, WS:Perf, cla: yes

#5445 Prevent tree-shaking amp-next-page styles when component used on page
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
Labels: WS:Core, cla: yes

#5441 Fix the AMP Preview button not being shown in the block editor
  assets/css/src/amp-block-editor.css
  assets/src/block-editor/components/amp-preview-button.js
  assets/src/block-editor/components/index.js
  assets/src/block-editor/helpers/index.js
  assets/src/block-editor/helpers/test/renderPreviewButton.js
  assets/src/block-editor/index.js
  assets/src/block-editor/plugins/wrapped-amp-preview-button.js
  assets/src/block-validation/store/selectors.js
  bin/local-env/install-wordpress.sh
  includes/admin/class-amp-post-meta-box.php
  tests/e2e/specs/block-editor/amp-preview-button.js
  tests/e2e/specs/block-editor/featured-image-notice.js
  tests/php/test-class-amp-meta-box.php
Labels: Bug, Editor, WS:Core, cla: yes

#5461 Fix rendering translations in JS
  webpack.config.js
Labels: WS:Core, cla: yes

#5464 Always normalize to use HTML5 doctype
  lib/common/src/Dom/Document.php
  lib/common/tests/Dom/DocumentTest.php
Labels: cla: yes

#5476 Add expiry to stylesheet cache transients so they are not autoloaded
  src/RemoteRequest/CachedRemoteGetRequest.php
  tests/php/test-amp-style-sanitizer.php
Labels: Caching, WS:Perf, cla: yes

#5483 Include additional sandbox tokens for converted iframes
  includes/sanitizers/class-amp-iframe-sanitizer.php
  tests/php/test-amp-iframe-sanitizer.php
  tests/php/test-amp-script-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: cla: yes

#5486 Ensure iframes in embeds with aspect ratios get responsive layout
  includes/sanitizers/class-amp-block-sanitizer.php
  tests/php/test-class-amp-block-sanitizer.php
Labels: Embeds, cla: yes

#5494 Improve string rendition of float numbers for sizers
  lib/optimizer/resources/local_fallback/rtv/metadata
  lib/optimizer/resources/local_fallback/v0.css
  lib/optimizer/src/Transformer/ServerSideRendering.php
  lib/optimizer/tests/Transformer/ServerSideRenderingTest.php
  lib/optimizer/tests/spec/end-to-end/body-only/expected_output.default.html
  lib/optimizer/tests/spec/end-to-end/body-only/expected_output.lts.html
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.default.html
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.lts.html
  lib/optimizer/tests/spec/end-to-end/hello-world/expected_output.paired.html
  lib/optimizer/tests/spec/end-to-end/story/expected_output.default.html
  lib/optimizer/tests/spec/end-to-end/story/expected_output.lts.html
  lib/optimizer/tests/spec/end-to-end/story/expected_output.paired.html
  lib/optimizer/tests/spec/transformers/valid/ServerSideRendering/converts_heights_attribute_to_css/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/ServerSideRendering/converts_sizes_attribute_to_css/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/ServerSideRendering/does_not_convert_invalid_heights_attribute/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/ServerSideRendering/does_not_convert_invalid_sizes_attribute/expected_output.html
  lib/optimizer/tests/spec/transformers/valid/ServerSideRendering/transforms_layout_responsive/expected_output.html
Labels: Optimizer, WS:Perf, cla: yes

#5491 Remove noncompulsory plugin headers
  amp.php
Labels: WS:Core, cla: yes

#4312 Default to ?amp=1 query parameter
  includes/admin/class-amp-post-meta-box.php
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  includes/embeds/class-amp-core-block-handler.php
  includes/options/class-amp-options-manager.php
  includes/sanitizers/class-amp-form-sanitizer.php
  includes/sanitizers/class-amp-link-sanitizer.php
  includes/templates/amp-paired-browsing.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-manager.php
  src/MobileRedirection.php
  src/PluginSuppression.php
  src/ReaderThemeLoader.php
  tests/php/src/Admin/ReaderThemesTest.php
  tests/php/src/MobileRedirectionTest.php
  tests/php/src/ReaderThemeLoaderTest.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-link-sanitizer.php
  tests/php/test-class-amp-theme-support.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
Labels: WS:Core, cla: yes

#5485 Update how Imgur IDs are parsed
  includes/embeds/class-amp-imgur-embed-handler.php
  tests/php/test-class-amp-imgur-embed-handler.php
Labels: WS:Core, cla: yes

#5493 Add theme-unit-test reference site
  tests/php/src/Cli/Import/ImportWxrFile.php
  tests/php/src/Cli/ReferenceSiteImportCommand.php
  tests/reference-sites/theme-unit-test.json
Labels: Testing, WS:Perf, cla: yes

#5475 Allow for tests to be run on PHP 8
  .dev-lib
  .travis.yml
  composer.json
  tests/php/src/DevTools/CallbackReflectionTest.php
Labels: Infrastructure, WS:Core, cla: yes

#5443 Settings screen: improve discoverability of save button
  assets/src/css/core-components.css
  assets/src/onboarding-wizard/components/nav/index.js
  assets/src/onboarding-wizard/components/nav/style.css
  assets/src/onboarding-wizard/components/nav/test/__snapshots__/index.js.snap
  assets/src/onboarding-wizard/components/nav/test/index.js
  assets/src/settings-page/index.js
  assets/src/settings-page/settings-footer.js
  assets/src/settings-page/style.css
  tests/e2e/specs/admin/amp-options.js
  tests/e2e/specs/admin/analytics-options.js
  tests/e2e/specs/amp-onboarding/close-button.js
  tests/e2e/specs/amp-onboarding/welcome.js
  tests/e2e/specs/block-editor/amp-preview-button.js
  tests/e2e/utils/onboarding-wizard-utils.js
Labels: WS:UX, cla: yes

#5509 Prevent AMP-to-AMP linking for link with Mustache template variables
  includes/sanitizers/class-amp-link-sanitizer.php
  tests/php/test-class-amp-link-sanitizer.php
Labels: Bug, WS:Core, cla: yes

#5513 Prevent generating invalid width/height for amp-iframe when fill layout is detected via inline style
  includes/sanitizers/class-amp-base-sanitizer.php
  tests/php/test-amp-iframe-sanitizer.php
Labels: cla: yes

#5522 Fix typo class-amp-iframe-sanitizer.php
  includes/sanitizers/class-amp-iframe-sanitizer.php
Labels: Documentation

#5516 Raise validation error if width or height attribute is invalid
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  lib/common/src/CssLength.php
  lib/optimizer/src/Transformer/ServerSideRendering.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: Bug, Sanitizers, WS:Core

#5528 Skip Facebook embed test if oEmbed endpoint is down
  tests/php/bootstrap.php
  tests/php/test-amp-facebook-embed-handler.php
Labels: Embeds, WS:Core

#5531 Fix PHPUnit tests in WordPress 5.6-beta1
  tests/php/src/PluginRegistryTest.php
  tests/php/test-amp-facebook-embed-handler.php
Labels: Testing, WS:Core

#5530 Support @-moz-document url-prefix() Firefox CSS hack by transforming into @supports (-moz-appearance:meterbar)
  includes/sanitizers/class-amp-core-theme-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  src/PluginSuppression.php
  tests/php/src/PluginSuppressionTest.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: CSS, WS:Core

#5543 Temporarily force use of Composer v1 in Travis
  .travis.yml
Labels: Testing, WS:Core

#5500 Add buttons to copy error details to clipboard
  assets/src/amp-validation/amp-validated-url-post-edit-screen.js
  assets/src/amp-validation/copy-to-clipboard-buttons.js
  assets/src/amp-validation/get-url-validation-table-rows.js
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/validation/test-class-amp-validation-error-taxonomy.php
Labels: WS:Core, cla: yes

#5548 Reregister Facebook embed handler
  .github/workflows/build-test-measure.yml
  includes/embeds/class-amp-base-embed-handler.php
  includes/embeds/class-amp-facebook-embed-handler.php
  tests/php/test-amp-facebook-embed-handler.php
Labels: Embeds, WS:Core
