Repository ampproject/amp-wp, pull requests merged in 2020-09, with the labels that each got.

#5305 Accept removal of -moz-document at-rules in Twenty Nineteen
  includes/sanitizers/class-amp-core-theme-sanitizer.php
Labels: cla: yes

#5313 Prevent catastrophic backtracing when purging obsolete data-amp attributes
  src/ObsoleteBlockAttributeRemover.php
  tests/php/src/ObsoleteBlockAttributeRemoverTest.php
Labels: WS:Core, cla: yes

#5299 Update Pinterest embed URL regex
  includes/embeds/class-amp-pinterest-embed-handler.php
  tests/php/test-amp-pinterest-embed-handler.php
Labels: WS:Core, cla: yes

#5319 In editor, make "Review issues" link open in a new tab
  assets/src/block-validation/helpers/index.js
  tests/php/src/ReaderThemeLoaderTest.php
  tests/php/test-class-amp-core-block-handler.php
Labels: WS:UX, cla: yes

#5316 Apply post-processing if html tag contains AMP attribute
  includes/class-amp-theme-support.php
  tests/php/test-class-amp-theme-support.php
Labels: WS:Core, cla: yes

#5320 Surface exceptions and end failed responses with a 500
  .phpstorm.meta.php
  includes/class-amp-theme-support.php
  src/AmpWpPlugin.php
  src/ErrorPage.php
  tests/php/src/ErrorPageTest.php
  tests/php/test-class-amp-theme-support.php
Labels: Sanitizers, Validation, WS:Core, cla: yes

#5323 Fix enabling AMP-to-AMP linking when mobile redirection is active
  src/MobileRedirection.php
  tests/php/src/MobileRedirectionTest.php
  tests/php/test-class-amp-core-block-handler.php
Labels: Bug, P0, WS:Core, cla: yes

#5333 Disable DevTools by default in reader mode; add amp_dev_tools_user_default_enabled filter
  src/Admin/DevToolsUserAccess.php
  tests/php/test-class-dev-tools-user-access.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
Labels: cla: yes

#5334 Ignore docs folder when code coverage is being processed
  codecov.yml
Labels: Documentation, WS:Core, cla: yes

#5338 Disable widgets-block-editor when Reader theme loaded
  src/ReaderThemeLoader.php
  tests/php/src/ReaderThemeLoaderTest.php
Labels: cla: yes

#5344 Remove instances of @return annotation in hook documentation
  docs/templates/hook.mustache
  includes/class-amp-theme-support.php
Labels: Documentation, WS:Core, cla: yes

#5346 Fix test_add_block_source_comments with latest_posts dataset when Gutenberg installed from source
  tests/php/validation/test-class-amp-validation-manager.php
Labels: Testing, WS:Core, cla: yes

#5339 Ensure robots meta tag is added to AMP legacy template
  includes/amp-post-template-functions.php
Labels: Reader Mode, WS:Core, cla: yes

#5347 Allow test in Test_AMP_Core_Block_Handler to run now that WordPress/gutenberg#25026 has been merged
  tests/php/test-class-amp-core-block-handler.php
Labels: Testing, WS:Core, cla: yes

#5349 Settings screen: Add message for no suppressible plugins
  assets/src/settings-page/plugin-suppression.js
Labels: cla: yes

#5336 Only add_admin_menu_new_invalid_url_count when post type is show_in_menu
  includes/validation/class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
Labels: WS:Perf, cla: yes

#5335 Ensure post_publish_timestamp in AMP_Post_Template is UTC for human_time_diff()
  includes/templates/class-amp-post-template.php
Labels: Reader Mode, WS:Core, cla: yes

#5343 Cache error index counts and URL count in "At a Glance" widget
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/e2e/specs/amp-onboarding/template-mode.js
Labels: WS:Core, cla: yes

#5354 Update button text used in the locked post dialog when editing a validated URL post
  includes/validation/class-amp-validated-url-post-type.php
  tests/php/validation/test-class-amp-validated-url-post-type.php
Labels: WS:Core, cla: yes

#5362 Ensure amp_is_available() returns false when accessing Database Repair screen
  includes/amp-helper-functions.php
Labels: Bug, WS:Core, cla: yes

#5361 Wizard: Override reader mode selection and re-set page index before reaching done screen
  assets/src/onboarding-wizard/components/navigation-context-provider.js
  assets/src/onboarding-wizard/components/template-mode-override-context-provider.js
Labels: cla: yes

#5356 Update AMP validator spec to 2008290323001 and improve i-amphtml-* sanitization
  bin/amphtml-update.py
  includes/sanitizers/class-amp-allowed-tags-generated.php
  includes/sanitizers/class-amp-base-sanitizer.php
  includes/sanitizers/class-amp-style-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: WS:Core, cla: yes

#5375 Call error_get_last() prior to calling sanitizers to ensure fatal error is not masked
  includes/class-amp-theme-support.php
Labels: Bug, Developer Tools, WS:Core, cla: yes

#5289 Identify the theme/plugin responsible for calling amp_is_available() too early
  .phpcs.xml.dist
  .phpstorm.meta.php
  .travis.yml
  includes/admin/class-amp-template-customizer.php
  includes/amp-helper-functions.php
  includes/class-amp-theme-support.php
  includes/validation/class-amp-validated-url-post-type.php
  includes/validation/class-amp-validation-error-taxonomy.php
  includes/validation/class-amp-validation-manager.php
  phpstan.neon.dist
  src/Admin/OnboardingWizardSubmenuPage.php
  src/AmpWpPlugin.php
  src/DevTools/CallbackReflection.php
  src/DevTools/ErrorPage.php
  src/DevTools/FileReflection.php
  src/DevTools/LikelyCulpritDetector.php
  src/DevTools/UserAccess.php
  src/Exception/FailedToMakeInstance.php
  src/Infrastructure/Injector/InjectionChain.php
  src/Infrastructure/Injector/SimpleInjector.php
  src/PluginRegistry.php
  src/PluginSuppression.php
  tests/php/data/themes/child-of-core/actions.php
  tests/php/data/themes/child-of-core/functions.php
  tests/php/data/themes/custom/functions.php
  tests/php/src/DevTools/CallbackReflectionTest.php
  tests/php/src/DevTools/ErrorPageTest.php
  tests/php/src/DevTools/FileReflectionTest.php
  tests/php/src/DevTools/LikelyCulpritDetectorTest.php
  tests/php/src/DevTools/UserAccessTest.php
  tests/php/src/OptionsRESTControllerTest.php
  tests/php/src/PhpStan/ServicesDynamicReturnTypeExtension.php
  tests/php/src/PluginSuppressionTest.php
  tests/php/test-class-amp-link-sanitizer.php
  tests/php/test-class-amp-template-customizer.php
  tests/php/validation/test-class-amp-validation-manager.php
Labels: WS:Core, cla: yes

#5366 Validate and sanitize image candidates in srcset attribute
  .phpcs.xml.dist
  includes/amp-helper-functions.php
  includes/sanitizers/class-amp-srcset-sanitizer.php
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
  includes/validation/class-amp-validation-error-taxonomy.php
  tests/php/test-amp-helper-functions.php
  tests/php/test-class-amp-srcset-sanitizer.php
  tests/php/test-tag-and-attribute-sanitizer.php
Labels: WS:Core, cla: yes

#5388 Gather required script components even for kept invalid markup
  includes/sanitizers/class-amp-tag-and-attribute-sanitizer.php
Labels: Bug, Validation, WS:Core, cla: yes

#5392 Patch the PHP-CSS-Parser library to correctly validate the `turn` unit
  composer.json
  composer.lock
  includes/sanitizers/class-amp-style-sanitizer.php
  patches/php-css-parser-pull-193.patch
  tests/php/test-amp-style-sanitizer.php
Labels: Changelogged, WS:Core, cla: yes

#5368 Ensure get_default_reader_themes returns an array and sets the array as a class attribute, and handle failed themes_api in UI
  assets/src/components/reader-theme-carousel/index.js
  assets/src/components/reader-theme-selection/index.js
  assets/src/components/reader-themes-context-provider/index.js
  assets/src/components/themes-api-error/index.js
  includes/options/class-amp-reader-theme-rest-controller.php
  src/Admin/ReaderThemes.php
  tests/php/src/Admin/ReaderThemesTest.php
  tests/php/test-class-amp-reader-themes-rest-controller.php
Labels: Changelogged, WS:UX, cla: yes

#5403 Fix extraction of class names from string literals in [class] attributes
  includes/sanitizers/class-amp-style-sanitizer.php
  tests/php/test-amp-style-sanitizer.php
  tests/php/test-class-amp-tiktok-embed-handler.php
Labels: Bug, CSS, WS:Core, cla: yes

#5412 Restore original `onOpen` callback if not featured image modal
  assets/src/block-editor/components/with-media-library-notice.js
Labels: WS:Core, cla: yes

#5413 Prevent enabling all post types for AMP when migrating to 2.0 when Reader mode active
  includes/options/class-amp-options-manager.php
  tests/php/test-class-amp-options-manager.php
Labels: Bug, P0, WS:Core, cla: yes

#4441 In linting scripts, only lint diff from develop
  package-lock.json
  package.json
Labels: WS:Core, cla: yes

#5424 Run phpstan on staged PHP source files
  package.json
Labels: Infrastructure, WS:Core, cla: yes

#5425 Fix undefined index notice for some layout error titles
  includes/validation/class-amp-validation-error-taxonomy.php
Labels: Validation, WS:Core, cla: yes

#5421 Fix assertSimilarMarkup() helper and tests that it obfuscated
  lib/optimizer/resources/local_fallback/rtv/metadata
  lib/optimizer/resources/local_fallback/v0.css
  lib/optimizer/src/Transformer/ServerSideRendering.php
  lib/optimizer/tests/Transformer/ServerSideRenderingTest.php
  lib/optimizer/tests/src/MarkupComparison.php
  tests/php/src/Helpers/MarkupComparison.php
Labels: WS:Core, cla: yes

#5429 Add 'Mark as un/reviewed' buttons to URL validation bulk actions
  assets/src/amp-validation/amp-validated-url-post-edit-screen.js
  includes/validation/class-amp-validated-url-post-type.php
Labels: cla: yes

#5438 Revert "Run phpstan on staged PHP source files" and add pre-commit composer script
  composer.json
  package.json
Labels: WS:Core, cla: yes
